.wizard-sideNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: rgb(242, 242, 242);
  padding-top: 15px;
}

::ng-deep .fill-body > .ng-star-inserted {
  height: 100%;
}

.div-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wizard-content {
  background-color: white;
}

.wizard-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
}

.logo {
  padding-left: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.img-align {
  margin-left: 27px;
}

.img-align-col {
  align-self: center;
}

.menu-p {
  margin: 0px !important;
}

.button-container {
  width: 100%;
  padding-top: 35px;
  padding-left: 65px;
  padding-right: 65px;
}

.exit-button {
  height: 55px;
  font-weight: normal;
  width: 100%;
  border: 2px solid #234075 !important;
  color: #234075;
  background-color: #ffffff !important;
}

.active-side-item {
  background-color: #169bd5 !important;
  color: white !important;
  height: 100% !important;

  img:last-child {
    display: block !important;
  }
  img:first-child {
    display: none !important;
  }
}

.a-mat-button:hover {
  text-decoration: none !important;
}

a:not(.btn):focus {
  color: #234075;
}

.a-mat-button {
  @extend .img-active;
  width: 100%;
  text-align: unset;
  line-height: unset;
  color: #234075;
}

.img-active img:last-child {
  display: none;
}

.img-active:active img:last-child {
  display: block;
}

.img-active:active img:first-child {
  display: none;
}

.img-lock {
  display: block !important;
}

.img-lock-col {
  align-self: center;
}

.a-mat-button:disabled {
  color: #234075 !important;
}

.outer-div {
  padding-top: 15px;
  padding-bottom: 15px;
}
