<div class="row">
  <div class="col-md-12">
    <div class="row">
      <img
        class="img-fluid d-none d-md-block"
        src="/assets/images/essIcon.svg"
        width="114"
        height="147"
      />
      <img
        class="img-fluid d-md-none"
        src="/assets/images/essIcon.svg"
        width="114"
        height="147"
      />

      <div class="app-heading">
        <p class="submissionHeader">Evacuee Registration & Assistance (ERA)</p>
        <span style="font-size: 28px">Supplier Login</span>
      </div>
    </div>

    <hr />

    <h1>This Page Under Construction</h1>
  </div>
</div>
