<mat-card appearance="outlined" class="card-align">
  <mat-card-content>
    <p class="card-heading">Security Word</p>
    <div class="section-intro">
      <p>
        The security word is a vital piece of information to ensure an Emergency Support Services (ESS) Responder can
        access your ESS File.
      </p>
      <p>
        If you have been evacuated, please share the answer to this question with any household members that you are
        registering.
      </p>
      <p>
        This will enable an Emergency Support Services (ESS) Responder to assist them when you are not able to be
        present.
      </p>
    </div>
    <br />

    <form [formGroup]="secretForm">
      <div class="row">
        <div class="col-md-12">
          <p>
            Enter a memorable security word that is
            <b>over 6 characters in length</b>. You may include numbers and letters. The security word is not case
            sensitive.
          </p>
          <p>For security reasons, your security word should not include your email address.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <mat-form-field appearance="outline">
            <mat-label>Security word</mat-label>
            <input
              type="text"
              maxlength="100"
              minlength="6"
              formControlName="secretPhrase"
              matInput
              placeholder="Security word"
              required
            />
            @if (secretFormControl.secretPhrase.invalid && secretFormControl.secretPhrase.hasError('required')) {
              <mat-error> Security word is required</mat-error>
            }
            @if (secretFormControl.secretPhrase.invalid && secretFormControl.secretPhrase.hasError('minlength')) {
              <mat-error> Security word must be 6 characters or longer</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
