
    <div class="row heading-container">
        <div class="col-12">
            <span class="page-heading">Collection Notice & Authorization</span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <mat-card>
                <p> Some Text</p>
                <p> Some Text</p>
                <p> Some Text</p>
                <p> Some Text</p>
                <p> Some Text</p>
            </mat-card>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <button mat-flat-button color="primary" class="notice-button" (click)="submitNotice()">Next</button>
        </div>
    </div>
