<h3 class="with-icon incidentals">Incidentals {{> itemsDetailTitle}}</h3>
<p class="input-output incidentals-height">{{{ApprovedItemsPrinted}}}</p>
<br />
<p><strong>Total value:</strong> <span class="input-output">&#36;{{TotalAmountPrinted}}</span><em>(incl. GST/PST)</em></p>
