<mat-card class="card-align">
  <mat-card-content>
    <p class="card-heading">Security Phrase</p>
    <div class="section-intro">
      <p>
        The security phrase is a vital piece of information to ensure an
        Emergency Support Services (ESS) Responder can access your ESS File.
      </p>
      <p>
        If you have been evacuated, please share the answer to this question
        with any household members that you are registering.
      </p>
      <p>
        This will enable an Emergency Support Services (ESS) Responder to assist
        them when you are not able to be present.
      </p>
    </div>
    <br />

    <form [formGroup]="secretForm">
      <div class="row">
        <div class="col-md-12">
          <p>
            Enter a memorable security phrase that is
            <b>over 6 characters in length</b>. You may include numbers and
            letters. The security phrase is not case sensitive.
          </p>
          <p>
            For security reasons, your security phrase should not include your
            email address.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <mat-form-field appearance="outline">
            <mat-label>Security phrase</mat-label>
            <input
              type="text"
              maxlength="100"
              minlength="6"
              formControlName="secretPhrase"
              matInput
              placeholder="Security phrase"
              required
            />
            <mat-error
              *ngIf="
                secretFormControl.secretPhrase.invalid &&
                secretFormControl.secretPhrase.hasError('required')
              "
            >
              Security phrase is required</mat-error
            >
            <mat-error
              *ngIf="
                secretFormControl.secretPhrase.invalid &&
                secretFormControl.secretPhrase.hasError('minlength')
              "
            >
              Security phrase must be 6 characters or longer</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
