@import '../../../../styles/styles.scss';

.receipt-template {
  margin-top: 10px;
}
  
.box {
  padding: 10px;
  margin: 20px;
  border: 4px theme-color(primary) solid;
}

.requiredField::after {
  content: "*";
  color: red;
}

.add-referral-button {
  font-weight: bold;
  color: #2F6699 !important;
  border: 1px #2F6699 solid;
  background-color: white;
  margin-top: 1rem;

  &:hover,
  &:focus {
    color: white;
  }
  
  &:active {
    border: 2px solid rgba(white, 0.8);
  }
}

.total-dollar-line {
  line-height: 49px;
}