.next {
  float: right;
  width: 40%;
}

.back {
  width: 40%;
}

.form-container {
  margin-bottom: 40px;
}

.content-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.locked-field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.unlock-link {
  padding: 0;
  color: #169BD5;
}

.unlock-link:hover {
  text-decoration: underline;
}
