<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="row row-align">
        <div class="col-md-4 contact-info">
          <span>Contact ERA Support toll free at 1-844-537-7377</span>
        </div>

        <div class="col-md-6">
          <ul class="ul-direction">
            <li>
              <a
                class="link"
                href="https://ess.gov.bc.ca/"
                target="_blank"
                title="Goes to ESS Page"
                >Home</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca"
                target="_blank"
                title="Goes to BC Gov Page"
              >
                About gov.bc.ca</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/disclaimer"
                target="_blank"
                title="Goes to BC Gov Disclaimer Page"
                >Disclaimer</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/privacy"
                target="_blank"
                title="Goes to BC Gov Privacy Page"
                >Privacy</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/accessibility"
                target="_blank"
                title="Goes to BC Gov Accessibility Page"
                >Accessibility</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/copyright"
                target="_blank"
                title="Goes to BC Gov Copyright Page"
                >Copyright</a
              >
            </li>
            <span class="divider"></span>
            <li>
              <a
                class="link"
                href="https://www2.gov.bc.ca/gov/content/home/get-help-with-government-services"
                target="_blank"
                title="Goes to BC Gov Contact Page"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <span class="app-version" (click)="openVersionsModal()">
            Version Information
          </span>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
