.highlighted-word {
    color: #169BD5;
    font-weight: bold;
}

.card-heading-text {
    font-size: 40px;
    line-height: 55px;
}

.card-text {
    font-size: 18px;
    line-height: 29px;
}

.signin-button {
    width: 70%;
}

.img-align {
    display: block;
    margin: auto;
}

.info-card {
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}