/* You can add global styles to this file, and also import other style files */

@import './fonts';
$bcgov-font-path: "~@bcgov/bootstrap-theme/dist/fonts/";
@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";
@import './defaults.scss';
@import './variables';

@import "~@bcgov/bootstrap-theme/dist/scss/common";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~@angular/material/theming';

// monospace font used for fixed-size text blocks (eg, referral comments)
// NB: same font as PDF renderer service
@font-face {
    font-family: 'LiberationMono';
    src: url('/assets/LiberationMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/LiberationMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/LiberationMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

$custom-typography: mat-typography-config(
  $font-family: $font-family-sans-serif,
  $body-1: mat-typography-level(15px, 1.6, 400)
);

@include angular-material-typography($custom-typography);

main {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

html, body { height: 100%; }
body { margin: 0; }

.background {
  background-color: rgb(242, 242, 242);
}

.navbar-dark .navbar-nav .nav-link {
  color: #333333;
}

footer nav {
  background-color: #DCE2F0;
  border-top: 2px solid #fcba19;
}

.top-nav {
  color: rgb(96, 96, 96);
}

.mat-toolbar {
 background: #FFFFFF;
}
// .mat-step-icon {
//   height: 38px !important;
//   width: 38px !important;
//   border: 4px solid #169BD5;
// }

// .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-edit, .mat-step-header .mat-step-icon {
//     background-color: #FFFFFF !important;
//     color: #169BD5 !important;
// }

// .mat-step-header .mat-step-icon-state-done {
//   background-color: #169BD5 !important;
//   color: #FFFFFF !important;
// }

// .mat-step-header .mat-step-label {
//   color: #606060 !important;
// }

// .mat-step-header .mat-step-label.mat-step-label-active {
//     color: #169BD5 !important;
// }

// .mat-step-label-selected {
//   font-weight: normal !important;
// }

// .mat-stepper-horizontal-line {
//   border-top-width: 2px !important;
// }

// .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
//   top: 40px !important;
// }

// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
//  [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before,
//   .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
//    [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
//   border-top-width: 2px !important;
// }

// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
//   top: 40px !important;
// }

// @media screen and (max-width: 768px) {
//   .mat-step-label {
//     display: none !important;
//   }
// }

.mat-button, 
.mat-flat-button, 
.mat-icon-button, 
.mat-stroked-button { 
  border-radius: 0px !important; 
}

// .stepper-style {
//   background-color: transparent !important;
// }

.container-frame {
  padding-top: 40px ;
}

.heading-container {
  line-height: 40px;
  color: #003366;
}

.page-heading {
 font-size: 50px;
}

.button-style {
  height: 55px;
  font-weight: normal;
}

.button-yellow {
  @extend .button-style;
  color: black;
  background-color: #fcba19 !important;
  font-size: 21px;
}

.button-p {
  @extend .button-style;
  background-color: #234075;
  color: #FFFFFF ;
  font-size: 16px;
}

.button-s {
  @extend .button-style;
  border: 1px solid #B5B5B5 !important;
  color: #606060;
  background-color: #FFFFFF !important;
  font-size: 16px;
}

.button-transparent {
  @extend .button-style;
  color: #169BD5;
  font-size: 16px;
}

.button-p:hover {
  background-color: #169BD5;
}

.button-yellow:hover {
  background-color: #234075 !important;
  color: #FFFFFF;
}

.button-s:hover {
  background-color: #E5E5E5;
}

.button-p:disabled  {
  background-color: #234075;
  color: #FFFFFF !important;
}

button {
  border-width: 0px !important;
}

button:focus {
  outline: 0px !important;
}

@media screen and (max-width: 833px) {
   .button-yellow {
    width: 100% !important;
  }
  .button-p {
    width: 100% !important;
  }
  .button-s {
    margin-right: 0px !important;
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .cdk-overlay-pane {
    height: 350px !important;
  }
}

@media screen and (max-width: 905px){
  .responsive-heading .logo {
    width: 65px;
    height: 90px;
  }
}

@media screen and (max-width: 765px){
  .responsive-heading .logo {
    width: 82px;
    height: 108px;
  }
}

mat-card {
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
   border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
 .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px !important;
}

.mat-form-field-required-marker {
  color: red !important;
}

.mat-form-field-subscript-wrapper {
   position: relative !important;
}

// .sub-heading {
//   font-size: 16px;
//   font-weight: bold;
//   color: #169BD5;
// }

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #169BD5 !important;
}

.mat-checkbox-inner-container {
  height: 20px !important;
  width: 20px !important;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #169BD5 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
 .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
   .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #169BD5 !important;
}

.requiredField::after {
    content: "*";
    color: red;
 }

 .custom-mat-error {
   font-size: 75%;
 }

 .mat-dialog-container {
   border-radius: 0px !important;
 }

 .mat-radio-label {
   white-space: normal !important;
 }

 mat-form-field {
  width: 100%;
}

//  .note-box {
//   background-color: #F2F2F2;
//   padding: 8px;
//   font-family: 'BC Sans', sans-serif;
//   font-weight: 400;
//  }

//  .mat-expansion-panel {
//    border-radius: 0 !important;
//  }

//  .mat-expansion-panel-header-title {
//   margin-right: 0px !important;
//   font-size: 16px;
//   font-weight: 400;
//   justify-content: center;
//  }

//  .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
//   color: black !important;
//  }

//  .mat-tab-label {
//   opacity: 10 !important;
//   background-color: #CCCCCC !important;
//   min-width: 250px !important;
// }

// .mat-tab-label.mat-tab-label-active {
//   background-color: white !important;
//   min-width: 250px !important;
//   font-weight: 700 !important;
//   color: black !important;
// }

 .mat-tab-label, .mat-tab-link {
  color: #333333 !important;
  font-size: 16px;
  background-color: rgba(221, 221, 221, 1) !important;
  text-decoration: none;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
   background-color: transparent !important; 
}

.mat-tab-link {
  opacity: 1 !important;
}

.active-tab {
  background-color: white !important;
  min-width: 250px !important;
  font-weight: 700 !important;
  color: #333333 !important;
}

.active-list-item {
  color: #169BD5 !important;
}

.wizard-tab-heading {
  font-size: 26px;
  //color: rgb(35, 64, 117);
  font-weight: bold;
}



