<h3 class="with-icon housing">Hotel/Motel {{> itemsDetailTitle}}</h3>
<ul class="item-list">
    <li><span class="input-output">{{NumNights}}</span> <strong>Night(s)</strong></li>
    <li><span class="input-output">{{NumRooms}}</span> <strong>Room(s)</strong></li>
</ul>
