<div class="main-border">
  <app-outage-banner
    *ngIf="outageService.getShowOutageBanner() | async"
    (closeEvent)="closeOutageBanner($event)"
  ></app-outage-banner>

  <app-environment-banner
    *ngIf="environment !== null && environment !== undefined"
  ></app-environment-banner>

  <app-header
    *ngIf="show"
    [ngStyle]="
      environment !== null && environment !== undefined
        ? {
            border: 'solid ' + environment?.bannerColor,
            'border-width': '0px 5px 0px 5px'
          }
        : { padding: '0px' }
    "
  ></app-header>

  <main
    class="fill-body main-container background"
    [ngStyle]="
      environment !== null && environment !== undefined
        ? show
          ? {
              border: 'solid ' + environment?.bannerColor,
              'border-width': '0px 5px 0px 5px'
            }
          : {
              border: 'solid ' + environment?.bannerColor,
              'border-width': '0px 5px 5px 5px'
            }
        : { padding: '0px' }
    "
  >
    <div class="app-error">
      <app-alert></app-alert>
    </div>

    <div *ngIf="!isLoading">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div
    *ngIf="show"
    class="footer mt-auto"
    [ngStyle]="
      environment !== null && environment !== undefined
        ? {
            border: 'solid ' + environment?.bannerColor,
            'border-width': '0px 5px 5px 5px'
          }
        : { padding: '0px' }
    "
  >
    <app-footer></app-footer>
  </div>

  <app-loader
    class="spinner"
    [showLoader]="isLoading"
    [strokeWidth]="10"
    [diameter]="50"
    [color]="color"
  ></app-loader>
</div>
