.spinner {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}

.app-error {
  //padding: 50px;
  line-height: 4;
  font-size: 25px;
}

.main-border {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.main-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}



