<div
  class="border"
  [ngStyle]="
    environment !== null
      ? {
          padding: '0px 5px 5px 5px',
          'background-color': environment?.bannerColor
        }
      : { padding: '0px' }
  "
>
  <app-environment-banner
    *ngIf="environment !== null"
    [environment]="environment"
  ></app-environment-banner>
  <app-header *ngIf="show"></app-header>
  <main class="fill-body main-container background">
    <div class="app-error">
      <app-alert></app-alert>
    </div>

    <div *ngIf="!isLoading">
      <router-outlet></router-outlet>
    </div>
  </main>
  <div *ngIf="show" class="footer mt-auto">
    <app-footer [appVersion]="version"></app-footer>
  </div>
  <app-loader
    class="spinner"
    [showLoader]="isLoading"
    [strokeWidth]="10"
    [diameter]="50"
    [color]="color"
  ></app-loader>
</div>
