<div class="row">
  <div class="col-md-8">
    <mat-card>
      <p class="step-heading">Step 2 of 3</p>
      <form [formGroup]="newForm">
        <p class="bold">Supplier Address</p>
        <app-bc-address
          [addressForm]="supplierAddressFormGroup"
        ></app-bc-address>

        <ng-container [formGroup]="supplierContactFormGroup">
          <p class="bold">Supplier Contact Person</p>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                  formControlName="lastName"
                  maxlength="100"
                  matInput
                  placeholder="Last Name"
                  required
                />
                <mat-error
                  *ngIf="
                    contactFormControl.lastName.invalid &&
                    contactFormControl.lastName.hasError('whitespaceError')
                  "
                >
                  Last Name is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  formControlName="firstName"
                  maxlength="100"
                  matInput
                  placeholder="First Name"
                  required
                />
                <mat-error
                  *ngIf="
                    contactFormControl.firstName.invalid &&
                    contactFormControl.firstName.hasError('whitespaceError')
                  "
                >
                  First Name is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Contact Telephone Number</mat-label>
                <input
                  formControlName="phone"
                  matInput
                  placeholder="Contact Telephone Number"
                  [textMask]="{ mask: phoneMask, keepCharPositions: true }"
                  required
                />
                <mat-error
                  *ngIf="
                    contactFormControl.phone.invalid &&
                    contactFormControl.phone.hasError('required')
                  "
                >
                  Telephone Number is required</mat-error
                >
                <mat-error
                  *ngIf="
                    contactFormControl.phone.invalid &&
                    contactFormControl.phone.hasError('incorrectLength')
                  "
                >
                  Telephone number must have 10 digits</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input
                  formControlName="email"
                  matInput
                  placeholder="Email Address"
                />
                <mat-error
                  *ngIf="
                    contactFormControl.email.invalid &&
                    contactFormControl.email.hasError('email')
                  "
                  >Invalid email</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </form>
      <div class="row">
        <div class="col-md-3">
          <button class="button-s button-width" mat-button (click)="cancel()">
            Cancel
          </button>
        </div>
        <div class="col-md-3">
          <button
            class="button-p button-width"
            mat-button
            [disabled]="!newForm.valid"
            (click)="next()"
          >
            Next
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="tips-card">
      <div>
        <img src="/assets/images/tips-lightbulb.svg" height="63" width="62" />
        <span class="tips-heading"><b>Tips: </b>Contact Person</span>
      </div>
      <p class="tips-info">
        The supplier contact person may be asked for additional information and/
        or clarification regarding an invoice/ receipt reimbursement submission.
      </p>
    </mat-card>
  </div>
</div>
