.back-link {
  color: rgb(55, 171, 221);
}

.back-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active-status {
  color: #3c9d0f;
}

.void-status {
  color: #797979;
}

.expired-status {
  color: red;  
}

.draft-status {
  color: #f28200;
}

.paid-status {
  color: #4EB0DB;
}

.approved-status {
  color: #2204B5;
}

.pending-status {
  color: #47BAB8;
}

.review-status {
  color: #47BAB8;
}

.cancel-status {
  color: #DC2791;
}

.row-padding {
  padding-bottom: 20px;
}

.needs-box {
  background-color: #f2f2f2;
  box-shadow: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.question-heading {
  color: #234075;
  font-size: 21px;
  font-weight: bold;
}

.box-text-color {
  color: #717171;
}

.warning {
  color: red;
}

.link-padding {
  padding: 33px;
}

.img-padding {
  padding: 0 10px 0 10px;
}

.needs-padding {
  padding: 0 15px 0 15px;
}

.subheading {
  color: #234075;
  font-size: 21px;
}

.header-width {
  width: fit-content;
}
