<div class="toast-container">
  @for (toast of toastService.toasts; track toast) {
    <ngb-toast
      [class]="toast.classname"
      [autohide]="true"
      [delay]="toast.delay || 5000"
      (hidden)="toastService.remove(toast)"
    >
      <div class="toast-content">
        @if (toast.icon) {
          <fa-icon class="toast-icon" [icon]="toast.icon"></fa-icon>
        }
        <span class="toast-text">{{ toast.text }}</span>
        <fa-icon class="close-icon" [icon]="closeIcon" (click)="toastService.remove(toast)"></fa-icon>
      </div>
    </ngb-toast>
  }
</div>
