.toast-container {
    z-index: 1200;
    top: 0 !important;
    right: 0 !important;
    position: fixed;
    padding: 10px;

    .toast-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .toast-icon {
        margin-right: 10px;
    }

    .toast-text {
        flex: 1;
        text-align: left;
        overflow-wrap: break-word;
    }

    .close-icon {
        cursor: pointer;
        margin-left: 5px;
    }
}
