.eTransfer-form mat-form-field {
  width: 400px;
}

.container-with-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.card-question {
  font-size: var(--size-2);
  margin-bottom: var(--size-2);
}
