<div [formGroup]="detailsForm">
  <div class="row">
    <div class="col-md-12">
      <p class="question-heading">Supplier Details</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="bold">Name of Group Lodging Facility</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          formControlName="hostName"
          maxlength="255"
          matInput
          placeholder="Enter Name"
          required
        />
        <mat-error
          class="custom-mat-error"
          *ngIf="
            supportDeliveryFormControl?.hostName.invalid &&
            supportDeliveryFormControl?.hostName.hasError('whitespaceError')
          "
        >
          Lodging Facility Name is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="bold">Address of Group Lodging Facility</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input
          formControlName="hostAddress"
          maxlength="255"
          matInput
          placeholder="Enter Address"
          required
        />
        <mat-error
          class="custom-mat-error"
          *ngIf="
            supportDeliveryFormControl?.hostAddress.invalid &&
            supportDeliveryFormControl?.hostAddress.hasError('whitespaceError')
          "
        >
          Lodging Facility Address is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          maxlength="100"
          type="text"
          formControlName="hostCity"
          matInput
          placeholder="Enter City"
          [matAutocomplete]="auto"
          required
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="cityDisplayFn"
          (optionSelected)="getCommunityCode($event.option.value)"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            [id]="option.name"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            supportDeliveryFormControl?.hostCity.invalid &&
            supportDeliveryFormControl?.hostCity.hasError('required')
          "
        >
          City is required</mat-error
        >
        <mat-error *ngIf="validateCity()"> City is invalid</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="bold">Point of Contact for Group Lodging Facility</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input
          formControlName="hostPhone"
          maxlength="100"
          matInput
          placeholder="Telephone"
          [textMask]="{ mask: phoneMask, keepCharPositions: true }"
        />
        <!-- <mat-error
          *ngIf="
            supportDeliveryFormControl.hostPhone.invalid &&
            supportDeliveryFormControl.hostPhone.hasError('whitespaceError')
          "
        >
          Telephone is required</mat-error 
        > -->
        <mat-error
          *ngIf="
            supportDeliveryFormControl.hostPhone.invalid &&
            supportDeliveryFormControl.hostPhone.hasError('incorrectLength')
          "
        >
          Telephone must have 10 digits</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</div>
