<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading">Restriction</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <app-restriction-form
        [restrictionForm]="restrictionForm"
      ></app-restriction-form>
      <br />
      <br />
      <div class="row">
        <div class="col-md-12">
          <button
            class="button-p notice-button"
            mat-button
            type="button"
            (click)="submitRestriction()"
          >
            Next - Create Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
