<mat-card>
    <mat-card-content>
        <span class="evacuatedSecondary">Evacuated From</span>
        <mat-card-title class="evacuatedTitle">{{evacuationFileCard?.evacuatedFromAddress.jurisdiction.name}}
        </mat-card-title>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <p class="evacuatedSecondary"> Evacuated File Created </p>
                        <span class="dataSpan">20-Feb-2020</span>
                    </div>
                    <div class="col-md-3">
                        <label class="evacuatedSecondary"> Evacuation File # </label>
                        <span class="dataSpan">123456</span>
                    </div>
                    <div class="col-md-3">
                        <label class="evacuatedSecondary"> Supports Received </label>
                        <span class="dataSpan"> No </span>
                    </div>
                    <div class="col-md-3">
                        <label class="evacuatedSecondary"> Status </label>
                        <span class="statusSpan">
                            <img src="{{imageIcon}}" height="13" width="13">
                            {{evacuationFileStatus}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 button-align">
                <button class="button-p view-details" mat-stroked-button type="button" (click)="goToDetails()">View
                    Details</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>