<div class="container">
    <div class="row heading-container">
        <div class="col-md-12">
            <span class="page-heading">My Profile</span>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="showProfile">
        <div class="col-md-8">
            <mat-card>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        BCeID
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        Email Address
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        ESS Team
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        Electronic Access Agreement Signed
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        Last Active in ERA
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        Role
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-md-4 label">
                        Permisssions
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-5">
                        <button class="button-p edit-button" mat-button (click)="editProfile()">Edit Profile</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row" *ngIf="!showProfile">
        <div class="col-md-8">
            <mat-card>
        
                <!-- <div class="row">
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" required>
                        <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div> -->
                
                <div class="row">
                    <div class="col-md-5">
                        <button class="button-p edit-button" mat-button (click)="editProfile()">Edit Profile</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>

<br>