.row-tile {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-mdc-form-field {
  width: 100%;
}

.shelter {
  margin-left: 28px;
}

.mat-mdc-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.tab-subtitle {
  font-size: 150%;
  color: #234075;
  margin-bottom: 5px;
}
