<form [formGroup]="identifyNeedsForm">
  <mat-card class="card-align" style="padding-bottom: 0px">
    <mat-card-content>
      <p class="card-heading requiredField">
        If you require supports while evacuated, please let us know about your household’s needs.      
      </p>

      <div class="needs-section">
        <div>
          <mat-checkbox
            aria-labelledby="canEvacueeProvideLodging-checkbox-label"
            formControlName="canEvacueeProvideLodging"
            class="primary-checkbox"
          >
          </mat-checkbox>
        </div>
        <div class="needs-image-section">
          <img
            src="../../../../../assets/images/needs-lodging.svg"
            width="40px"
            height="42px"
            [class.grayscale]="identifyNeedsForm.get('canEvacueeProvideLodging').disabled"
          />
        </div>
        <div class="needs-text-section">
          <label class="tab-subtitle" id="lodging-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideLodging').disabled">
            Shelter
          </label>
          <div id="canEvacueeProvideLodging-checkbox-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideLodging').disabled">
            There are several ways to meet your shelter needs.  You can receive a shelter allowance and use that 
            money to find your own shelter or be provided with a referral to shelter (like a cot in a gym or a hotel/motel).
          </div>
        </div>
      </div>
      <div *ngIf="identifyNeedsForm.get('canEvacueeProvideLodging').value">
        <mat-radio-group
          aria-labelledby="canEvacueeProvideLodging-radio-group-label"
          formControlName="shelterOptions"
          class="primary-radio-group"
        >
          <div class="shelter-radio-button">
            <mat-radio-button class="primary-radio-button" value="Lodging - Shelter Allowance">
              I need the Shelter Allowance and can find my own shelter.
            </mat-radio-button>
            <a class="info-icon" (click)="openShelterAllowanceDialog()">
              <img src="/assets/images/info-on-hover.svg" height="25" width="25"
            /></a>
          </div>
          <div class="shelter-radio-button">
            <mat-radio-button class="primary-radio-button" value="Lodging - Hotel/Motel/Campground">
              I need a referral to shelter.
            </mat-radio-button>
            <a class="info-icon" (click)="openShelterReferralDialog()">
              <img src="/assets/images/info-on-hover.svg" height="25" width="25"
            /></a>
          </div>
        </mat-radio-group><br />
      </div>

      <div class="needs-section-foods">
        <div>
          <mat-checkbox
            aria-labelledby="canEvacueeProvideFood-checkbox-label"
            formControlName="canEvacueeProvideFood"
            class="primary-checkbox"
          >
          </mat-checkbox>
        </div>
        <div class="needs-image-section">
          <img
            src="../../../../../assets/images/needs-food.svg"
            width="40px"
            height="42px"
            [class.grayscale]="identifyNeedsForm.get('canEvacueeProvideFood').disabled"
          />
        </div>
        <div class="needs-text-section">
          <label class="tab-subtitle" id="food-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideFood').disabled">
            Food
          </label>
          <div id="canEvacueeProvideFood-checkbox-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideFood').disabled"></div>
        </div>
      </div>

      <div class="needs-section">
        <div>
          <mat-checkbox
            aria-labelledby="canEvacueeProvideClothing-checkbox-label"
            formControlName="canEvacueeProvideClothing"
            class="primary-checkbox"
          >
          </mat-checkbox>
        </div>
        <div class="needs-image-section">
          <img
            src="../../../../../assets/images/needs-clothing.svg"
            width="40px"
            height="42px"
            [class.grayscale]="identifyNeedsForm.get('canEvacueeProvideClothing').disabled"
          />
        </div>
        <div class="needs-text-section">
          <label class="tab-subtitle" id="clothing-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideClothing').disabled">
            Clothing
          </label>
          <div id="canEvacueeProvideClothing-checkbox-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideClothing').disabled"></div>
        </div>
      </div>

      <div class="needs-section">
        <div>
          <mat-checkbox
            aria-labelledby="canEvacueeProvideIncidentals-checkbox-label"
            formControlName="canEvacueeProvideIncidentals"
            class="primary-checkbox"
          >
          </mat-checkbox>
        </div>
        <div class="needs-image-section">
          <img
            src="../../../../../assets/images/needs-incidentals.svg"
            width="40px"
            height="42px"
            [class.grayscale]="identifyNeedsForm.get('canEvacueeProvideIncidentals').disabled"
            />
        </div>
        <div class="needs-text-section">
          <div style="display: flex; align-items: center;">
            <label class="tab-subtitle incidentals-label" id="incidentals-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideIncidentals').disabled">
              Incidentals&nbsp;&nbsp;
            </label>
            <a class="info-test" (click)="openIncidentalsDialog()">
              <img src="/assets/images/info-on-hover.svg" 
                height="25" 
                width="25"
                [class.grayscale]="identifyNeedsForm.get('canEvacueeProvideIncidentals').disabled"
              />
            </a>
          </div>
          <div id="canEvacueeProvideIncidentals-checkbox-label" [class.disabled-text]="identifyNeedsForm.get('canEvacueeProvideIncidentals').disabled"></div>
        </div>
      </div>

      <div class="needs-section mt-3">
        <div>
          <mat-checkbox
            aria-labelledby="doesEvacueeNotRequireAssistance-checkbox-label"
            formControlName="doesEvacueeNotRequireAssistance"
            class="primary-checkbox"
          >
          </mat-checkbox>
        </div>
        <div class="needs-image-section">
          <img
            src="../../../../../assets/images/does-not-need-support.svg"
            width="40px"
            height="42px"
            [class.grayscale]="identifyNeedsForm.get('doesEvacueeNotRequireAssistance').disabled"
          />
        </div>
        <div class="needs-text-section">
          <label class="tab-subtitle" id="doesEvacueeNotRequireAssistance-label" [class.disabled-text]="identifyNeedsForm.get('doesEvacueeNotRequireAssistance').disabled">
            I can meet my basic needs.  I do not require assistance.
          </label>
          <div 
            id="doesEvacueeNotRequireAssistance-checkbox-label"
            [class.disabled-text]="true">
          </div>
        </div>
      </div>
      <br />

    </mat-card-content>
  </mat-card>
</form>
