.tab-subtitle {
    font-size: 21px;
    color: #234075;
    margin-bottom: 0;
  }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 90px;
}

.needs-section {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.needs-section-foods {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0px;
}

.needs-image-section {
    margin-left: 20px;
}

.grayscale {
    filter: grayscale(100%);
}

.needs-text-section {
    margin-left: 20px;
}

.disabled-text {
    color: grey;
}

.info-icon {
    margin-left: 10px;
}

.shelter-radio-button {
    margin-top: 10px;
    margin-left: 120px;
    display: flex;
    align-items: center;
}