.primary-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .primary-radio-button {
    margin: 5px;
  }

  .radio-hint {
      font-style: italic;
  }

  .red-text {
    color: red;
  }

  mat-form-field {
    width: 100%;
  }