<form [formGroup]="primaryAddressForm">
  <mat-card class="card-align">
    <mat-card-content>
      <p class="card-heading">Primary Residence</p>
      <div class="row">
        <div class="col-md-12">
          <label id="isBcAddress-radio-group-label" class="requiredField"
            >Is your <b>primary residence</b> within British Columbia?</label
          >
          <br />
          <mat-hint class="radio-hint red-text"
            >A valid B.C. postal code must be entered in order to be eligible to
            receive an e-Transfer for qualifying supports in the event of an
            evacuation.</mat-hint
          >
          <br />
          <mat-hint class="radio-hint"
            >Primary residence: The dwelling where an individual or household
            spends most of their personal time. A person can only have one
            primary residence at any moment in time.</mat-hint
          >
          <mat-radio-group
            formControlName="isBcAddress"
            aria-labelledby="isBcAddress-radio-group-label"
            (change)="primaryAddressChange($event)"
            class="primary-radio-group"
            required
          >
            <mat-radio-button
              class="primary-radio-button"
              *ngFor="let option of radioOption"
              [value]="option"
            >
              {{ option }}
            </mat-radio-button>
            <mat-error
              class="custom-mat-error"
              *ngIf="
                primaryAddressFormControl?.isBcAddress?.touched &&
                primaryAddressFormControl?.isBcAddress?.invalid &&
                primaryAddressFormControl?.isBcAddress?.hasError('required')
              "
            >
              Primary Residence is required</mat-error
            >
          </mat-radio-group>
        </div>
      </div>

      <div
        *ngIf="primaryAddressFormControl?.isBcAddress?.value === 'Yes'"
        class="row"
      >
        <div class="col-md-12">
          <app-bc-address
            [addressForm]="primaryAddressFormControl?.address"
          ></app-bc-address>
        </div>
      </div>

      <div *ngIf="primaryAddressFormControl?.isBcAddress?.value === 'No'">
        <div formGroupName="address">
          <div class="row">
            <div class="col-md-5">
              <p class="requiredField">
                In what <b>country</b> is your primary residence located?
              </p>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  placeholder="Start Typing"
                  aria-label="Country"
                  matInput
                  formControlName="country"
                  [matAutocomplete]="auto"
                  required
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="countryDisplayFn"
                  (optionSelected)="setCountryConfig($event)"
                >
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option"
                  >
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="
                    primaryAddressFormControl?.address?.controls?.country
                      .invalid &&
                    primaryAddressFormControl?.address?.controls?.country.hasError(
                      'required'
                    )
                  "
                >
                  Country is required</mat-error
                >
                <mat-error
                  *ngIf="
                    validateCountry(
                      primaryAddressFormControl?.address?.controls?.country
                    )
                  "
                >
                  Country is invalid</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>

        <app-can-address
          *ngIf="
            primaryAddressFormControl?.address?.controls?.country?.value
              ?.code === 'CAN';
            else usa
          "
          [addressForm]="primaryAddressFormControl?.address"
        >
        </app-can-address>
        <ng-template #usa>
          <app-usa-address
            *ngIf="
              primaryAddressFormControl?.address?.controls?.country?.value
                ?.code === 'USA';
              else other
            "
            [addressForm]="primaryAddressFormControl?.address"
          >
          </app-usa-address>
        </ng-template>
        <ng-template #other>
          <app-other-address
            *ngIf="
              primaryAddressFormControl?.address?.controls?.country?.value
                ?.code !== 'USA' &&
              primaryAddressFormControl?.address?.controls?.country?.value
                ?.code !== 'CAN' &&
              primaryAddressFormControl?.address?.controls?.country?.value !==
                null
            "
            [addressForm]="primaryAddressFormControl?.address"
          >
          </app-other-address>
        </ng-template>
      </div>
      <!-- </form> -->
    </mat-card-content>
  </mat-card>
  <br />
  <br />

  <mat-card class="card-align">
    <mat-card-content>
      <p class="card-heading">Mailing Address</p>
      <!-- <form [formGroup]="mailingAddressForm"> -->

      <div class="row">
        <div class="col-md-12">
          <label
            id="isNewMailingAddress-radio-group-label"
            class="requiredField"
            >Is your <b>mailing address</b> the same as their primary residence
            above?</label
          >
          <mat-radio-group
            formControlName="isNewMailingAddress"
            aria-labelledby="isNewMailingAddress-radio-group-label"
            class="primary-radio-group"
            (change)="sameAsPrimary($event)"
            required
          >
            <mat-radio-button
              class="primary-radio-button"
              *ngFor="let option of radioOption"
              [value]="option"
            >
              {{ option }}
            </mat-radio-button>
            <mat-error
              class="custom-mat-error"
              *ngIf="
                primaryAddressFormControl?.isNewMailingAddress?.touched &&
                primaryAddressFormControl?.isNewMailingAddress?.invalid &&
                primaryAddressFormControl?.isNewMailingAddress?.hasError(
                  'required'
                )
              "
            >
              Required</mat-error
            >
          </mat-radio-group>
        </div>
      </div>

      <div
        *ngIf="primaryAddressFormControl?.isNewMailingAddress?.value === 'No'"
      >
        <div class="row">
          <div class="col-md-12">
            <label id="isBcMailingAddress-radio-group-label"
              >Is your <b>mailing address</b> within British Columbia?</label
            >
            <mat-radio-group
              formControlName="isBcMailingAddress"
              aria-labelledby="isBcMailingAddress-radio-group-label"
              (change)="mailingAddressChange($event)"
              class="primary-radio-group"
            >
              <mat-radio-button
                class="primary-radio-button"
                *ngFor="let option of radioOption"
                [value]="option"
              >
                {{ option }}
              </mat-radio-button>
              <mat-error
                class="custom-mat-error"
                *ngIf="
                  primaryAddressFormControl?.isBcMailingAddress.touched &&
                  primaryAddressFormControl?.isBcMailingAddress.invalid &&
                  primaryAddressFormControl?.isBcMailingAddress.hasError(
                    'required'
                  )
                "
              >
                Mailing Address is required</mat-error
              >
            </mat-radio-group>
          </div>
        </div>

        <div
          *ngIf="primaryAddressFormControl?.isBcMailingAddress.value === 'Yes'"
          class="row"
        >
          <div class="col-md-12">
            <app-bc-address
              [addressForm]="primaryAddressFormControl?.mailingAddress"
            ></app-bc-address>
          </div>
        </div>

        <div
          *ngIf="primaryAddressFormControl?.isBcMailingAddress.value === 'No'"
        >
          <div formGroupName="mailingAddress">
            <div class="row">
              <div class="col-md-5">
                <p>In what <b>country</b> is your primary residence located?</p>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    placeholder="Start Typing"
                    aria-label="Country"
                    matInput
                    formControlName="country"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="countryDisplayFn"
                    (optionSelected)="setMailingCountryConfig($event)"
                  >
                    <mat-option
                      *ngFor="let option of mailingFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      primaryAddressFormControl?.mailingAddress?.controls
                        ?.country.invalid &&
                      primaryAddressFormControl?.mailingAddress?.controls?.country.hasError(
                        'required'
                      )
                    "
                  >
                    Country is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      validateCountry(
                        primaryAddressFormControl?.mailingAddress?.controls
                          ?.country
                      )
                    "
                  >
                    Country is invalid</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>

          <app-can-address
            *ngIf="
              primaryAddressFormControl?.mailingAddress?.controls?.country
                ?.value?.code === 'CAN';
              else usa
            "
            [addressForm]="primaryAddressFormControl?.mailingAddress"
          >
          </app-can-address>
          <ng-template #usa>
            <app-usa-address
              *ngIf="
                primaryAddressFormControl?.mailingAddress?.controls?.country
                  ?.value?.code === 'USA';
                else other
              "
              [addressForm]="primaryAddressFormControl?.mailingAddress"
            >
            </app-usa-address>
          </ng-template>
          <ng-template #other>
            <app-other-address
              *ngIf="
                primaryAddressFormControl?.mailingAddress?.controls?.country
                  ?.value?.code !== 'USA' &&
                primaryAddressFormControl?.mailingAddress?.controls?.country
                  ?.value?.code !== 'CAN' &&
                primaryAddressFormControl?.mailingAddress?.controls?.country
                  ?.value !== null
              "
              [addressForm]="primaryAddressFormControl?.mailingAddress"
            >
            </app-other-address>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
