<div class="row">
  <div class="text-content">
    <p>
      ESS File # <b>{{ essFile }}</b> already exists in the ERA Tool. Please
      continue to that ESS File to proceed with paper-based entry. Speak to your
      supervisor if no results are displaying and you are still seeing this
      message, as the file might be restricted.
    </p>
    <p>Alternatively, go back and search again.</p>
    <br />
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="button-s button-width" mat-button (click)="close()">
        Close
      </button>
    </div>
  </div>
</div>
