.heading {
    color: #234075;
    font-size: 21px;
    line-height: 30px;
}

mat-card {
    border: none !important;
}

.submit {
    width: 25%;
    font-size: 16px;
}

.button-space {
    margin-right: 20px;
}

.paragraph-space {
    margin-bottom: 0px;
    margin-top: 50px;
}

.correct {
    color: #3C9D0F;
    font-size:small;
}

.incorrect {
    color: red;
    font-size:small;
}

.row-space {
    margin-bottom: 20px;
}

.fp-space {
    margin-bottom: 20px;
}

.double-space {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
