<mat-toolbar class="custom-toolbar">
  <!-- <button mat-icon-button (click)="onToggle()" fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button> -->
  <div fxShow="true" fxHide.lt-md>
    <a
      class="top-nav"
      mat-button
      routerLinkActive="active"
      routerLink="/invoices"
    >
      Invoices
    </a>
    <span class="divider"></span>
    <a
      class="top-nav"
      mat-button
      routerLinkActive="active"
      routerLink="/suppliers"
    >
    Suppliers
    </a>
  </div>
</mat-toolbar>


<!-- <nav>
  <ul>
    <li><a routerLink="/invoices" routerLinkActive="active" ariaCurrentWhenActive="page">Invoices</a></li>
    <li><a routerLink="/suppliers" routerLinkActive="active" ariaCurrentWhenActive="page">Suppliers</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>