version: "3.4"

services:
  suppliers-portal-api:
    build:
      context: ./suppliers/src/API
    image: embcess-suppliers-api:dev
    ports:
      - 7020:8080
    env_file:
      - .env

  suppliers-portal-ui:
    build:
      context: ./suppliers/src/UI
    image: embcess-suppliers-ui:dev
    ports:
      - 7200:2015
    environment:
      - "API_URL=suppliers-portal-api:8080"
    depends_on:
      - suppliers-portal-api
      
  registrants-portal-api:
    build:
      context: ./evacuees/src/API
    image: embcess-registrants-api:dev
    ports:
      - 5020:8080
    env_file:
      - .env

  registrants-portal-ui:
    build:
      context: ./evacuees/src/UI
    image: embcess-registrants-ui:dev
    ports:
      - 5200:2015
    environment:
      - "API_URL=registrants-portal-api:8080"
    depends_on:
      - registrants-portal-api

  responders-portal-api:
    build:
      context: ./responders/src/API
      args:
      - "GITHUB_NUGET_USERNAME=${GITHUB_NUGET_USERNAME}"
      - "GITHUB_NUGET_PAT=${GITHUB_NUGET_PAT}"
    image: embcess-responders-api:dev
    ports:
      - 6020:8080
    environment:
    - "BACKEND__URL=https://ess-backend:8080"
    - "BACKEND__ALLOWINVALIDSERVERCERTIFICATE=true"
    env_file:
      - .env
    depends_on:
      - ess-backend

  responders-portal-ui:
    build:
      context: ./responders/src/UI
    image: embcess-responders-ui:dev
    ports:
      - 6200:2015
    environment:
      - "API_URL=responders-portal-api:8080"
    depends_on:
      - responders-portal-api
  
  ess-backend:
    build:
      context: ./ess/src/API
    image: embcess-backend-api:dev
    ports:
      - 2020:8080
    env_file:
      - .env
    environment:
    - "ASPNETCORE_Kestrel__Certificates__Default__Path=/ssl/aspnetapp.pfx"
    volumes:
    - ~/.aspnet/https:/ssl/