@import '../../../styles/styles.scss';

// .referral-template{
//     margin-top: 10px;
//  }

.referral-header{
    background-color: rgba(theme-color(info), 0.5);
    padding: 10px;
 }

 .table-header{
    background-color: rgba(theme-color(info), 0.3);
 }

 .referral-border {
    margin: 15px;
    border: 2px rgba(theme-color(info), 0.5) solid;
    background-color: white;
 }

 .attach-header {
    font-weight: bold;
 }