<div [formGroup]="detailsForm">
  <div class="information-notes">
    <div class="row">
      <div class="col-md-12">
        <div class="primary-paragraph">
          <b>Important Information about Shelter Allowance referral</b>
          <br />
          <ul>
            <li>Support is provided by cheque issued to the evacuee</li>
            <li>It can take 6-8 weeks to receive payment/cheque from the date the Referral form is received by EMCR</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="question-heading">Payee Details</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="bold">Full Name</p>
      <p>Name of evacuee to whom cheque will be issued.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="question-heading bold">
        {{ detailsForm.get('hostName').value }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="bold">Contact Information</p>
      <p class="requiredField">
        Please provide at least 1 point of contact for the evacuee to whom the cheque will be issued.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input formControlName="hostPhone" matInput placeholder="Telephone" [imask]="phoneMask" autocomplete="off" />
        @if (
          supportDeliveryFormControl.hostPhone.invalid &&
          supportDeliveryFormControl.hostPhone.hasError('whitespaceError')
        ) {
          <mat-error> Telephone is required</mat-error>
        }
        @if (
          supportDeliveryFormControl.hostPhone.invalid &&
          supportDeliveryFormControl.hostPhone.hasError('incorrectLength')
        ) {
          <mat-error> Telephone must have 10 digits</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input formControlName="emailAddress" maxlength="100" matInput placeholder="Email Address" autocomplete="off" />
        @if (
          supportDeliveryFormControl.emailAddress.invalid &&
          supportDeliveryFormControl.emailAddress.hasError('whitespaceError')
        ) {
          <mat-error> Email is required</mat-error>
        }
        @if (
          supportDeliveryFormControl.emailAddress.invalid && supportDeliveryFormControl.emailAddress.hasError('email')
        ) {
          <mat-error>Invalid email</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</div>
