.question-heading {
  color: #234075;
  font-size: 21px;
}
.information-notes {
  background-color: rgba(35, 64, 117, 1);
  width: 41%;
  color: white;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 40px;
}
.primary-paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}
