<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->

  <section style="background-color: lightblue; height: 250px;">
      <div class="container">
          1
      </div>
  </section>

  <section style="background-color: lightgreen; height: 200px;">
    <div class="container">
        <div class="row section-b">
            <div class="col">
                Evacuted
            </div>
            <div class="col">
                <button mat-flat-button color="primary" (click)="login()">Primary-Evacuted</button>
            </div>
        </div>
    </div>
</section>

<section style="height: 350px;">
    <div class="container">
        <div class="row section-c">
            <div class="col">
                <mat-card>
                   <!-- <mat-card-content> -->
                      <p>
                        SomeText
                      </p>
                    <!-- </mat-card-content> -->
                  </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <!-- <mat-card-content> -->
                       <p>
                         SomeText
                       </p>
                     <!-- </mat-card-content> -->
                   </mat-card>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #DDBDF1; height: 200px;">
    <div class="container">
        <div class="row section-d">
            <div class="col">
                <button mat-flat-button color="primary" (click)="registerEvacuee()">Primary-Register</button>
            </div>
            <div class="col">
                Some Image
            </div>
        </div>
    </div>
</section>

<section style="background-color: lightblue;">
    <div class="container">
        1
    </div>
</section>