<div class="invoice-template">
  <form [formGroup]="invoiceForm">

    <div class="form-header">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label class="requiredField" for="invoiceNumber">Invoice Number</label>
            <input type="text" class="form-control form-control-lg" id="invoiceNumber" [formControlName]="'invoiceNumber'"
              required>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-6">
            <i (click)="indexToRemove.emit(index)" class="fas fa-trash-alt remove-icon"></i>
        </div>
      </div>
    </div>

    <div class="form-body">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label class="requiredField" for="invoiceDate">Invoice Date</label>
            <input type="text" class="form-control form-control-lg" id="invoiceDate" [formControlName]="'invoiceDate'"
              required>
          </div>

          <div class="form-group">
            <label class="requiredField" for="invoiceDate">How many referrals are listed on your invoice?</label>
            <select class="form-control form-control-lg" [formControlName]="'referralList'">
              <option selected>Select...</option>
              <option *ngFor="let no of referralList">{{no}}</option>
            </select>
          </div>

          <div>
            <button type="button" (click)="addReferralTemplate(invoiceForm.get('referralList').value)" class="btn btn-primary referral-button">Next</button>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label class="requiredField">Attach a photo/scanned copy of your invoice</label>
            <app-fileUpload (attachedFile)="setFileFormControl($event)" (deleteFile)="deleteFileFormControl($event)">
            </app-fileUpload>
          </div>
        </div>
      </div>

      <div formArrayName="referrals">
        <div *ngFor="let referral of referrals.controls; let j = index">
          <app-referral [index]="j" [referralForm]="referral" [formGroupName]="j" [component]="component"></app-referral>
        </div>
      </div>

      <div *ngIf="referrals.controls.length>0" class="row">
        <div class="col-12">
          <a (click)="addSingleReferralTemplate()" class="btn btn-block add-referral-button">+ Add another referral to this invoice</a>
        </div>
      </div>

      <div *ngIf="referrals.controls.length>0" class="row justify-content-end">
        <div class="col-3">
          Total GST
          <input type="number" [formControlName]="'invoiceTotalGst'" class="form-control form-control-lg" readonly>
        </div>
      </div>

      <div *ngIf="referrals.controls.length> 0" class="row justify-content-end">
        <div class="col-3">
          Total Amount
          <input type="number" [formControlName]="'invoiceTotalAmount'" class="form-control form-control-lg" readonly>
        </div>
      </div>

    </div>
  </form>

</div>