@import '../../../styles/styles.scss';

.invoice-template{
  margin-top: 10px;
}

.box{
    padding: 10px;
    margin: 20px;
    border: 4px theme-color(primary) solid;
  }

.requiredField::after {
    content: "*";
    color: red;
 }

.form-header {
  background-color: theme-color(primary);
  border-bottom: 3px theme-color(bcgold) solid;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
}

.note {
  color: grey;
  font-weight: lighter;
  font-style: italic;
  font-size: 15px;
}

.form-body {
  background-color: $gray2;
  border-left: 3px theme-color(primary) solid;
  border-bottom: 3px theme-color(primary) solid;
  border-right: 3px theme-color(primary) solid;
  font-weight: bold;
  padding: 10px;
}

.referral-button {
  padding-left: 30px;
  padding-right: 30px;
}

.add-referral-button {
  font-weight: bold;
  color: theme-color(primary) !important;
  border: 1px theme-color(primary) solid;
  background-color: white;
  margin-top: 1rem;
  &:hover,
  &:focus {
    color: white;
  }
  &:active {
    border: 2px solid rgba(white, 0.8);
  }
}
