.content-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.tips-info {
  color: white;
  padding: 8px;
  margin-top: 20px;
}

.tips-heading {
  color: white;
  font-size: 21px;
  margin-left: 5px;
}

.tips-card {
  background-color: rgba(35, 64, 117, 1);
}

.next {
  float: right;
  width: 20%;
}
