.divider {
    color: rgb(96, 96, 96);
    border-left: 1px solid;
    height: 6px;
}

a:hover {
    color: rgb(96, 96, 96) !important;
    text-decoration: underline;
}

a:focus {
    color: #169BD5 !important;
}