<mat-toolbar class="custom-toolbar">
  <button mat-icon-button (click)="onToggle()" fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div fxShow="true" fxHide.lt-md>
    <a
      *ngIf="hasPermission('dashboard')"
      class="top-nav"
      mat-button
      routerLinkActive="active-list-item"
      [routerLink]="'/responder-access/responder-dashboard'"
    >
      Dashboard
    </a>
    <span class="divider"></span>
    <a
      *ngIf="hasPermission('search')"
      class="top-nav"
      mat-button
      routerLinkActive="active-list-item"
      [routerLink]="
        userService.currentProfile.taskNumber === null ||
        userService.currentProfile.taskNumber === ''
          ? '/responder-access/search'
          : '/responder-access/search/evacuee'
      "
    >
      Evacuee Search & Registration
    </a>
    <span class="divider"></span>
    <a
      *ngIf="hasPermission('team')"
      class="top-nav"
      mat-button
      routerLinkActive="active-list-item"
      [routerLink]="'/responder-access/responder-management'"
    >
      Responder Management
    </a>
    <span class="divider"></span>
    <a
      *ngIf="hasPermission('suppliers')"
      class="top-nav"
      mat-button
      [routerLink]="'/responder-access/supplier-management'"
    >
      Supplier Management
    </a>
    <span class="divider"></span>
    <a
      *ngIf="hasPermission('assignedCommunities')"
      class="top-nav"
      mat-button
      routerLinkActive="active-list-item"
      [routerLink]="'/responder-access/community-management'"
    >
      Community Management
    </a>
    <span class="divider"></span>
    <a
      *ngIf="hasPermission('reports')"
      class="top-nav"
      mat-button
      [routerLink]="'/responder-access/reporting'"
    >
      Reporting
    </a>
  </div>
</mat-toolbar>
