<mat-toolbar class="custom-toolbar">
  <button mat-icon-button class="mobile-menu" (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="desktop-menu">
    @if (hasPermission('dashboard')) {
      <a
        class="top-nav"
        mat-button
        routerLinkActive="active-list-item"
        [routerLink]="'/responder-access/responder-dashboard'"
      >
        Dashboard
      </a>
    }
    <span class="divider"></span>
    @if (hasPermission('search')) {
      <a
        class="top-nav"
        mat-button
        routerLinkActive="active-list-item"
        [routerLink]="
          userService.currentProfile.taskNumber === null || userService.currentProfile.taskNumber === ''
            ? '/responder-access/search'
            : '/responder-access/search/evacuee'
        "
      >
        Evacuee Search & Registration
      </a>
    }
    <span class="divider"></span>
    @if (hasPermission('team')) {
      <a
        class="top-nav"
        mat-button
        routerLinkActive="active-list-item"
        [routerLink]="'/responder-access/responder-management'"
      >
        Responder Management
      </a>
    }
    <span class="divider"></span>
    @if (hasPermission('suppliers')) {
      <a class="top-nav" mat-button [routerLink]="'/responder-access/supplier-management'"> Supplier Management </a>
    }
    <span class="divider"></span>
    @if (hasPermission('assignedCommunities')) {
      <a
        class="top-nav"
        mat-button
        routerLinkActive="active-list-item"
        [routerLink]="'/responder-access/community-management'"
      >
        Community Management
      </a>
    }
    <span class="divider"></span>
    @if (hasPermission('reports')) {
      <a class="top-nav" mat-button [routerLink]="'/responder-access/reporting'"> Reporting </a>
    }
  </div>
</mat-toolbar>
