.divider {
  color: rgb(96, 96, 96);
  border-left: 1px solid;
  height: 6px;
}

a:hover {
  color: rgb(96, 96, 96) !important;
  text-decoration: underline;
}

a:focus {
  color: #169bd5 !important;
}

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: block;
}

@media (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
}
