<form [formGroup]="addressForm">
    <div formGroupName="address">

        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 1</mat-label>
                    <input [formControlName]="'addressLine1'" matInput placeholder="Address Line 1">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.addressLine1.invalid && addressFormControl?.address?.controls?.addressLine1.hasError('required')">
                        Address Line 1 is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 2</mat-label>
                    <input [formControlName]="'addressLine2'" matInput placeholder="Address Line 2">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [formControlName]="'jurisdiction'" matInput placeholder="City">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.jurisdiction.invalid && addressFormControl?.address?.controls?.jurisdiction.hasError('required')">
                        City is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input [formControlName]="'postalCode'" matInput placeholder="Zip Code">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.postalCode.invalid && addressFormControl?.address?.controls?.postalCode.hasError('required')">
                        Zip Code is required</mat-error>
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.postalCode.invalid && addressFormControl?.address?.controls?.postalCode.hasError('pattern')">
                        Zip Code is invalid</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input [formControlName]="'stateProvince'" matInput placeholder="State">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.stateProvince.invalid && addressFormControl?.address?.controls?.stateProvince.hasError('required')">
                        State is required</mat-error>
                </mat-form-field>
            </div>
        </div>

    </div>

</form>