<form [formGroup]="addressForm">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 1</mat-label>
                    <input [formControlName]="'addressLine1'" matInput placeholder="Address Line 1" required>
                    <mat-error
                        *ngIf="addressFormControl?.addressLine1.invalid && addressFormControl?.addressLine1.hasError('required')">
                        Address Line 1 is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 2</mat-label>
                    <input [formControlName]="'addressLine2'" matInput placeholder="Address Line 2">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [formControlName]="'jurisdiction'" matInput placeholder="City" required>
                    <mat-error
                        *ngIf="addressFormControl?.jurisdiction.invalid && addressFormControl?.jurisdiction.hasError('required')">
                        City is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input [formControlName]="'postalCode'" matInput placeholder="Zip Code" required>
                    <mat-error
                        *ngIf="addressFormControl?.postalCode.invalid && addressFormControl?.postalCode.hasError('required')">
                        Zip Code is required</mat-error>
                    <mat-error
                        *ngIf="addressFormControl?.postalCode.invalid && addressFormControl?.postalCode.hasError('pattern')">
                        Zip Code is invalid</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input [formControlName]="'stateProvince'" matInput placeholder="State" required>
                    <mat-error
                        *ngIf="addressFormControl?.stateProvince.invalid && addressFormControl?.stateProvince.hasError('required')">
                        State is required</mat-error>
                </mat-form-field>
            </div>
        </div>
</form>