<div class="row">
  <div class="col-md-12">
    <span class="bold">Please add case notes in the field below. </span> All
    notes will be date stamped and tagged with your first name and last name
    initial. Notes are editable for 24 hours, after which they will be locked
    from editing.
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="notesForm">
      <mat-form-field appearance="outline">
        <textarea
          rows="10"
          formControlName="note"
          placeholder="Add ESS file case notes"
          maxlength="1000"
          matInput
        ></textarea>
        <mat-error
          *ngIf="verifiedFormControl?.note.hasError('whitespaceError')"
        >
          You cannot save a blank note
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <button class="button-s button-width" mat-button (click)="cancel()">
      Cancel
    </button>
  </div>

  <div class="col-md-5">
    <button
      [disabled]="isSubmitted"
      class="button-p button-width"
      mat-button
      (click)="save()"
    >
      Save Note
      <app-loader
        [strokeWidth]="3"
        [diameter]="25"
        [showLoader]="showLoader"
      ></app-loader>
    </button>
  </div>
</div>
