@import '../../styles/styles.scss';

hr {
    border: 0.75px solid;
}

.box{
  padding: 10px;
  border: 4px theme-color(bcgold) solid;
}

.remit-box{
  padding:10px;
  border: 4px lightgray solid;
}

.sidebox-card-info {
  background-color: #245079;
  border-radius: 0px;
  border: 0;
}

.tips-section{
padding: 10px

}

.required::after {
  content: "*";
  color: red;
}

.submissionHeader {
  margin-bottom: 0 !important;
  font-size: 36px;
  font-weight: bold;
}

