.label {
   color: #717171;
}

.row-margin {
    margin-top: 10px;
}

.edit-button {
    width: 70%;
}

.details-heading {
    color: #234075;
    font-size: 21px;
    font-weight: 400;
}

.detail-label {
    color: #717171;
}