<div class="row">
  <div class="col-md-12">
    <p [innerHTML]="content.text"></p>
    <p *ngIf="content.text2" [innerHTML]="content.text2"></p>
  </div>
</div>
<br />

<div class="row justify-content-between">
  <div class="col-md-6">
    <button class="button-s" mat-button (click)="cancel()">
      {{ content.noButtonText }}
    </button>
  </div>
  <div class="col-md-6">
    <button class="button-p confirm-button" mat-button (click)="confirm()">
      {{ content.yesButtonText }}
    </button>
  </div>
</div>
