<div class="container container-frame">
    <div class="row">
        <div class="col-6">
            <mat-card>
                <!-- <mat-card-header>
                    <mat-card-title>Preferred Method</mat-card-title>
                </mat-card-header> -->
                <mat-card-content>
                    <p> Some Text</p>
                    <p> Some Text</p>
                    <p> Some Text</p>
                    <p> Some Text</p>
                    <p> Some Text</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary">Self-Register using your BC Services Card</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <p> Some Text</p>
                <p> Some Text</p>
                <p> Some Text</p>
                <p> Some Text</p>
                <p> Some Text</p>
                <mat-card-actions>
                    <button mat-flat-button color="primary" (click)="guestRegister()">Self-Register</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>