<div [formGroup]="addressForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <input
          formControlName="addressLine1"
          matInput
          maxlength="100"
          placeholder="Address Line 1"
          required
        />
        <mat-error
          *ngIf="
            addressFormControl?.addressLine1.invalid &&
            addressFormControl?.addressLine1.hasError('required')
          "
        >
          Address Line 1 is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <input
          formControlName="addressLine2"
          matInput
          maxlength="100"
          placeholder="Address Line 2"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>City/Jurisdiction</mat-label>
        <input
          maxlength="100"
          formControlName="community"
          matInput
          placeholder="City/Jurisdiction"
          required
        />
        <mat-error
          *ngIf="
            addressFormControl?.community.invalid &&
            addressFormControl?.community.hasError('required')
          "
        >
          City/Jurisdiction is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Postal/Zip Code</mat-label>
        <input
          formControlName="postalCode"
          matInput
          placeholder="Postal/Zip Code"
        />
        <!-- <mat-error
                        *ngIf="addressFormControl?.postalCode.invalid && addressFormControl?.postalCode.hasError('required')">
                        Postal/Zip Code is required</mat-error> -->
      </mat-form-field>
    </div>
  </div>
</div>
