.time-heading {
  color: #234075;
  font-size: 21px;
}

.amount {
  color: #234075;
  font-weight: bold;
}

.hint {
  color: red;
  font-style: italic;
}

.select-error::ng-deep .mat-form-field-outline {
  border: red 1px solid;
}

.error-message {
  margin-bottom: 10px;
}

@media (max-width: 920px)
{
  .col-md-4 {
    width: 100%;
  }

}