table {
    width: 100%;
  }

  th {
    font-size: 16px !important;
    background-color: rgba(113, 113, 113, 1);
    color: white !important
  }

  ::ng-deep .arrow-color .mat-sort-header-arrow {
    color: #ffff !important;
  }

  .tooltip-red {
    background: #b71c1c !important;
    font-size: 14px;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(37, 168, 0, 1) !important;
}

.mat-slide-toggle-bar {
  background-color: rgba(210, 0, 0, 1) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}

.active-style {
  color: rgba(37, 168, 0, 1) !important;
}

.inactive-style {
  color: rgba(210, 0, 0, 1) !important;
}