<div class="container container-frame">
    <h1>Create Evacuation File</h1>

    <mat-horizontal-stepper linear #needsStepper>
      <mat-step *ngFor="let step of needsSteps" [editable]="isEditable">
        <app-component-wrapper [componentName] = "step.component" [folderPath]="needsFolderPath"></app-component-wrapper>
        <div>
          <button mat-button type="button" (click)="goBack(needsStepper, step.lastStep)">{{step.backButtonLabel}}</button>
          <button mat-button type="button" (click)="goForward(needsStepper, step.isLast)">{{step.nextButtonLabel}}</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel></ng-template>
        <!--<app-secret></app-secret> -->
        <app-review></app-review>
        <div>
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <button mat-button type="button" (click)="goForward(needsStepper, true)">Save & Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

</div>