h1 {
  font-weight: 700;
  font-size: 33px;
  line-height: 25px;
}

.checkbox-section {
  padding-top: 5px;
}

.buttons-section {
  margin-top: 40px;
}

.button-margin {
  margin-right: 20px;
}

.button-width {
  width: 30%;
}
