.heading {
  font-size: 33px;
}

.email-id {
  color: #234075;
}

.row-padding {
  padding-bottom: 20px;
}

.button-width {
  width: 90%;
}

a:hover {
  text-decoration: underline;
}

.email-link {
  color: #169bd5 !important;
}

.field-error {
  color: red;
}
