<h3 class="with-icon meals">Restaurant Meals {{> itemsDetailTitle}}</h3>
<ul class="item-list">
    <li><span class="input-output">{{NumBreakfasts}}</span> <strong>Breakfast(s) per person at $12.75 each.</strong></li>
    <li><span class="input-output">{{NumLunches}}</span> <strong>Lunch(es) per person at $14.75 each.</strong></li>
    <li><span class="input-output">{{NumDinners}}</span> <strong>Dinner(s) per person at $25.50 each.</strong></li>
</ul>

<p><strong>Total value of meal(s):</strong> <span class="input-output">&#36;{{TotalAmountPrinted}}</span></p>
