<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading requiredField">Restriction</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <form [formGroup]="restrictionForm">
        <div class="row">
          <div class="col-12">
            <p>
              In the event of an emergency, concerned family and friends may
              inquire about you and your family.
            </p>
            <p id="restrictedAccess-radio-group-label" class="requiredField">
              Do you consent to have your location and contact information
              <strong>shared with concerned family or friends</strong> who ask
              about your wellbeing?
            </p>

            <div class="row">
              <div class="col-md-12">
                <mat-radio-group
                  formControlName="restrictedAccess"
                  aria-labelledby="restrictedAccess-radio-group-label"
                  class="primary-radio-group"
                  required
                >
                  <mat-radio-button [value]="false"
                    ><span class="bold radio-text">Yes</span> - You may disclose
                    my location and contact information with family or
                    friends</mat-radio-button
                  >
                  <mat-radio-button [value]="true"
                    ><span class="bold radio-text">No</span> - You may not
                    disclose my location or contact
                    information</mat-radio-button
                  >
                  <mat-error
                    class="custom-mat-error field-error"
                    *ngIf="
                      restrFormControl?.restrictedAccess.touched &&
                      restrFormControl?.restrictedAccess.invalid &&
                      restrFormControl?.restrictedAccess.hasError('required')
                    "
                  >
                    Restriction is required</mat-error
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br />
      <br />
      <div class="row">
        <div class="col-md-6">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>
        </div>
        <div class="col-md-6">
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
