<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading requiredField">Consent to Share Registration Status</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <form id="restrictionForm" [formGroup]="restrictionForm">
        <div class="row">
          <div class="col-12">
            <p><b>Consent to share registration status:</b></p>
            <p>Concerned family and friends may inquire about your household because of this emergency event.</p>
            <p id="restrictedAccess-radio-group-label" class="requiredField">
              Do you consent to have your registration STATUS shared with those who may ask about your household's
              wellbeing?
            </p>

            <div class="row">
              <div class="col-md-12">
                <mat-radio-group
                  formControlName="restrictedAccess"
                  aria-labelledby="restrictedAccess-radio-group-label"
                  class="primary-radio-group"
                  required
                >
                  <mat-radio-button [value]="false" id="yesOption"
                    ><span class="bold radio-text">Yes</span> - You may share the status of my ESS registration with
                    concerned family and friends.
                  </mat-radio-button>
                  <p>
                    I acknowledge that an ESS Responder may ONLY share the status of my ESS registration (pending,
                    active or complete) with concerned family and friends. For reunification purposes, concerned family
                    and friends may opt to leave their contact details (telephone number and/ or email address) where
                    they can be reached. These contact details can be added under the Notes section of the active ESS
                    File, by trained ESS Responder.
                  </p>

                  <mat-radio-button [value]="true" id="noOption"
                    ><span class="bold radio-text">No</span> - You may <strong>not</strong> share the status of my ESS
                    registration with concerned family and friends.
                  </mat-radio-button>

                  @if (
                    restrFormControl?.restrictedAccess.touched &&
                    restrFormControl?.restrictedAccess.invalid &&
                    restrFormControl?.restrictedAccess.hasError('required')
                  ) {
                    <mat-error class="custom-mat-error field-error"> Restriction is required</mat-error>
                  }
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br />
      <br />
      @if (!editFlag) {
        <div class="row">
          <div class="col-md-6">
            <button class="button-s back" mat-button (click)="back()">Back</button>
          </div>
          <div class="col-md-6">
            <button class="button-p next" mat-button (click)="next()">Next</button>
          </div>
        </div>
      }

      @if (editFlag) {
        <div class="row">
          <div class="col-md-12">
            <button class="button-p edit-next" mat-button (click)="next()">Next</button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
