<div class="row justify-content-between">
    <div class="col-md-10">
        <h1 *ngIf="data?.title !== undefined" mat-dialog-title>{{data.title}}</h1>
    </div>
    <div class="col-md-2">
        <button class="close-image close-button-style" mat-icon-button aria-label="Close" (click)="buttonAction('close')">
            <img src="/assets/images/close.svg" height="20" width="20">
            <img src="/assets/images/close_onhover.svg" height="20" width="20">
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12" mat-dialog-content>
        {{data.body}}
    </div>
</div>
<br>
<div *ngFor="let b of data.buttons" mat-dialog-actions class="row">
    <button class="col-md-6" [ngClass]="{'button-p': b.class === 'button-p'}" (click)="buttonAction(b.function)"
        mat-button>{{b.name}}</button>
</div>