.close-image img:last-child {
  display: none;
}

.close-image:hover img:last-child {
  display: block;
}

.close-image:hover img:first-child {
  display: none;
}

.close-button-style {
  background-color: white;
  float: right;
}

.mat-title {
  font-weight: 700 !important;
  font-size: 33px !important;
  line-height: 21px;
  padding: 10px 5px;
  text-align: center;
}

.mainBody {
  display: block;
  font-weight: 400;
  margin: 0 5px;
  padding: 0 20px;
}

.highlight {
  font-weight: 700;
  color: #169bd5;
}

.highlightSubtitle {
  font-weight: 400;
  font-size: 21px;
  color: #169bd5;
}

.highlightText {
  font-weight: 400;
  color: #169bd5;
}
