.details-heading {
    font-size: 21px;
    font-weight: 700;
}

.detail-label {
   color: #717171;
}

.content-align {
    padding: 10px;
}

.row-align {
    padding-top: 3px;
    padding-bottom: 3px;
}

// .button-margin {
//     margin-right: 20px;
// }

// .button-float {
//     float: right;
// }