.heading {
  font-size: 33px;
}

.row-padding {
  padding-bottom: 20px;
}

.button-width {
  width: 80%;

  height: 55px;
  font-weight: normal;

  background-color: #234075;
  color: #ffffff;
}

.p-align {
  text-align: center;
}

.time-color {
  color: #fcba19;
}
