:host ::ng-deep app-review {
    .mat-card {
        box-shadow: none;
    }
    .mat-card-top,
    mat-card {
        border-top-style: none !important;
    }
    .mat-card-left,
    mat-card {
        border-left-style: none !important;
    }
    .mat-card-right,
    mat-card {
        border-right-style: none !important;
    }
}
