.background {
    background-image: url(/assets/images/ess-background.jpg);
    background-repeat: repeat-x;
    background-color: white;
}

.spinner {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
}

.app-error {
    line-height: 4;
    font-size: 25px;
}

.main-border {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-container {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.body-border {
    border-width: 0px 5px 0px 5px !important;
}

.footer-border {
    border-width: 0px 5px 5px 5px !important;
}
