<div class="main-border">
  <app-outage-banner
    *ngIf="outageService.getShowOutageBanner() | async"
    (closeEvent)="closeOutageBanner($event)"
  ></app-outage-banner>

  <app-environment-banner
    [environment]="environment"
    *ngIf="environment !== null && environment !== undefined"
  ></app-environment-banner>

  <app-header
    [ngStyle]="
      environment !== null && environment !== undefined
        ? {
            border: 'solid ' + environment?.bannerColor
          }
        : { padding: '0px' }
    "
    [class.body-border]="environment !== null && environment !== undefined"
  ></app-header>
  <main
    class="fill-body background main-container"
    [ngStyle]="
      environment !== null && environment !== undefined
        ? {
            border: 'solid ' + environment?.bannerColor
          }
        : { padding: '0px' }
    "
    [class.body-border]="environment !== null && environment !== undefined"
  >
    <div class="app-error">
      <app-alert></app-alert>
    </div>

    <div>
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </div>
  </main>
  <div
    class="footer mt-auto"
    [ngStyle]="
      environment !== null && environment !== undefined
        ? {
            border: 'solid ' + environment?.bannerColor
          }
        : { padding: '0px' }
    "
    [class.footer-border]="environment !== null && environment !== undefined"
  >
    <app-footer></app-footer>
  </div>
  <app-loader
    class="spinner"
    [showLoader]="isLoading"
    [strokeWidth]="10"
    [diameter]="50"
    [color]="color"
  >
  </app-loader>
</div>
