<div
  class="border"
  [ngStyle]="
    environment !== null
      ? {
          padding: '0px 5px 5px 5px',
          'background-color': environment?.bannerColor
        }
      : { padding: '0px' }
  "
>
  <app-environment-banner
    [environment]="environment"
    *ngIf="environment !== undefined"
  ></app-environment-banner>
  <app-header></app-header>
  <main class="fill-body background main-container">
    <div class="app-error">
      <app-alert></app-alert>
    </div>

    <div>
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </div>
  </main>
  <div class="footer mt-auto">
    <app-footer></app-footer>
  </div>
  <app-loader
    class="spinner"
    [showLoader]="isLoading"
    [strokeWidth]="10"
    [diameter]="50"
    [color]="color"
  >
  </app-loader>
</div>
