<div class="info-block">
    <h3 class="with-icon person">Person responsible for purchasing the goods</h3>

    <div class="goods-pick">
        <div class="row">
            <div class="col-6">
                <span class="personName">{{upperCase PurchaserName}}</span>
            </div>
        </div>
    </div>
</div>