<mat-card>
  <mat-card-content>
    <span class="evacuatedSecondary">Evacuated From</span>
    <mat-card-title class="evacuatedTitle"
      >{{ evacuationFileCard?.evacuatedAddress?.community?.name }}
    </mat-card-title>
    <div class="row">
      <div class="col-md-9">
        <table style="width: 100%">
          <thead>
            <tr>
              <th class="evacuatedSecondary">ESS File Created</th>
              <th class="evacuatedSecondary">ESS File #</th>
              <th class="evacuatedSecondary">Supports Received</th>
              <th class="evacuatedSecondary">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dataSpan">
                {{
                  evacuationFileCard?.evacuationFileDate | date: 'dd-MMM-yyyy'
                }}
              </td>
              <td class="dataSpan">
                {{
                  evacuationFileCard?.isPaper
                    ? evacuationFileCard?.manualFileId
                    : evacuationFileCard?.fileId
                }}
              </td>
              <td class="dataSpan">
                {{ evacuationFileCard?.supports.length === 0 ? 'No' : 'Yes' }}
              </td>
              <td class="dataSpan">
                <img src="{{ imageIcon }}" height="13" width="13" />
                {{ evacuationFileCard?.status }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 button-align">
        <button
          class="button-p view-details"
          mat-stroked-button
          type="button"
          (click)="goToDetails()"
        >
          View Details
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
