<div class="container container-frame">
  <div class="content-container">
    <ng-container *ngIf="showPhotoIDComponent">
      <app-evacuee-id-verify
        (showIDPhotoComponent)="changeVerifyIdComponent($event)"
      ></app-evacuee-id-verify>
    </ng-container>

    <ng-container *ngIf="!showPhotoIDComponent && !showResultsComponent">
      <app-evacuee-name-search
        (showResultsComponent)="changeResultsComponent($event)"
      ></app-evacuee-name-search>
    </ng-container>

    <ng-container *ngIf="showResultsComponent">
      <app-evacuee-search-results
        (showIDPhotoComponent)="allowNewSearch($event)"
      ></app-evacuee-search-results>
    </ng-container>
  </div>
</div>
