<div class="container">
    <div class="row heading-container">
        <div class="col-md-12">
            <span class="page-heading">Evacuee Search & Registration</span>
        </div>
    </div>
    <br>
    <ng-container *ngIf="showPhotoIDComponent">
        <app-evacuee-id-verify (showIDPhotoComponent)="changeComponent($event)"></app-evacuee-id-verify>
    </ng-container>
    <ng-container *ngIf="!showPhotoIDComponent">
        <app-evacuee-name-search></app-evacuee-name-search>
    </ng-container>
</div>
