.details-heading {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}

.details-subtitle {
    font-size: 16px;
    font-weight: 700;
}

.detail-label {
    color: #717171;
}

.content-align {
    padding: 10px;
}

.row-align {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.btn-section {
    margin-bottom: 50px;
}

.button-margin {
    margin-right: 20px;
}

.button-width {
    width: 45%;
}

.secondary-btn-width {
    width: 30%;
}

.contact-info {
    p {
        margin: 0;
    }
}

.email-decoration {
    text-decoration: underline;
}

.buttons-section {
    margin-top: 60px;
}

.mutual-aid-section {
    margin-top: 20px;
}

.aid-heading {
    font-weight: 700;
    font-size: 21px;
}

.span-text {
    padding-top: 20px;
    font-weight: 700;
}

.tips-heading {
    color: white;
    font-size: 21px;
    margin-left: 5px;
}

.tips-card {
    background-color: rgba(35, 64, 117, 1);
}

.tips-info {
    color: white;
    padding: 8px;
    margin-top: 20px;
}

table {
    width: 100%;
}

th {
    font-size: 16px;
    background-color: rgba(35, 64, 117, 1);
    color: white;
}

.supplier-link {
    cursor: pointer;
    color: rgb(22, 155, 213);
    text-decoration: none;
}

.options-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.loader-col {
    margin-top: 15px;
}

.no-results {
    margin-left: 20px;
    font-weight: 400;
}