<mat-card>
  <div class="row lineSpace">
    <div class="col-md-4">
      <p>Question:</p>
    </div>
    <div class="col-md-8">
      <span class="questionHighlight"> {{ question?.question }} </span>
    </div>
  </div>
  <div class="row imgSpace">
    <div class="col-md-4">
      <img class="divider" src="/assets/images/questionLine.svg" />
    </div>
  </div>
  <div class="row lineSpace">
    <div class="col-md-4">
      <p>Answer Hint:</p>
    </div>
    <div class="col-md-8">
      <p>
        <b> {{ question?.answerHint }} </b>
      </p>
    </div>
  </div>

  <div class="row lineSpace">
    <div class="col-md-4">
      <p>Answer:</p>
    </div>
    <div class="col-md-8">
      <input matInput #answer type="text" (focusout)="sendAnswer($event)" />
    </div>
  </div>
</mat-card>
