<mat-nav-list>
    <a mat-list-item (click)="onSideNavClose()" routerLinkActive="active-list-item" [routerLink]="'/responder-access/responder-dashboard'"> Dashboard </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" routerLinkActive="active-list-item" [routerLink]="'/responder-access/search'"> Evacuee Search & Registration </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" routerLinkActive="active-list-item" [routerLink]="'/contacts'"> Responder Management </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" routerLinkActive="active-list-item" [routerLink]="'/create-contact'"> Supplier Management </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" routerLinkActive="active-list-item" [routerLink]="'/activities'"> Community Management </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" routerLinkActive="active-list-item" [routerLink]="'/create-activity'"> Reporting </a>
</mat-nav-list>
