<mat-nav-list>
    <a mat-list-item (click)="onSideNavClose()" [routerLink]="'/responder-access/responder-dashboard'"> Dashboard </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" [routerLink]="'/responder-access/evacuee-search'"> Evacuee Search & Registration </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" [routerLink]="'/contacts'"> ERA User Management </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" [routerLink]="'/create-contact'"> Supplier Management </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" [routerLink]="'/activities'"> Community Management </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onSideNavClose()" [routerLink]="'/create-activity'"> Reporting </a>
</mat-nav-list>
