.back-link {
  color: rgb(55, 171, 221);
}

.back-link:hover {
  text-decoration: underline;
}

.row-padding {
  padding-bottom: 20px;
}

.needs-box {
  background-color: #f2f2f2;
  box-shadow: none !important;
}

.add-details {
  width: 40%;
}

mat-form-field {
  width: 100%;
}
