.back-link {
  color: rgb(55, 171, 221);
}

.back-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.row-padding {
  padding-bottom: 20px;
}

.needs-box {
  background-color: #f2f2f2;
  box-shadow: none !important;
}

.add-details {
  width: 40%;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

@media(max-width: 1160px) {

  .add-details {
    width: 50%;
  }
  
}

@media(max-width: 1024px) {

  ::ng-deep .mat-form-field-subscript-wrapper {
    position: relative !important;
    top: auto !important;
  }

  .add-details {
    width: 70%;
  }
  
}

