.add-support {
  width: 60%;
}

.row-padding {
  padding-bottom: 20px;
}

.button-width {
  width: 100%;
  white-space: normal;
  line-height: 26px;
  margin: 0.25em 0;
}

.p-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}

.process-button:disabled {
  background-color: rgba(187, 187, 187, 1);
}

.add-button:disabled {
  background-color: rgba(187, 187, 187, 1);
}

@media (max-width: 940px)
{
  .col-md-2, .col-md-3, .col-md-12 {
    width: 100%;
  }
}