<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Supports</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <span class="bold">0 supports</span> have been recorded for Evacuation
        File # 12345 within the ERA Tool.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="button-p add-support" mat-button (click)="addSupports()">
        Add Supports
      </button>
    </div>
    <!-- <div class="col-md-6">
      <button class="button-p next" mat-button (click)="next()">Next</button>
    </div> -->
  </div>
</div>
