<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Supports</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <span class="bold p-margin"
          >{{ supportList?.length }} support<span
            *ngIf="supportList?.length !== 1"
            >s</span
          >&nbsp;</span
        >
        <span *ngIf="supportList?.length !== 1">have</span>
        <span *ngIf="supportList?.length === 1">has</span>
        been recorded for
        <b
          >ESS File #
          {{
            evacueeSessionService?.isPaperBased
              ? evacueeSessionService?.evacFile?.manualFileId
              : evacueeSessionService?.evacFile?.id
          }}</b
        >
        within the ERA Tool.
      </p>
    </div>
  </div>

  <div *ngIf="supportList?.length === 0" class="row row-padding">
    <div class="col-md-6">
      <button
        class="button-p add-support add-button"
        mat-button
        (click)="addSupports()"
        [disabled]="isAddSupportsDisabled()"
      >
        + Add Supports
      </button>
    </div>
  </div>

  <div *ngIf="supportList?.length !== 0">
    <div class="row row-padding">
      <div class="col-md-2">
        <button
          class="button-p button-width add-button"
          mat-button
          (click)="addSupports()"
          [disabled]="isAddSupportsDisabled()"
        >
          Add Supports
        </button>
      </div>
      <div class="col-md-3">
        <button
          class="button-p button-width process-button"
          mat-button
          (click)="process()"
          [disabled]="referralService.getDraftSupport().length === 0"
        >
          Process Draft Support/s
        </button>
      </div>

      <div
        *ngFor="let filter of filtersToLoad?.loadDropdownFilters"
        class="col-md-3"
      >
        <mat-form-field appearance="outline">
          <mat-label>{{ filter?.label.description }}</mat-label>
          <mat-select
            #matRef
            id="{{ filter?.type }}"
            (selectionChange)="selected($event, filter?.type)"
          >
            <mat-option value="">{{ filter?.label.description }}</mat-option>
            <mat-option *ngFor="let val of filter?.values" [value]="val">
              <div *ngIf="val?.description !== undefined; else value">
                {{ val?.description }}
              </div>
              <ng-template #value>{{ val }}</ng-template>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-supports-table
          [supportList]="supportList"
          [filterTerm]="filterTerm"
          [showLoader]="showLoader"
          (clickedRow)="openSupportDetails($event)"
        ></app-supports-table>
      </div>
    </div>
  </div>
</div>
