<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Supports</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <span class="bold p-margin">{{ supportList?.length }} support(s)</span>
        have been recorded for Evacuation File #
        {{ stepSupportsService?.evacFile?.id }} within the ERA Tool.
      </p>
    </div>
  </div>

  <div *ngIf="supportList?.length === 0" class="row row-padding">
    <div class="col-md-6">
      <button class="button-p add-support" mat-button (click)="addSupports()">
        + Add Supports
      </button>
    </div>
  </div>

  <div *ngIf="supportList?.length !== 0">
    <div class="row row-padding">
      <div class="col-md-2">
        <button
          class="button-p button-width"
          mat-button
          (click)="addSupports()"
        >
          Add Supports
        </button>
      </div>
      <div class="col-md-3">
        <button class="button-p button-width" mat-button (click)="process()">
          Process Draft Support/s
        </button>
      </div>

      <div
        *ngFor="let filter of filtersToLoad?.loadDropdownFilters"
        class="col-md-3"
      >
        <mat-form-field appearance="outline">
          <mat-label>{{ filter?.label.description }}</mat-label>
          <mat-select
            #matRef
            id="custom-select"
            (selectionChange)="selected($event, filter?.type)"
          >
            <mat-option value="">{{ filter?.label.description }}</mat-option>
            <mat-option *ngFor="let val of filter?.values" [value]="val">
              <div *ngIf="val?.description !== undefined; else value">
                {{ val?.description }}
              </div>
              <ng-template #value>{{ val }}</ng-template>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-supports-table
          [supportList]="supportList"
          [filterTerm]="filterTerm"
        ></app-supports-table>
      </div>
    </div>
  </div>
</div>
