<ul>
    <li>Services to meet immediate needs should be provided in the most cost-effective manner. Extra costs incurred by the evacuee beyond the approved items listed are the responsibility of the evacuee.</li>
    <li>Charges for goods and services, including all applicable taxes, must not exceed the Emergency Support Services rates.</li>
    <li>Alcohol and tobacco are not eligible expenses.</li>
    <li>Maximum meal allowances are set <strong>per meal</strong>, not per day. Meal allowances for the entire day cannot be combined into one large food order, unless prior authorization is obtained from Emergency Management BC.</li>
</ul>
