<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-7">
        <mat-form-field appearance="outline">
          <mat-label>{{ filtersToLoad?.loadInputFilter?.label }}</mat-label>
          <input
            id="searchInput"
            [(ngModel)]="searchTerm"
            matInput
            placeholder="{{ filtersToLoad?.loadInputFilter?.label }}"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button class="search-button button-p" mat-button (click)="search()">
          Search
        </button>
      </div>
      <div class="col-md-2">
        <button
          class="search-button button-transparent"
          mat-button
          (click)="resetAllFilters()"
        >
          <img src="/assets/images/reset.svg" height="20" width="20" /><span
            class="reset-img"
            >Reset</span
          >
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-1" *ngIf="filtersToLoad?.loadDropdownFilters.length > 0">
    <p class="span-or">or</p>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="let filter of filtersToLoad?.loadDropdownFilters"
      >
        <mat-form-field appearance="outline">
          <mat-label>{{ filter?.label.description }}</mat-label>
          <mat-select
            #matRef
            id="custom-select"
            (selectionChange)="selected($event, filter?.type)"
          >
            <mat-option value="">{{ filter?.label.description }}</mat-option>
            <mat-option *ngFor="let val of filter?.values" [value]="val">
              <div *ngIf="val?.description !== undefined; else value">
                {{ val?.description }}
              </div>
              <ng-template #value>{{ val }}</ng-template>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
