.search-button {
    margin: .25em 0 .25em 0;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.span-or {
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
}

.reset-img {
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 1440px) {
    .col-md-2 {
        width: 20%;
    }
}

@media (max-width: 1199px) {
    .col-md-4 {
        width: 50%;
    }
    .col-md-2 {
        width: 40%;
    }
}

@media (max-width: 991px) {
    .col-md-4, .col-md-3 {
        width: 100%;
    }
    .col-md-7 {
        width: 100%;
    }
}