<h3 class="with-icon clothing">Clothing {{> itemsDetailTitle}}</h3>
<p><strong>Total value:</strong> <span class="input-output">&#36;{{TotalAmountPrinted}}</span><em>(incl. GST/PST) for all evacuees listed below.</em></p>
<br />
