<div class="row">
  <div class="col-md-12 text-content heading-padding">
    <h1 style="font-size: 200%"><b>Login to BC Services Card failed</b></h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 text-content">
    <div class="register-without-card">
      <div>
        <img
          src="/assets/images/person-icon.svg"
          class="register-without-card-image"
          alt="Person Icon"
        />
        <h2 class="register-without-card-title">
          Register <strong class="--blue">without</strong> BC Services Card
        </h2>
        <p class="--center">
          If you <strong>don't</strong> have a BC Services Card, you can still
          self-register as an evacuee.
        </p>
      </div>
      <div class="register-without-card__button-container">
        <button (click)="nonVerifiedUser()" class="button-s btn-width">
          Self-Register
        </button>
      </div>
    </div>
  </div>
</div>
