.details-heading {
    color: #234075;
    font-size: 21px;
    font-weight: 400;
}

.description {
    font-size: 14px;
    text-align: left;
    line-height: 21px;
    color: #717171;
    font-weight: 400;
}

.width-button {
    width: 20%;
}

.button-margin {
    margin-right: 20px;
}