<form [formGroup]="supportDeliveryForm">
  <div class="row">
    <div class="col-md-12">
      <p class="question-heading">e-Transfer Recipient</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="bold dialog-title">
        {{ supportDeliveryFormControl?.recipientLastName.value }},
        {{ supportDeliveryFormControl?.recipientFirstName.value | titlecase }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="question-heading requiredField">
        e-Transfer Notification Preference
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="notificationPreference"
          (selectionChange)="preferenceSelect($event)"
          required
        >
          <mat-option value=""> Select-- </mat-option>
          <mat-option
            *ngFor="let preference of notificationPreferences"
            [value]="preference"
          >
            {{ preference }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            supportDeliveryFormControl?.notificationPreference.invalid &&
            supportDeliveryFormControl?.notificationPreference.hasError(
              'required'
            )
          "
        >
          Required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngIf="showEmail()">
    <div class="row">
      <div class="col-md-12">
        <p class="question-heading requiredField">Email Address</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input
            formControlName="notificationEmail"
            matInput
            placeholder="Email Address"
            (input)="notificationEmailChange()"
          />
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationEmail.invalid &&
              supportDeliveryFormControl.notificationEmail.hasError(
                'whitespaceError'
              )
            "
          >
            Email is required</mat-error
          >
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationEmail.invalid &&
              supportDeliveryFormControl.notificationEmail.hasError('email')
            "
            >Invalid email</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-8 checkbox-container" *ngIf="showEmailCheckBox">
        <mat-checkbox
          (change)="setEmail($event)"
          #setEmailCheckbox
          id="setEmailCheckbox"
        >
          <span *ngIf="emailOnFile && !previousEmail"
            >Use email address on file</span
          >
          <span *ngIf="previousEmail"
            >Use email address recorded for previous e-Transfer</span
          >
        </mat-checkbox>
      </div>
    </div>

    <div class="row" *ngIf="showConfirmEmail()">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Email Address</mat-label>
          <input
            formControlName="notificationConfirmEmail"
            matInput
            placeholder="Confirm Email Address"
            [errorStateMatcher]="emailMatcher"
          />
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationConfirmEmail.invalid &&
              supportDeliveryFormControl.notificationConfirmEmail.hasError(
                'whitespaceError'
              )
            "
          >
            Confirm Email is required</mat-error
          >
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationConfirmEmail.invalid &&
              supportDeliveryFormControl.notificationConfirmEmail.hasError(
                'email'
              )
            "
          >
            Invalid email</mat-error
          >
          <mat-error
            *ngIf="
              supportDeliveryFormControl?.notificationConfirmEmail?.parent?.hasError(
                'emailMatch'
              )
            "
          >
            Email address mismatch</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showMobile()">
    <div class="row">
      <div class="col-md-12">
        <p class="question-heading requiredField">Mobile Number (Canadian)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input
            formControlName="notificationMobile"
            matInput
            placeholder="Mobile Number"
            [textMask]="{ mask: phoneMask, keepCharPositions: true }"
            (input)="notificationMobileChange()"
          />
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationMobile.invalid &&
              supportDeliveryFormControl.notificationMobile.hasError(
                'whitespaceError'
              )
            "
          >
            Mobile Number is required</mat-error
          >
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationMobile.invalid &&
              supportDeliveryFormControl.notificationMobile.hasError(
                'incorrectLength'
              )
            "
          >
            Mobile number must have 10 digits</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-8 checkbox-container" *ngIf="showMobileCheckBox">
        <mat-checkbox
          (change)="setMobile($event)"
          #setMobileCheckbox
          id="setMobileCheckbox"
        >
          <span *ngIf="mobileOnFile && !previousMobile"
            >Use mobile number on file</span
          >
          <span *ngIf="previousMobile"
            >Use mobile number recorded for previous e-Transfer</span
          >
        </mat-checkbox>
      </div>
    </div>

    <div class="row" *ngIf="showConfirmMobile()">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Mobile Number</mat-label>
          <input
            formControlName="notificationConfirmMobile"
            matInput
            placeholder="Confirm Mobile Number"
            [textMask]="{ mask: phoneMask, keepCharPositions: true }"
            [errorStateMatcher]="mobileMatcher"
          />
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationConfirmMobile.invalid &&
              supportDeliveryFormControl.notificationConfirmMobile.hasError(
                'whitespaceError'
              )
            "
          >
            Mobile Number is required</mat-error
          >
          <mat-error
            *ngIf="
              supportDeliveryFormControl.notificationConfirmMobile.invalid &&
              supportDeliveryFormControl.notificationConfirmMobile.hasError(
                'incorrectLength'
              )
            "
          >
            Mobile number must have 10 digits</mat-error
          >
          <mat-error
            *ngIf="
              supportDeliveryFormControl?.notificationConfirmMobile?.parent
                ?.invalid &&
              supportDeliveryFormControl?.notificationConfirmMobile?.parent?.hasError(
                'mobileMatch'
              )
            "
          >
            Mobile number mismatch</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </ng-container>
</form>
