.back-link {
  color: rgb(55, 171, 221);
}

.back-link:hover {
  text-decoration: underline;
}

.row-padding {
  padding-bottom: 20px;
}

.wizard-support-type {
  font-size: 26px;
}

.question-heading {
  color: #234075;
  font-size: 21px;
}

.next {
  float: right;
  width: 40%;
}

.back {
  width: 40%;
}

.checkbox-container {
  padding-top: 20px;
}