<form [formGroup]="supportDeliveryForm">
  <div class="row">
    <div class="col-md-12">
      <p class="question-heading">e-Transfer Recipient</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="bold dialog-title">
        {{ supportDeliveryFormControl?.recipientLastName.value }},
        {{ supportDeliveryFormControl?.recipientFirstName.value | titlecase }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="question-heading requiredField">e-Transfer Notification Preference</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-select formControlName="notificationPreference" (selectionChange)="preferenceSelect($event)" required>
          <mat-option value=""> Select-- </mat-option>
          @for (preference of notificationPreferences; track preference) {
            <mat-option [value]="preference">
              {{ preference }}
            </mat-option>
          }
        </mat-select>
        @if (
          supportDeliveryFormControl?.notificationPreference.invalid &&
          supportDeliveryFormControl?.notificationPreference.hasError('required')
        ) {
          <mat-error> Required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  @if (showEmail()) {
    <div class="row">
      <div class="col-md-12">
        <p class="question-heading requiredField">Email Address</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input
            formControlName="notificationEmail"
            matInput
            placeholder="Email Address"
            (input)="notificationEmailChange()"
          />
          @if (
            supportDeliveryFormControl.notificationEmail.invalid &&
            supportDeliveryFormControl.notificationEmail.hasError('whitespaceError')
          ) {
            <mat-error> Email is required</mat-error>
          }
          @if (
            supportDeliveryFormControl.notificationEmail.invalid &&
            supportDeliveryFormControl.notificationEmail.hasError('email')
          ) {
            <mat-error>Invalid email</mat-error>
          }
        </mat-form-field>
      </div>
      @if (showEmailCheckBox) {
        <div class="col-md-8 checkbox-container">
          <mat-checkbox (change)="setEmail($event)" #setEmailCheckbox id="setEmailCheckbox">
            @if (emailOnFile) {
              <span>Use email address on file</span>
            }
          </mat-checkbox>
        </div>
      }
    </div>
    @if (showConfirmEmail()) {
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Email Address</mat-label>
            <input
              formControlName="notificationConfirmEmail"
              matInput
              placeholder="Confirm Email Address"
              [errorStateMatcher]="emailMatcher"
            />
            @if (
              supportDeliveryFormControl.notificationConfirmEmail.invalid &&
              supportDeliveryFormControl.notificationConfirmEmail.hasError('whitespaceError')
            ) {
              <mat-error> Confirm Email is required</mat-error>
            }
            @if (
              supportDeliveryFormControl.notificationConfirmEmail.invalid &&
              supportDeliveryFormControl.notificationConfirmEmail.hasError('email')
            ) {
              <mat-error> Invalid email</mat-error>
            }
            @if (supportDeliveryFormControl?.notificationConfirmEmail?.parent?.hasError('emailMatch')) {
              <mat-error> Email address mismatch</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    }
  }

  @if (showMobile()) {
    <div class="row">
      <div class="col-md-12">
        <p class="question-heading requiredField">Mobile Number (Canadian)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input
            formControlName="notificationMobile"
            matInput
            placeholder="Mobile Number"
            [imask]="phoneMask"
            (input)="notificationMobileChange()"
          />
          @if (
            supportDeliveryFormControl.notificationMobile.invalid &&
            supportDeliveryFormControl.notificationMobile.hasError('whitespaceError')
          ) {
            <mat-error> Mobile Number is required</mat-error>
          }
          @if (
            supportDeliveryFormControl.notificationMobile.invalid &&
            supportDeliveryFormControl.notificationMobile.hasError('incorrectLength')
          ) {
            <mat-error> Mobile number must have 10 digits</mat-error>
          }
        </mat-form-field>
      </div>
      @if (showMobileCheckBox) {
        <div class="col-md-8 checkbox-container">
          <mat-checkbox (change)="setMobile($event)" #setMobileCheckbox id="setMobileCheckbox">
            @if (mobileOnFile) {
              <span>Use mobile number on file</span>
            }
          </mat-checkbox>
        </div>
      }
    </div>
    @if (showConfirmMobile()) {
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Mobile Number</mat-label>
            <input
              formControlName="notificationConfirmMobile"
              matInput
              placeholder="Confirm Mobile Number"
              [imask]="phoneMask"
              [errorStateMatcher]="mobileMatcher"
            />
            @if (
              supportDeliveryFormControl.notificationConfirmMobile.invalid &&
              supportDeliveryFormControl.notificationConfirmMobile.hasError('whitespaceError')
            ) {
              <mat-error> Mobile Number is required</mat-error>
            }
            @if (
              supportDeliveryFormControl.notificationConfirmMobile.invalid &&
              supportDeliveryFormControl.notificationConfirmMobile.hasError('incorrectLength')
            ) {
              <mat-error> Mobile number must have 10 digits</mat-error>
            }
            @if (
              supportDeliveryFormControl?.notificationConfirmMobile?.parent?.invalid &&
              supportDeliveryFormControl?.notificationConfirmMobile?.parent?.hasError('mobileMatch')
            ) {
              <mat-error> Mobile number mismatch</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    }
  }
</form>
