<p>
    To connect your Evacuee Registration & Assistance (ERA) Profile with BC Services Card, please click on the link below.
    If the link is not clickable, copy and paste the website address into your browser.
</p>
<br>
<p>
    {{inviteUrl}}
</p>
<br>
<p>
    The temporary link expires after {{inviteExpiryDate}}.
</p>
<br>
<p>
    If you didn’t recently provide your email address to connect your ERA profile with BC Services Card, please ignore this email.
</p>
<br>
<p>
    Sincerely,
</p>
<br>
<p>
    Emergency Management of British Columbia
</p>
<br>
<p>
    For more information about XXX visit the XXX website at <a href='https://ess.gov.bc.ca'>https://ess.gov.bc.ca</a>
</p>