<h3 class="with-icon taxi">Taxi {{> itemsDetailTitle}}</h3>
<div class="row">
    <div class="col-3 no-padding">
        <label class="blocked-label">From:</label>
    </div>
    <div class="col no-padding">
        <span class="input-output">{{FromAddress}}</span>
    </div>
</div>
<div class="row">
    <div class="col-3 no-padding">
        <label class="blocked-label">To:</label>
    </div>
    <div class="col no-padding">
        <span class="input-output">{{ToAddress}}</span>
    </div>
</div>
<br />
