<div class="row">
  <div class="col-md-12">
    <h1>Clone & Extend Support</h1>
    <p>
      Are you sure you want to clone this support? Once the support has been
      cloned, you will be able to edit and extend the support details.
    </p>
  </div>
</div>

<div class="row buttons-section">
  <div class="col-md-12">
    <button class="button-s button-width button-margin" (click)="cancel()">
      No, Cancel
    </button>
    <button class="button-p button-width" (click)="confirm()">
      Yes, Clone & Extend
    </button>
  </div>
</div>
