<div [formGroup]="petForm">
  <label class="card-heading requiredField">Add Pets</label>

  <div class="row pet-form">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Pet Type</mat-label>
        <input
          matInput
          formControlName="type"
          placeholder="e.g. dog, cat and/or hamster"
          maxlength="100"
        />
        <mat-error
          *ngIf="
            petFormControl.type.invalid &&
            (petFormControl.type.hasError('required') ||
              petFormControl.type.hasError('whitespaceError'))
          "
          >Pet Type is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>How Many?</mat-label>
        <input
          matInput
          formControlName="quantity"
          placeholder="How many"
          maxlength="3"
        />
        <mat-error
          *ngIf="
            petFormControl.quantity.invalid &&
            (petFormControl.quantity.hasError('required') ||
              petFormControl.quantity.hasError('whitespaceError'))
          "
          >How many pets is required</mat-error
        >
        <mat-error
          *ngIf="
            petFormControl.quantity.invalid &&
            petFormControl.quantity.hasError('pattern')
          "
          >Quantity is invalid</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</div>
