<h3 class="with-icon supplier">Claim instructions</h3>
<ul>
    <li>Please make a copy or take a photo of this Referral form once it is completed and keep it for your records.</li>
    <li>Ensure all information is fully completed on this Referral form.</li>
    <li>Shelter allowance is only valid for the dates and times identified on this Referral form.</li>
    <li>
        <p><strong>MAIL the original of this Referral form to:</strong></p>
        <p>
            Ministry of Emergency Management and Climate Readiness<br />
            Attention: Accounts Payable<br />
            PO Box 9201, STN PROV GOVT<br />
            Victoria BC V8W 9J1<br />
        </p>
        <br />
        <p><strong>OR<br/>
         EMAIL a scan or clear photo of the ORIGINAL of this form to:</strong></p>
        <u>ESSFinanceInquiries@gov.bc.ca</u>
        <br /><br />
    </li>
    <li><strong>Please allow 6-8 weeks for payment.</strong></li>
</ul>