<h3 class="with-icon notes">Acknowledgement</h3>
<p class="input-output">
    <em><strong>As acknowledged, you will not be eligible to receive anyadditional sheltering supports during the valid timeframenoted on this referral.</strong></em>
</p>