<h3 class="with-icon supplier">Reimbursement instructions</h3>
<ul>
    <li>Please make a copy of your completed Shelter Allowance Referral form and retain for your records.</li>
    <li>Ensure all information is fully completed on this Referral form.</li>
    <li>Shelter allowance is only valid for the dates and times identified on this Referral form.</li>
    <li>
        <p><strong>MAIL the ORIGINAL Shelter Allowance Referral form to:</strong></p>
        <p>
            Ministry of Emergency Management and Climate Readiness<br />
            PO Box 9201, STN PROV GOVT<br />
            Victoria BC V8W 9J1<br />
        </p>
        <br />
        <p><strong>OR Scan and email the ORIGINAL Shelter Allowance Referral to:</strong></p>
        <u>ESSFinanceInquiries@gov.bc.ca</u>
    </li>
    <li>Please allow 6-8 weeks for payment.</li>
</ul>