<div cl="row">
    <div class="col-12">
        <div class="info-block">
            <h3 class="with-icon person">Payee information</h3>
            <p>Please complete before sending to Emergency Management Climate Readiness (EMCR).</p>
            <br />
            <p><strong>{{ ContactName }}</strong></p>
            <p>{{ ContactPhone }}</p>
            <p>{{ ContactEmail }}</p>
            <p><strong>Address cheque to be mailed to:</strong></p>
            <div class="row payee-info-box"></div>
        </div>
    </div>
</div>