<div cl="row">
    <div class="col-12">
        <div class="info-block">
            <h3 class="with-icon person">Payee information</h3>
            <p>The payee is the evacuee who will receive the shelter allowance by cheque.</p>
            <p>Please complete before sending to Ministry of Emergency Management and Climate Readiness (EMCR).</p>
            <br />
            <p><strong>{{ ContactName }}</strong></p>
            <p>{{ ContactPhone }}</p>
            <p>{{ ContactEmail }}</p>
            <div class="row payee-info-box"><span class="corner-text">Address cheque to be mailed to:</span></div>
        </div>
    </div>
</div>