<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-md-12">
      <span class="page-heading">Electronic Access Agreement</span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <section class="scroll-box">
          <p>
            This Agreement provides access to the Emergency Support Services
            Evacuee Registration and Assistance (ERA) tool in support of the
            delivery of Emergency Support Services (ESS) in British Columbia. By
            using ERA you signify your acceptance of this agreement and
            acknowledge you have read and understood the following terms.
          </p>
          <p>
            ERA users must read and comply with the following terms to the
            fullest extent possible. Non compliance will be investigated on a
            case-by-case basis; individuals found to be in non-compliance are
            subject to disciplinary action, and/or other legal remedies,
            pursuant to the PSLV Code of Conduct.
          </p>
          <br />
          <p>1. As a condition of access to ERA, the user agrees to:</p>
          <p>
            When access to ERA is no longer required, inform the local authority
            or First Nation that provided him/her access;
          </p>
          <p>
            Not permit any person to use his/her BCeID and/or ERA username and
            password; to divulge, share or compromise his/her password; or use
            any other user’s BCeID or ERA username and password;
          </p>
          <p>
            Not make unauthorized copies of proprietary software; reveal details
            of any checking, editing, validating, or security mechanisms,
            included in hardware or software, to any unauthorized persons; or
            take any action, which might reasonably be construed, as injurious
            or detrimental to the interests of any other user or evacuees; and
          </p>
          <p>
            Undergo relevant training to support the provision of ESS and the
            safe and responsible usage of ERA including ESS Training provided by
            Emergency Management BC (EMBC).
          </p>
          <br />
          <p>
            2. The user is responsible for all actions performed by their
            “BCeID’ except for fraudulent use of the “BCeID” by an unauthorized
            third party.
          </p>
          <br />
          <p>
            3. The user is required to adhere to all policies, standards or
            procedures pertaining to data security, naming conventions and good
            data processing practices, issued by EMBC.
          </p>
          <br />
          <p>
            4. The user should be aware that it is possible that security can be
            breached through causes beyond the reasonable control of EMBC and
            the community. Users are urged to take full advantage of security
            mechanisms built into the systems and to change their password
            frequently.
          </p>
          <br />
          <p>
            5. The user recognizes that to monitor security, the Ministry of
            Attorney General, Information Services Branch may be required to
            examine access by clients or users without prior notice.
          </p>
          <br />
          <p>
            6. The user acknowledges that all data stored on the system are
            government records which can be accessed by Ministry officials in
            accordance with established policies and form a “record” under the
            Freedom of Information and Protection of Privacy Act (see General
            Management Operating Policy Chapter 3.5.13 and BC Archives and
            Record Services, Records Information Management manual Policy No.
            5.13/01).
          </p>
          <br />
          <p>Privacy:</p>
          <p>
            7. The user understands that personal information means recorded
            information about an identifiable individual other than business
            contact information. The identifiable individual may be an EMBC
            employee, a volunteer, or an evacuee. If the personal information is
            de-identified using an indirect identifier such as case and file
            number or username, the information is still considered personal
            information. Indirect Identifiers may identify an individual when
            they are connected with other pieces of information to single out an
            individual (e.g. age, gender, date of visit). While indirect
            identifiers on their own may not be personal information, they are
            considered personal information if they can be combined together to
            identify an individual. This is commonly referred to as the mosaic
            effect - when the combinations of data elements that in isolation
            look relatively innocuous, can amount to personal information.
          </p>
          <br />
          <p>
            8. If the user is collecting personal information from an evacuee,
            the user must at the time of collection,
          </p>
          <p>
            inform the individual of the purposes for collecting personal
            information;
          </p>
          <p>
            limit the amount and type of personal information collected to what
            is necessary to fulfill the purpose;
          </p>
          <p>
            make reasonable efforts to ensure that the personal information
            collected is accurate and complete; and
          </p>
          <p>
            must only use or disclose the personal information for the purpose
            identified when it was collected.
          </p>
          <br />
          <p>
            9. The user must safeguard personal information from unauthorized
            access, collection, use, disclosure, copying, modification, or
            disposal by individuals from within and outside your organization.
          </p>
        </section>
        <br />
        <div class="accept-box">
          <mat-checkbox (change)="agreementChangeEvent($event)">
            I have read and accept the above electronic access
            agreement</mat-checkbox
          >
        </div>
      </mat-card>
      <br />
      <div class="row">
        <div class="col-12">
          <button
            class="button-p submit-eaa"
            [disabled]="!agreementAccepted"
            mat-button
            (click)="submitEAA()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
