.mat-body p,
.mat-subtitle-2 p,
.mat-typography p {
  margin: 0;
}

p {
  margin: 0;
}

.scroll-box {
  overflow: auto;
  height: 370px;
  padding: 35px;
  margin-bottom: 30px;
}

.mat-mdc-card {
  width: 75%;
}

.accept-box {
  padding-left: 35px;
}

.submit-eaa {
  width: 20%;
  font-size: 16px;
}

@media screen and (max-width: 833px) {
  .mat-mdc-card {
    width: 100%;
  }
}
