mat-form-field {
    width: 100%;
}

.check-box-col {
    align-self: center;
}

@media(max-width: 920px) {
    .last-name-col {
        flex-direction: column;
    }

    .check-box-col {
        max-width: 100% !important;
        align-self: baseline;

    }

    ::ng-deep .mat-form-field-subscript-wrapper {
        position: absolute !important;
    } 
}