<div class="row">
  <div class="col-md-12" [innerHTML]="content?.text"></div>
</div>

<div class="row button-row justify-content-between">
  @if (content?.cancelButton) {
    <div class="col-sm-4">
      <button class="button-s button-width" mat-button (click)="cancel()">
        {{ content?.cancelButton }}
      </button>
    </div>
  }

  @if (content?.confirmButton) {
    <div class="col">
      <button class="button-p button-width confirm-button" mat-button (click)="confirm()">
        {{ content?.confirmButton }}
      </button>
    </div>
  }
</div>
