@use "sass:map";
@import '../../../../styles/styles.scss';

.headerBanner {
  color: white;
  text-align: center;
  font-size: 1.6em;
  padding: 20px 8px;
  margin-bottom: 10px;
}

.maintBanner {
  background-color: $danger;
}

.noticeBanner {
  background-color: $side-box-bg;
}