<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Evacuation Details</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <form [formGroup]="evacDetailsForm">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <label class="tab-subtitle">Paper Based ESS File #</label>

                <p>
                  If you are entering a
                  <strong>paper-based ESS File</strong> into the ERA Tool,
                  please add the ESS File # as it appears on the paper
                  registration below.
                </p>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Paper Based ESS File #</mat-label>
                      <input
                        formControlName="paperESSFile"
                        maxlength="100"
                        matInput
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="!essFileNumber; else editEssFile">
                <div class="col-12">
                  <label
                    id="evacuatedFromPrimary-radio-group-label"
                    class="tab-subtitle requiredField"
                    *ngIf="isBCAddress"
                  >
                    Are you being evacuated from your primary address?
                  </label>
                  <label
                    class="tab-subtitle requiredField"
                    *ngIf="!isBCAddress"
                  >
                    Where are you being evacuated from?
                  </label>

                  <ng-container *ngIf="isBCAddress">
                    <mat-radio-group
                      formControlName="evacuatedFromPrimary"
                      aria-labelledby="evacuatedFromPrimary-radio-group-label"
                      class="options-group"
                      (change)="evacPrimaryAddressChange($event)"
                      required
                    >
                      <mat-radio-button [value]="true">Yes</mat-radio-button>
                      <div class="prim-address">
                        <p
                          [innerHTML]="
                            stepEssFileService?.primaryAddress
                              | maskEvacuatedaddress
                          "
                        ></p>
                      </div>
                      <mat-radio-button [value]="false">No</mat-radio-button>
                      <mat-error
                        class="custom-mat-error"
                        *ngIf="
                          evacDetailsFormControl?.evacuatedFromPrimary
                            .touched &&
                          evacDetailsFormControl?.evacuatedFromPrimary
                            .invalid &&
                          evacDetailsFormControl?.evacuatedFromPrimary.hasError(
                            'required'
                          )
                        "
                      >
                        Evacuation Address is required
                      </mat-error>
                    </mat-radio-group>
                  </ng-container>
                </div>

                <div class="col-12" *ngIf="!isBCAddress">
                  <app-bc-address
                    [addressForm]="evacAddressFormGroup"
                  ></app-bc-address>
                </div>
                <div class="col-12" *ngIf="showBCAddressForm">
                  <p class="bold">Where are you being evacuated from?</p>
                  <app-bc-address
                    [addressForm]="evacAddressFormGroup"
                  ></app-bc-address>
                </div>
              </ng-container>

              <ng-template #editEssFile>
                <div class="col-12">
                  <p class="tab-subtitle requiredField">
                    Where are you being evacuated from?
                  </p>
                  <p
                    *ngIf="essFileNumber"
                    class="evac-address"
                    [innerHTML]="
                      stepEssFileService?.evacAddress | maskEvacuatedaddress
                    "
                  ></p>
                  <app-bc-address
                    *ngIf="wizardType === 'complete-file'"
                    [addressForm]="evacAddressFormGroup"
                  ></app-bc-address>
                </div>
              </ng-template>

              <div class="col-12">
                <label class="tab-subtitle requiredField">
                  Facility Name / Registration Location
                </label>

                <p>
                  A facility is the location of the
                  <strong>Reception Centre</strong> (i.e. rec centre). If there
                  is no Reception Centre, please use the street name on Level 1
                  Activations.
                </p>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline">
                      <mat-label>
                        Facility Name / Registration Location
                      </mat-label>

                      <input
                        formControlName="facilityName"
                        maxlength="100"
                        matInput
                      />
                      <mat-error
                        class="custom-mat-error"
                        *ngIf="
                          evacDetailsFormControl?.facilityName.touched &&
                          evacDetailsFormControl?.facilityName.invalid &&
                          evacDetailsFormControl?.facilityName.hasError(
                            'whitespaceError'
                          )
                        "
                      >
                        Facility Name/ Registration Location is
                        required</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label class="tab-subtitle requiredField">
                  Do you have insurance to cover your immediate needs?
                </label>

                <p>
                  If you have <strong>insurance</strong>, please keep all of
                  your receipts, and contact your insurance provider as soon as
                  possible. If you are having difficulty contacting your
                  insurance provider, please contact the Insurance Bureau of
                  Canada at 1-844-227-5422.
                </p>

                <mat-radio-group
                  formControlName="insurance"
                  class="options-group"
                  (change)="insuranceChange($event)"
                  required
                >
                  <mat-radio-button
                    *ngFor="let option of insuranceOption"
                    [value]="option.value"
                  >
                    {{ option.name }}
                  </mat-radio-button>
                  <mat-error
                    class="custom-mat-error"
                    *ngIf="
                      evacDetailsFormControl?.insurance.touched &&
                      evacDetailsFormControl?.insurance.invalid &&
                      evacDetailsFormControl?.insurance.hasError('required')
                    "
                  >
                    Insurance is required</mat-error
                  >
                </mat-radio-group>

                <p class="responder-instruction bold" *ngIf="showInsuranceMsg">
                  Assist the evacuee in contacting their insurance agent to
                  confirm coverage for this event.
                </p>
              </div>

              <div class="col-12">
                <label class="tab-subtitle requiredField">
                  How have you and your household been affected by the
                  evacuation?
                </label>

                <p>
                  Please do not include any personal/medical information
                  pertaining to the evacuee and their household members.
                </p>

                <mat-form-field appearance="outline">
                  <textarea
                    rows="10"
                    formControlName="householdAffected"
                    placeholder="Please write in the evacuee's own words as much as possible."
                    maxlength="4000"
                    matInput
                    required
                  ></textarea>
                  <mat-error
                    class="custom-mat-error"
                    *ngIf="
                      evacDetailsFormControl?.householdAffected.touched &&
                      evacDetailsFormControl?.householdAffected.invalid &&
                      evacDetailsFormControl?.householdAffected.hasError(
                        'whitespaceError'
                      )
                    "
                  >
                    This information is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12">
                <label class="tab-subtitle">
                  Emergency Support Services provides short term assistance to
                  give evacuees a chance to recover. Have you thought about what
                  you will do after that time?
                </label>

                <p>
                  Please do not include any personal/medical information
                  pertaining to the evacuee and their family.
                </p>

                <mat-form-field appearance="outline">
                  <textarea
                    rows="10"
                    formControlName="emergencySupportServices"
                    placeholder="Please write in the evacuee's own words as much as possible."
                    maxlength="4000"
                    matInput
                  ></textarea>
                </mat-form-field>
              </div>

              <div class="col-12">
                <label class="tab-subtitle">
                  Has the evacuee been referred to any services available in
                  your reception centre?
                </label>

                <mat-radio-group
                  formControlName="referredServices"
                  class="options-group"
                  (change)="referredServiceChange($event)"
                >
                  <mat-radio-button
                    class="primary-radio-button"
                    *ngFor="let option of radioOption"
                    [value]="option.value"
                  >
                    {{ option.name }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="col-12" *ngIf="showReferredServicesForm">
                <p class="bold requiredField">
                  Please select the ones you have recommended for the evacuee
                </p>

                <section class="options-group">
                  <mat-checkbox
                    class="checkbox-option"
                    *ngFor="let option of referredServicesOption"
                    [value]="option.value"
                    (change)="$event ? selectionToggle(option.value) : null"
                    [checked]="selection.isSelected(option.value)"
                    >{{ option.name }}</mat-checkbox
                  >
                </section>
              </div>

              <div class="col-12">
                <label class="tab-subtitle">
                  Has the evacuee been referred to any services outside of the
                  reception centre?
                </label>

                <mat-form-field appearance="outline">
                  <textarea
                    rows="10"
                    formControlName="externalServices"
                    placeholder="Please specify."
                    maxlength="4000"
                    matInput
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <mat-card class="tips-card">
              <div>
                <img
                  class="img-align"
                  src="/assets/images/tips-lightbulb.svg"
                  height="63"
                  width="62"
                />
                <span class="tips-heading">
                  <span class="bold">Tip:</span> Task Number
                </span>
              </div>

              <p class="tips-info">
                This ESS File will be associated with the Task Number that you
                are signed in under.
              </p>

              <p class="tips-info">
                If this is not the correct task number, please sign in under the
                correct task number.
              </p>
            </mat-card>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
