.content-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.tips-info {
  color: white;
  padding: 8px;
  margin-top: 20px;
}

.tips-heading {
  color: white;
  font-size: 21px;
  margin-left: 5px;
}

.tips-card {
  background-color: rgba(35, 64, 117, 1);
}

.next {
  float: right;
  width: 20%;
}

.tab-subtitle {
  font-size: 21px;
  color: #234075;
  margin-bottom: 1em;
}

.responderInstruction {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1.5em;
}

.prim-address {
  font-weight: 700;
  padding-left: 30px;
}

.options-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.checkbox-option {
  margin-bottom: 5px;
  margin-left: 10px;
}

.custom-mat-error {
  font-size: 85%;
}