<div class="row heading-container">
  <div class="col-12">
    <span class="page-heading">Create Profile</span>
  </div>
</div>

<mat-horizontal-stepper class="stepper-style" [linear]="false" labelPosition="bottom" #profileStepper>
  <mat-step *ngFor="let step of steps" [editable]="isEditable">
    <ng-template matStepLabel>{{step.stepName}}</ng-template>
    <app-component-wrapper [componentName]="step.component" [folderPath]="profileFolderPath"></app-component-wrapper>
    <br>
    <div class="row justify-content-between resp-style">
      <div class="col-md-6">
        <button class="button-p" mat-button type="button"
          (click)="goBack(profileStepper, step.lastStep)">{{step.backButtonLabel}}</button>
      </div>
      <div class="col-md-6">
        <button class="button-s" mat-stroked-button type="button"
          (click)="goForward(profileStepper, step.isLast)">{{step.nextButtonLabel}}</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>