<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-12">
      <span class="page-heading">Create Profile</span>
    </div>
  </div>

  <mat-horizontal-stepper *ngIf="!showStep" linear #profileStepper>
    <!-- <mat-step *ngFor="let comp of profileComponents$ | async" [editable]="isEditable">
      <ng-container [ngComponentOutlet]="comp.default"></ng-container>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step> -->
    <mat-step *ngFor="let step of steps" [editable]="isEditable">
      <app-component-wrapper [componentName] = "step.component"></app-component-wrapper>
      <div>
        <button mat-button type="button" (click)="goBack(profileStepper, step.lastStep)">{{step.backButtonLabel}}</button>
        <button mat-button type="button" (click)="goForward(profileStepper, step.isLast)">{{step.nextButtonLabel}}</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-horizontal-stepper *ngIf="showStep" linear #needsStepper>
    <mat-step *ngFor="let step of needsSteps" [editable]="isEditable">
      <app-component-wrapper [componentName] = "step.component"></app-component-wrapper>
      <div>
        <button mat-button type="button" (click)="goBack(needsStepper, step.lastStep)">{{step.backButtonLabel}}</button>
        <button mat-button type="button" (click)="goForward(needsStepper, step.isLast)">{{step.nextButtonLabel}}</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>