<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading requiredField"> Review & Save </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <div class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Evacuation Details</label>

            <div
              *ngIf="
                stepEssFileService?.paperESSFile ||
                evacueeSessionService?.isPaperBased
              "
              class="row"
            >
              <div class="col-4">Paper ESS File Number</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.paperESSFile }}
              </div>
            </div>

            <div
              *ngIf="
                stepEssFileService?.paperESSFile ||
                evacueeSessionService?.isPaperBased
              "
              class="row"
            >
              <div class="col-4">Paper ESS File Created by</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.completedBy }}
              </div>
            </div>

            <div
              *ngIf="
                stepEssFileService?.paperESSFile ||
                evacueeSessionService?.isPaperBased
              "
              class="row"
            >
              <div class="col-4">Paper ESS File Created on</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.completedOn | date: 'dd-MMM-yyyy' }} at
                {{ stepEssFileService?.completedOn | date: 'hh:mm a' }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Evacuated From</div>
              <div
                class="col-8 bold"
                [innerHTML]="
                  stepEssFileService?.evacAddress | maskEvacuatedaddress
                "
              ></div>
            </div>

            <div class="row">
              <div class="col-4">Registration Location/ Facility Name</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.facilityName }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Task #</div>
              <div class="col-8 bold">
                {{ taskNumber }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Insurance</div>
              <div class="col-8 bold">
                {{ insuranceDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                How the Evacuee/Household are affected by the event
              </div>
              <div class="col-8 bold">
                {{ stepEssFileService?.evacuationImpact }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Post Evacuation Household Recovery Plans</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.householdRecoveryPlan }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                Service Recommendations within the Reception Centre
              </div>
              <div class="col-8 bold">
                {{
                  stepEssFileService?.referredServices === 'Yes'
                    ? 'Yes - ' +
                      stepEssFileService?.referredServiceDetails?.join(', ')
                    : 'No'
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                Other Service Recommendations outside of the Reception Centre
              </div>
              <div class="col-8 bold">
                {{ stepEssFileService?.evacuationExternalReferrals }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Household Members</label>

            <div class="row">
              <div class="col-8">
                <mat-table
                  class="bottom-space"
                  [dataSource]="stepEssFileService?.householdMembers"
                  *ngIf="!this.essFileNumber"
                >
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef
                      >First Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">First Name:</span>
                      {{ member.firstName }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef
                      >Last Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Last Name:</span>
                      {{ member.lastName }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="initials">
                    <mat-header-cell *matHeaderCellDef
                      >Initials</mat-header-cell
                    >
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Initials:</span>
                      {{ member.initials }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Gender:</span>
                      {{ member.gender }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dateOfBirth">
                    <mat-header-cell *matHeaderCellDef>
                      Date of Birth
                    </mat-header-cell>
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Date of Birth:</span>
                      {{ member.dateOfBirth | date: 'dd-MMM-yyyy' }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="memberColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let member; columns: memberColumns"
                    [ngClass]="{ 'primary-member': member.isPrimaryRegistrant }"
                  ></mat-row>
                </mat-table>

                <mat-table
                  class="bottom-space"
                  [dataSource]="stepEssFileService?.selectedHouseholdMembers"
                  *ngIf="this.essFileNumber"
                >
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef
                      >First Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">First Name: &nbsp;</span>
                      {{ member.firstName }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef
                      >Last Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Last Name: &nbsp;</span>
                      {{ member.lastName }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="initials">
                    <mat-header-cell *matHeaderCellDef
                      >Initials</mat-header-cell
                    >
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Initials: &nbsp;</span>
                      {{ member.initials }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Gender: &nbsp;</span>
                      {{ member.gender }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="dateOfBirth">
                    <mat-header-cell *matHeaderCellDef>
                      Date of Birth
                    </mat-header-cell>
                    <mat-cell *matCellDef="let member">
                      <span class="mobile-label">Date of Birth: &nbsp;</span>
                      {{ member.dateOfBirth | date: 'dd-MMM-yyyy' }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="memberColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let member; columns: memberColumns"
                    [ngClass]="{ 'primary-member': member.isPrimaryRegistrant }"
                  ></mat-row>
                </mat-table>
              </div>
            </div>

            <div class="row">
              <div class="col-4">Household Dietary Requirements</div>
              <div class="col-8 bold">
                {{
                  stepEssFileService?.haveSpecialDiet === 'Yes'
                    ? stepEssFileService?.specialDietDetails
                      ? 'Yes - ' + stepEssFileService?.specialDietDetails
                      : 'Yes'
                    : 'No'
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Household Medication Requirements</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.takeMedication }}
              </div>
            </div>

            <div
              class="row"
              *ngIf="stepEssFileService?.takeMedication === 'Yes'"
            >
              <div class="col-4">Has Sufficient Medication</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.haveMedicationSupply }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Pets</label>

            <div class="row">
              <div class="col-4">Pets?</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.havePets }}
              </div>
            </div>

            <div class="row" *ngIf="stepEssFileService?.petsList?.length > 0">
              <div class="col-8">
                <mat-table
                  class="bottom-space"
                  [dataSource]="stepEssFileService?.petsList"
                >
                  <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef
                      >Pet Type</mat-header-cell
                    >
                    <mat-cell
                      [ngClass]="element.type.length >= 40 ? 'wrapText' : ''"
                      *matCellDef="let element"
                    >
                      <span class="mobile-label">Pet Type:</span>
                      {{ element.type }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>
                      Number
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Number:</span>
                      {{ element.quantity }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="petColumns"
                  ></mat-header-row>
                  <mat-row *matRowDef="let row; columns: petColumns"></mat-row>
                </mat-table>
              </div>
            </div>

            <div class="row" *ngIf="stepEssFileService?.petsList?.length > 0">
              <div class="col-4">Sufficient pet food?</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.havePetsFood }}
              </div>
            </div>

            <div class="row" *ngIf="stepEssFileService?.petsList?.length > 0">
              <div class="col-4">Pet Care Plan</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.petCarePlans }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Needs Assessment</label>
            <p class="bold">Can evacuee provide?</p>
            <div class="row">
              <div class="col-4">Food</div>
              <div class="col-8 bold">
                {{ needsFoodDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Lodging</div>
              <div class="col-8 bold">
                {{ needsLodgingDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Clothing</div>
              <div class="col-8 bold">
                {{ needsClothingDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Transportation</div>
              <div class="col-8 bold">
                {{ needsTransportationDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Incidentals</div>
              <div class="col-8 bold">
                {{ needsIncidentalsDisplay }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!evacueeSessionService?.isPaperBased" class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Security Phrase</label>

            <div
              class="row"
              *ngIf="
                wizardType === 'new-ess-file' &&
                stepEssFileService?.bypassPhrase
              "
            >
              <div class="col-8">
                <mat-checkbox [checked]="true" [disabled]="true">
                  Bypass security phrase for manual entry of paper ESS file.
                </mat-checkbox>
              </div>
            </div>

            <div
              class="row"
              *ngIf="
                !stepEssFileService?.bypassPhrase ||
                wizardType !== 'new-ess-file'
              "
            >
              <div class="col-4">Security Phrase</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.securityPhrase | maskText }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 nav-buttons">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>

          <button
            class="button-p save"
            mat-stroked-button
            (click)="save()"
            [disabled]="saveLoader || disableButton"
          >
            Save ESS File
            <app-loader
              style="
                display: inline-flex;
                justify-content: center;
                align-items: center;
              "
              [strokeWidth]="3"
              [diameter]="20"
              [showLoader]="saveLoader"
            ></app-loader>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
