<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading requiredField"> Review & Save </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 content-container">
      <div class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Evacuation Details</label>

            @if (stepEssFileService?.paperESSFile || evacueeSessionService?.isPaperBased) {
              <div class="row">
                <div class="col-4">Paper ESS File Number</div>
                <div class="col-8 bold">
                  {{ stepEssFileService?.paperESSFile }}
                </div>
              </div>
            }

            @if (stepEssFileService?.paperESSFile || evacueeSessionService?.isPaperBased) {
              <div class="row">
                <div class="col-4">Paper ESS File Created by</div>
                <div class="col-8 bold">
                  {{ stepEssFileService?.completedBy }}
                </div>
              </div>
            }

            @if (stepEssFileService?.paperESSFile || evacueeSessionService?.isPaperBased) {
              <div class="row">
                <div class="col-4">Paper ESS File Created on</div>
                <div class="col-8 bold">
                  {{ stepEssFileService?.completedOn | date: 'dd-MMM-yyyy' }} at
                  {{ stepEssFileService?.completedOn | date: 'hh:mm a' }}
                </div>
              </div>
            }

            <div class="row">
              <div class="col-4">Evacuated From</div>
              <div class="col-8 bold" [innerHTML]="stepEssFileService?.evacAddress | maskEvacuatedaddress"></div>
            </div>

            <div class="row">
              <div class="col-4">Registration Location/ Facility Name</div>
              <div class="col-8 bold">
                {{ stepEssFileService?.facilityName }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Task #</div>
              <div class="col-8 bold">
                {{ taskNumber }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Insurance</div>
              <div class="col-8 bold">
                {{ insuranceDisplay }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Household Members</label>
            <div class="row">
              <div class="col-12">
                @if (!this.essFileNumber) {
                  <mat-table class="bottom-space" [dataSource]="stepEssFileService?.householdMembers">
                    <ng-container matColumnDef="firstName">
                      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">First Name:</span>
                        {{ member.firstName }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Last Name:</span>
                        {{ member.lastName }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="initials">
                      <mat-header-cell *matHeaderCellDef>Initials</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Initials:</span>
                        {{ member.initials }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gender">
                      <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Gender:</span>
                        {{ member.gender }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dateOfBirth">
                      <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Date of Birth:</span>
                        {{ member.dateOfBirth | date: 'dd-MMM-yyyy' }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="contact">
                      <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Contact:</span>
                        {{ member.phone }}
                        @if (member.phone) {
                          <br />
                        }
                        {{ member.email }}
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="memberColumns"></mat-header-row>
                    <mat-row
                      *matRowDef="let member; columns: memberColumns"
                      [ngClass]="{ 'primary-member': member.isPrimaryRegistrant }"
                    ></mat-row>
                  </mat-table>
                }

                @if (this.essFileNumber) {
                  <mat-table class="bottom-space" [dataSource]="stepEssFileService?.selectedHouseholdMembers">
                    <ng-container matColumnDef="firstName">
                      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">First Name: &nbsp;</span>
                        {{ member.firstName }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Last Name: &nbsp;</span>
                        {{ member.lastName }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="initials">
                      <mat-header-cell *matHeaderCellDef>Initials</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Initials: &nbsp;</span>
                        {{ member.initials }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gender">
                      <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Gender: &nbsp;</span>
                        {{ member.gender }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dateOfBirth">
                      <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Date of Birth: &nbsp;</span>
                        {{ member.dateOfBirth | date: 'dd-MMM-yyyy' }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="contact">
                      <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>
                      <mat-cell *matCellDef="let member">
                        <span class="mobile-label">Contact:</span>
                        {{ member.phone }}
                        @if (member.phone) {
                          <br />
                        }
                        {{ member.email }}
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="memberColumns"></mat-header-row>
                    <mat-row
                      *matRowDef="let member; columns: memberColumns"
                      [ngClass]="{ 'primary-member': member.isPrimaryRegistrant }"
                    ></mat-row>
                  </mat-table>
                }
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="data-panel">
                  <label class="tab-subtitle">Pets</label>
                  <div class="row">
                    <div class="col-4">Pets?</div>
                    <div class="col-8 bold">
                      {{ stepEssFileService?.havePets ? stepEssFileService?.havePets : 'No' }}
                    </div>
                  </div>
                  @if (stepEssFileService?.petsList?.length > 0) {
                    <div class="row">
                      <div class="col-8">
                        <mat-table class="bottom-space" [dataSource]="stepEssFileService?.petsList">
                          <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef>Pet Type</mat-header-cell>
                            <mat-cell [ngClass]="element.type.length >= 40 ? 'wrapText' : ''" *matCellDef="let element">
                              <span class="mobile-label">Pet Type:</span>
                              {{ element.type }}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              <span class="mobile-label">Number:</span>
                              {{ element.quantity }}
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="petColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: petColumns"></mat-row>
                        </mat-table>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="review-panel data-panel">
              <p class="tab-subtitle">Needs</p>
              @for (item of stepEssFileService.needsIdentified; track item) {
                <div class="row">
                  <div class="col-12 bold">{{ item }}</div>
                </div>
              }
              @if (stepEssFileService?.needsIdentified.length === 0) {
                <div class="row">
                  <div class="col-12 bold">{{ noAssistanceRequiredMessage }}</div>
                </div>
              }
            </div>
          </div>
        </div>

        @if (!evacueeSessionService?.isPaperBased) {
          <div class="row">
            <div class="col-12">
              <div class="review-panel data-panel">
                <label class="tab-subtitle">Security Word</label>
                @if (wizardType === 'new-ess-file' && stepEssFileService?.bypassPhrase) {
                  <div class="row">
                    <div class="col-8">
                      <mat-checkbox [checked]="true" [disabled]="true">
                        Bypass security word for manual entry of paper ESS file.
                      </mat-checkbox>
                    </div>
                  </div>
                }
                @if (!stepEssFileService?.bypassPhrase || wizardType !== 'new-ess-file') {
                  <div class="row">
                    <div class="col-4">Security Word</div>
                    <div class="col-8 bold">
                      {{ stepEssFileService?.securityPhrase | maskText }}
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }

        <div class="row">
          <div class="col-12 nav-buttons">
            <button class="button-s back" mat-button (click)="back()">Back</button>

            <button class="button-p save" mat-stroked-button (click)="save()" [disabled]="saveLoader || disableButton">
              Save ESS File
              <app-loader
                style="display: inline-flex; justify-content: center; align-items: center"
                [strokeWidth]="3"
                [diameter]="20"
                [showLoader]="saveLoader"
              ></app-loader>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
