.breadCrumb {
    font-family: "BC Sans", sans-serif;
    padding: 10px 50px;
}

.goBackLink {
    color: rgba(0, 0, 0, 0.35);
    text-decoration: none;
}

.goBackLink:hover {
    color: #169bd5;
    text-decoration: underline;
    cursor: pointer;
}

.detailsCard {
    padding: 0;
}

.contentCard {
    padding: 20px;
}

.evacFileHeader {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 118px;
    background-color: rgba(229, 229, 229, 0.690196078431373);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    font-family: "BC Sans", sans-serif;
    font-style: normal;
}

.titleDetailHeader {
    padding-top: 20px;
    font-size: 36px;
    color: #234075;
    font-weight: 400;
    display: inherit;
}

.backButton {
    padding-bottom: 30px;
}

.backButton:hover {
    color: #169bd5;
}

.evacFileSpan {
    padding: 0 20px;
}

.statusDetailHeader {
    display: block;
    padding-top: 40px;
    padding-right: 30px;
}

.statusDetailHeaderElements {
    float: right;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 35px;
}

.supportReceived {
    padding: 30px 30px 100px;
}

.supportReceivedBoldSpan {
    font-weight: 700;
    line-height: 35px;
}

.supportReceivedRegSpan {
    font-weight: 400;
    line-height: 24px;
}

.evacuatedAddress {
    font-weight: 700;
    color: #169bd5;
}

.mainReferralsLink {
    text-align: right;
    color: #169bd5;
    padding: 0 0 0 45px;
    cursor: pointer;
}

.allReferrals {
    padding: 3px 0;
}

:host ::ng-deep app-review {
    .mat-card {
        box-shadow: none;
    }
    .mat-card-top,
    mat-card {
        border-top-style: none !important;
    }
    .mat-card-left,
    mat-card {
        border-left-style: none !important;
    }
    .mat-card-right,
    mat-card {
        border-right-style: none !important;
    }
}

.support-pending {
    color: #f28200;
}

.support-active {
    color: #169bd5;
}

.support-expired {
    color: #797979;
}

.support-completed {
    color: #3c9d0f;
}

.support-archived {
    color: black;
}

@media (max-width: 995px) {
    .evacFileHeader {
        height: auto;
    }

    .allReferrals {
        padding: 5px;
        display: contents;
        text-align: end;
    }

    .mainReferralsLink {
        padding: 0;
    }
}

@media (max-width: 330px) {
    .evacFileHeader {
        height: auto;
        display: grid;
    }
}
