<br />
<div class="row" style="max-width: 100%">
  <div class="col-md-12 breadCrumb">
    <a class="goBackLink" (click)="goToCurrent()"
      >{{ evacuationFileTab }} Events ({{
        evacuationFileDataService.currentEvacuationFileCount$ | async
      }}) &nbsp;</a
    >
    <span>
      / &nbsp; ESS File #{{
        evacuationFileDataService?.isPaper
          ? evacuationFileDataService.externalReferenceId
          : evacuationFileDataService?.essFileId
      }}</span
    >
  </div>
</div>
<mat-card class="detailsCard">
  <div class="row evacFileHeader">
    <div class="col-md-9 titleDetailHeader">
      <button
        class="backButton"
        (click)="goToCurrent()"
        (mouseover)="onMouseOver()"
        (mouseout)="onMouseOut()"
      >
        <img [src]="backArrowImgSrc" height="28" width="31" />
      </button>
      <span class="evacFileSpan"
        >ESS File #{{
          evacuationFileDataService?.isPaper
            ? evacuationFileDataService.externalReferenceId
            : evacuationFileDataService?.essFileId
        }}</span
      >
    </div>

    <div class="col-md-3 statusDetailHeader">
      <div class="statusDetailHeaderElements">
        <span>Status: </span>
        <span
          [ngClass]="{
            'support-active':
              evacuationFileDataService.evacuationFileStatus === 'Active',
            'support-pending':
              evacuationFileDataService.evacuationFileStatus === 'Pending',
            'support-expired':
              evacuationFileDataService.evacuationFileStatus === 'Expired',
            'support-completed':
              evacuationFileDataService.evacuationFileStatus === 'Completed',
            'support-archived':
              evacuationFileDataService.evacuationFileStatus === 'Archived'
          }"
          >{{ evacuationFileDataService.evacuationFileStatus }}</span
        >
      </div>
    </div>
  </div>
  <div *ngIf="referralData?.size === 0; else referrals">
    <app-review
      [type]="type"
      [showHeading]="false"
      [currentFlow]="currentFlow"
      [parentPageName]="parentPageName"
      [allowEdit]="allowEdition()"
    >
    </app-review>
    <div class="supportReceived">
      <p class="titleDetailHeader">Supports Received</p>
      <p class="supportReceivedBoldSpan">
        We do not have any records of supports issued within our system.
      </p>
      <p class="supportReceivedRegSpan">
        Please proceed to an ESS volunteer or your nearest reception center
        where you will be assisted.
      </p>
    </div>
  </div>
  <ng-template #referrals>
    <mat-card-content class="contentCard">
      <div class="row justify-content-between">
        <div class="col-md-6 card-heading">Event Details</div>
      </div>
      <hr />

      <div class="row info-detail">
        <div class="col-md-3">Evacuated From:</div>
        <div class="col-md-3 evacuatedAddress">
          <div>
            <p
              [innerHTML]="
                evacuationFileDataService?.evacuatedAddress
                  | maskEvacuatedaddress
              "
            ></p>
          </div>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-md-3">ESS File Created:</div>
        <div class="col-md-3">
          <span
            ><b>{{
              evacuationFileDataService?.evacuationFileDate
                | date: 'dd-MMM-yyyy'
            }}</b></span
          >
        </div>
      </div>
      <br /><br />
      <div class="row justify-content-between">
        <div class="col-md-6 card-heading">Support Received</div>
      </div>
      <hr />
      <div class="row info-detail">
        <div class="col-10">
          Click on the dates that you received supports below to view full
          support details.
        </div>
        <div class="col-2 row mainReferralsLink" (click)="expandDetails()">
          <div class="col-md-6 allReferrals">
            <a>{{ this.allExpandState ? 'close all' : 'expand all' }}</a>
          </div>
          <div class="col-md-6 row">
            <div class="col-md-9" style="height: 6px">
              <img
                [ngClass]="allExpandState ? 'none' : 'rotate180'"
                src="../../../../assets/images/expand_arrow.png"
                height="15"
                width="18"
              />
            </div>
          </div>
        </div>
      </div>
      <br />
      <app-referral-details
        *ngFor="let key of referralData.keys()"
        [referralDataSource]="referralData.get(key)"
        [referralsDate]="key"
        [allExpandState]="allExpandState"
        (allExpandStateUpdate)="allExpandState = $event"
      >
      </app-referral-details>
    </mat-card-content>
  </ng-template>
</mat-card>
