<div class="container container-frame">
    <div class="row heading-container">
        <div class="col-12">
            <span class="page-heading">BC Services Card Mismatch</span>
        </div>
    </div>

    <mat-vertical-stepper class="stepper-style" [linear]="false" #conflictStepper>
        <mat-step *ngIf="conflicts | arrayContains: 'Name'">
            <ng-template matStepLabel><span class="custom-label">Name Mismatch</span></ng-template>
            <mat-card class="card-border">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <p>The name attached to your BC Services card <b>does not match</b> the name associated with
                                your ERA Profile. By clicking <span class="highlight">Continue</span> your details in
                                your ERA
                                Profile will be updated to match the details associated with your BC Services card.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-between">

                        <div class="col-md-8 highlight-conflicts">Evacuee Registration & Assistance (ERA)</div>
                        <div class="col-md-4 highlight">BC Services Card</div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-8"> {{eraProfile?.personalDetails?.lastName}} ,
                            {{eraProfile?.personalDetails?.firstName}} </div>
                        <div class="col-md-4"> {{loginProfile?.personalDetails?.lastName}} ,
                            {{loginProfile?.personalDetails?.firstName}} </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div>
                <button class="button-s" mat-stroked-button (click)="next()">Continue
                    <app-loader [showLoader]="showLoader"></app-loader>
                </button>
            </div>
        </mat-step>

        <mat-step *ngIf="conflicts | arrayContains: 'DateOfBirth'">
            <ng-template matStepLabel><span class="custom-label">DOB Mismatch</span></ng-template>
            <mat-card class="card-border">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <p>The date of birth attached to your BC Services card <b>does not match</b> the date of
                                birth
                                associated with your ERA Profile. By clicking <span class="highlight">Continue</span>
                                your
                                details in your ERA Profile will be updated to match the details associated with your BC
                                Services card.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-between">
                        <div class="col-md-8 highlight-conflicts">Evacuee Registration & Assistance (ERA)</div>
                        <div class="col-md-4 highlight">BC Services Card</div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-8"> {{eraProfile?.personalDetails?.dateOfBirth | customDate}} </div>
                        <div class="col-md-4"> {{loginProfile?.personalDetails?.dateOfBirth | customDate}} </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div>
                <button class="button-s" mat-stroked-button (click)="next()">Continue
                    <app-loader [showLoader]="showLoader"></app-loader>
                </button>
            </div>

        </mat-step>
        <mat-step *ngIf="conflicts | arrayContains: 'PrimaryAddress'">
            <ng-template matStepLabel><span class="custom-label">Address Mismatch</span></ng-template>
            <mat-card class="card-border">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <p>The address attached to your BC Services card <b>does not match</b> the address
                                associated with your ERA Profile.
                                Do you want to <span class="highlight">update your address</span> with the details from
                                your BC Services Card?
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-between">
                        <div class="col-md-8 highlight-conflicts">Evacuee Registration & Assistance (ERA)</div>
                        <div class="col-md-4 highlight">BC Services Card</div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            {{eraProfile?.primaryAddress?.addressLine1}}<br>
                            <div *ngIf="eraProfile?.primaryAddress?.addressLine2">
                                {{eraProfile?.primaryAddress?.addressLine2}}<br></div>
                            {{eraProfile?.primaryAddress?.jurisdiction?.name}}
                            {{eraProfile?.primaryAddress?.stateProvince?.code}}
                            {{eraProfile?.primaryAddress?.postalCode}}<br>
                            {{eraProfile?.primaryAddress?.country?.name}}
                        </div>
                        <div class="col-md-4">
                            {{loginProfile?.primaryAddress?.addressLine1}}<br>
                            <div *ngIf="loginProfile?.primaryAddress.addressLine2">
                                {{loginProfile?.primaryAddress?.addressLine2}}<br>
                            </div>
                            {{loginProfile?.primaryAddress?.jurisdiction?.name}}
                            {{loginProfile?.primaryAddress?.stateProvince?.code}}
                            {{loginProfile?.primaryAddress?.postalCode}}<br>
                            {{loginProfile?.primaryAddress?.country?.name}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div *ngIf="!updateAddressIndicator">
                <button class="button-s" mat-stroked-button (click)="navigateDashboard()">No, Keep My Address</button>
                <button class="button-p" mat-stroked-button (click)="toggleAddress()">Yes, Update My Address</button>
            </div>

            <div *ngIf="updateAddressIndicator">
                <app-component-wrapper [componentName]="componentName" [folderPath]="folderPath">
                </app-component-wrapper>
                <br>
                <button class="button-s" mat-stroked-button (click)="toggleAddress('cancel')">Cancel</button>
                <button class="button-p" mat-stroked-button (click)="conflictsResolved()">Save
                    <app-loader [showLoader]="showLoader"></app-loader>
                </button>
            </div>
        </mat-step>
        <ng-template matStepperIcon="edit" let-index="index">
            {{index + 1}}
        </ng-template>
    </mat-vertical-stepper>
</div>


<!-- <div class="row justify-content-between">
    <div>'
        + eraAddress.addressLine1 + '<br>' + eraAddress.addressLine2 + '<br>' + eraAddress.jurisdiction.name + ' ' +
        eraAddress.stateProvince.code + ' ' + eraAddress.postalCode + '<br>' + eraAddress.country.name
        + '</div>
    <div>'
        + bcscAddress.addressLine1 + '<br>' + bcscAddress.addressLine2 + '<br>' + bcscAddress.jurisdiction + ' ' +
        bcscAddress.stateProvince.code + ' ' + bcscAddress.postalCode + '<br>' + bcscAddress.country.name
        + '</div>
</div> -->