@import '../../../styles/styles.scss';

.box {
  //margin: 20px;
  border: 3px #dfdfdf solid;
}

.attach-box {
  //margin: 20px;
  border: 3px #dfdfdf solid;
  background-color: #f0f4f6;
}

.header {
  background-color: #e5eaee;
  height: 70px;
  margin-right: 1px;
  margin-left: 1px;
}

.nestedHeader {
  background-color: #f0f4f6;
  height: 40px;
  padding: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

p {
  margin-bottom: 0px !important;
}

.total {
  padding: 10px;
  background-color: #e5eaee;
  height: 50px;
  margin-right: 1px;
  margin-left: 1px;
}
