<div class="row">
  <div class="col-md-12">
    <div class="row">
      <img class="img-fluid d-none d-md-block" src="/assets/images/essIcon.svg" width="114" height="147" />
      <img class="img-fluid d-md-none" src="/assets/images/essIcon.svg" width="114" height="147" />
      <div class="app-heading">
        <p class="submissionHeader">Evacuee Registration & Assistance (ERA)</p>
        <span style="font-size: 28px">Supplier Invoice & Receipt Submission</span>
      </div>
    </div>
    <hr />

    <div>
      <p>Please read through this summary to make sure all your information is correct before submitting.</p>
      <a href="javascript:void(0)" (click)="print()" role="button">Please print this page for your records.</a>

      <div class="formHeading">Supplier Details</div>
      <div>
        <p><b>Supplier Information:</b></p>
        <p>{{ supplier?.supplierLegalName }}</p>
        <p>{{ supplier?.supplierName }}</p>
        <p>{{ supplier?.location }}</p>
        <p>GST#:{{ supplier?.gstNumber }}</p>
        <br />
        <p><b>Supplier Address:</b></p>
        <p>{{ supplier?.address?.address1 }}</p>
        <p>{{ supplier?.address?.address2 }}</p>
        <p>{{ supplier?.address?.city.name }}</p>
        <p>{{ supplier?.address?.province.name }}</p>
        <p>{{ supplier?.address?.postalCode }}</p>
        <p>{{ supplier?.address?.country.name }}</p>
        <br />
        <p><b>Contact person:</b></p>
        <p>{{ supplier?.contactPerson?.firstName }}&nbsp;{{ supplier?.contactPerson?.lastName }}</p>
        <p>{{ supplier?.contactPerson?.email }}</p>
        <p>{{ supplier?.contactPerson?.phone }}</p>
        <p>{{ supplier?.contactPerson?.fax }}</p>
        <br />
        <p><b>Remit Payment to:</b></p>
        <p>{{ supplier?.businessName }}</p>
        <p>{{ supplier?.remittanceAddress?.address1 }}</p>
        <p>{{ supplier?.remittanceAddress?.address2 }}</p>
        <p>{{ supplier?.remittanceAddress?.city }}</p>
        <p>{{ supplier?.remittanceAddress?.province?.name }}</p>
        <p>{{ supplier?.remittanceAddress?.state?.name }}</p>
        <p>{{ supplier?.remittanceAddress?.postalCode }}</p>
        <p>{{ supplier?.remittanceAddress?.zipCode }}</p>
        <p>{{ supplier?.remittanceAddress?.otherCode }}</p>
        <p>{{ supplier?.businessCountry?.name }}</p>
      </div>

      @if (supplierSubmissionType === 'invoice') {
        <div>
          <div class="formHeading">Invoice Submitted</div>
          <div>
            @for (invoice of supplier?.invoices; track invoice) {
              <div class="box">
                <div class="row header">
                  <div class="col-8" style="font-size: 18px">
                    <b>Invoice# {{ invoice.invoiceNumber }}</b>
                  </div>
                  <div class="col"><b>Invoice Date</b> {{ invoice.invoiceDate }}</div>
                </div>
                @for (referral of invoice.referrals; track referral) {
                  <div>
                    <div class="nestedHeader">
                      <p>
                        <b>Referral# {{ referral.referralNumber }}</b>
                      </p>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th scope="col">Support Provided</th>
                            <th scope="col">Description</th>
                            <th scope="col">Submitted Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (row of referral.referralRows; track row; let j = $index) {
                            <tr>
                              <td>
                                {{ row.supportProvided.name }}
                              </td>
                              <td>{{ row.description }}</td>
                              <td>
                                {{ row.amount | currency }}
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                    <br />
                    <div class="col-md-4 offset-md-8">
                      <div><b>Total Amount</b> {{ referral.totalAmount | currency }}</div>
                    </div>
                  </div>
                }
                <br />
                <div class="row total">
                  <div class="col-md-4 offset-md-8">
                    <b>Invoice Total</b> {{ invoice.invoiceTotalAmount | currency }}
                  </div>
                </div>
              </div>
            }
          </div>
          <div class="formHeading">Attachments</div>
          @for (invoice of supplier?.invoices; track invoice) {
            <div>
              @if (invoice.invoiceAttachments.length > 0) {
                <div class="attach-box" style="padding: 7px">
                  <p>
                    <b>Invoice {{ invoice.invoiceNumber }}</b>
                  </p>
                  @for (attach of invoice.invoiceAttachments; track attach) {
                    <div style="margin-bottom: 5px">
                      <span class="icon"
                        ><img src="/assets/images/docIcon.svg" width="23" height="30" />&nbsp;&nbsp;</span
                      >
                      <span class="icon-text">{{ attach.fileName }}</span>
                    </div>
                  }
                  <br />
                  @for (ref of invoice.referrals; track ref) {
                    <div>
                      <p>
                        <b>Referral {{ ref.referralNumber }}</b>
                      </p>
                      @for (attach of ref.receiptAttachments; track attach) {
                        <div style="margin-bottom: 5px">
                          <span class="icon"
                            ><img src="/assets/images/docIcon.svg" width="23" height="30" />&nbsp;&nbsp;</span
                          >
                          <span class="icon-text">{{ attach.fileName }}</span>
                        </div>
                      }
                      @for (attach of ref.referralAttachments; track attach) {
                        <div style="margin-bottom: 5px">
                          <span class="icon"
                            ><img src="/assets/images/docIcon.svg" width="23" height="30" />&nbsp;&nbsp;</span
                          >
                          <span class="icon-text">{{ attach.fileName }}</span>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }

      @if (supplierSubmissionType === 'receipt') {
        <div>
          <div class="formHeading">Receipt Submitted</div>
          <div>
            @for (receipt of supplier?.receipts; track receipt) {
              <div class="box">
                <div class="row header align-items-center">
                  <div class="col-12" style="font-size: 18px">
                    <b>Referral# {{ receipt.referralNumber }}</b>
                  </div>
                </div>
                @for (referral of receipt.referrals; track referral; let j = $index) {
                  <div>
                    <div class="row nestedHeader">
                      <div class="col-8">
                        <b>Receipt {{ j + 1 }}</b>
                      </div>
                      <div class="col"><b>Receipt Date</b> {{ referral.referralDate }}</div>
                      <!-- <p><b>Receipt {{j+1}}</b></p> -->
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th scope="col">Support Provided</th>
                            <th scope="col">Description</th>
                            <th scope="col">Submitted Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (row of referral.referralRows; track row) {
                            <tr>
                              <td>
                                {{ row.supportProvided.name }}
                              </td>
                              <td>{{ row.description }}</td>
                              <td>
                                {{ row.amount | currency }}
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-4 offset-md-8">
                      <div><b>Total Amount</b> {{ referral.totalAmount | currency }}</div>
                    </div>
                    <br />
                  </div>
                }
                <br />
                <div class="row total">
                  <div class="col-md-4 offset-md-8">
                    <b>Referral Total</b>
                    {{ receipt.receiptTotalAmount | currency }}
                  </div>
                </div>
              </div>
            }
          </div>
          <div class="formHeading">Attachments</div>
          @for (receipt of supplier?.receipts; track receipt) {
            <div>
              @if (receipt.receiptAttachments.length > 0 || receipt.referralAttachments.length > 0) {
                <div class="attach-box" style="padding: 7px">
                  <p>
                    <b>Referral {{ receipt.referralNumber }}</b>
                  </p>
                  @for (attach of receipt.receiptAttachments; track attach) {
                    <div style="margin-bottom: 5px">
                      <span class="icon"
                        ><img src="/assets/images/docIcon.svg" width="23" height="30" />&nbsp;&nbsp;</span
                      >
                      <span class="icon-text">{{ attach.fileName }}</span>
                    </div>
                  }
                  @for (attach of receipt.referralAttachments; track attach) {
                    <div style="margin-bottom: 5px">
                      <span class="icon"
                        ><img src="/assets/images/docIcon.svg" width="23" height="30" />&nbsp;&nbsp;</span
                      >
                      <span class="icon-text">{{ attach.fileName }}</span>
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col">
        <p>Please complete the CAPTCHA below. This helps us prevent automated registrations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-captcha-v2 (captchaResponse)="onTokenResponse($event)"></app-captcha-v2>
      </div>
    </div>

    <app-alert></app-alert>

    <div class="row" style="justify-content: space-between">
      <div style="padding-left: 13px">
        <button type="submit" (click)="goback()" [disabled]="isSubmitted" class="btn primary-button">
          Go back & Edit
        </button>
      </div>
      <div style="padding-right: 13px">
        <button type="submit" (click)="submit()" [disabled]="isSubmitted" class="btn secondary-button">
          Submit
          <app-loader [showLoader]="showLoader"></app-loader>
        </button>
      </div>
    </div>
  </div>
</div>
