table {
    width: 100%;
  }

  th {
    font-size: 16px;
    background-color: rgba(113, 113, 113, 1);
    color: white
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(37, 168, 0, 1) !important;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: rgba(210, 0, 0, 1) !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}

.active-style {
  color: rgba(37, 168, 0, 1) !important;
}

.inactive-style {
  color: rgba(210, 0, 0, 1) !important;
}

.lastName-inactive {
  color: rgba(210, 0, 0, 1) !important;
  font-weight: bold;
}

.lastName-active {
  font-weight: bold;
}