<div class="mat-elevation-z8 table-responsive">
  <table mat-table [dataSource]="dataSource" matSort>
    @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column?.ref">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="arrow-color">
          {{ column?.label }}
        </th>
        <td mat-cell *matCellDef="let row; let index = index" (click)="disableRowInteraction($event, column?.ref)">
          @if (column?.ref === 'lastName') {
            <span>
              <span
                [ngClass]="{
                  'lastName-active': row.isActive,
                  'lastName-inactive': !row.isActive
                }"
                >{{ row[column?.ref] }}</span
              >
            </span>
          }
          @if (column?.ref !== 'isActive' && column?.ref !== 'lastName') {
            <span>
              <span>{{ row[column?.ref] }}</span>
            </span>
          }
          @if (column?.ref === 'isActive') {
            <span>
              @if (isToggleAllowed(row)) {
                <span>
                  <mat-slide-toggle [checked]="row[column?.ref]" (change)="slideToggle($event, row, index)">
                    <span
                      [ngClass]="{
                        'active-style': row[column?.ref],
                        'inactive-style': !row[column?.ref]
                      }"
                      >{{ row[column?.ref] ? 'Active' : 'Deactivated' }}</span
                    >
                    <span>
                      @if (index === selectedIndex) {
                        <app-loader
                          style="display: inline; justify-content: center; align-items: center"
                          class="mat-progress"
                          [showLoader]="!statusLoading"
                          [strokeWidth]="3"
                          [diameter]="20"
                          [color]="color"
                        >
                        </app-loader>
                      }
                    </span>
                  </mat-slide-toggle>
                </span>
              } @else {
                <span
                  [ngClass]="{
                    'active-style': row[column?.ref],
                    'inactive-style': !row[column?.ref]
                  }"
                  >{{ row[column?.ref] ? 'Active' : 'Deactivated' }}</span
                >
              }
            </span>
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns" (click)="rowClicked(row)"></tr>
  </table>

  <app-loader
    style="display: flex; justify-content: center; align-items: center"
    class="mat-progress"
    [showLoader]="!isLoading"
    [strokeWidth]="3"
    [diameter]="50"
    [color]="color"
  ></app-loader>

  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
<br />
