table {
    width: 100%;
  }

  th {
    font-size: 16px;
    background-color: rgba(113, 113, 113, 1);
    color: white
  }

  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #E1E1E1;
    cursor: pointer;
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(37, 168, 0, 1) !important;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: rgba(210, 0, 0, 1) !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}

::ng-deep .arrow-color .mat-sort-header-arrow {
  color: #fff;
}

::ng-deep .mat-sort-header-container {
  border: 0px !important;
}

.info-image img:last-child {
  display: none;
  }
  
  .info-image:hover img:last-child {
  display: inline;
  }
  
  .info-image:hover img:first-child {
  display: none;
  }

.info-card {
  @extend .info-image;
  display: block;
  margin: auto;
  text-align: center;
  margin-left: 20px;

}

.active-style {
  color: rgba(37, 168, 0, 1) !important;
}

.inactive-style {
  color: rgba(210, 0, 0, 1) !important;
}

.name-cell {
  font-weight: bold;
}