<div class="row">
  <div class="col-md-12">
    <p class="heading">Verify Evacuee Profile</p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <p id="verified-radio-group-label" class="bold">
      To verify this profile please confirm that you have seen government issue
      identification for this evacuee.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-3">
    <p><b>First Name:</b></p>
    <p><b>Last Name:</b></p>
    <p><b>Date of Birth:</b></p>
  </div>
  <div class="col-md-9">
    <p>firstName</p>
    <p>lastName</p>
    <p>dateOfBirth</p>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="verificationForm">
      <mat-radio-group
        formControlName="verified"
        aria-labelledby="verified-radio-group-label"
        class="primary-radio-group"
        (change)="isVerified($event)"
        required
      >
        <mat-radio-button [value]="true"
          ><span class="radio-text"><b>Yes</b></span> - I saw government issued
          identification</mat-radio-button
        >
        <mat-radio-button [value]="false"
          ><span class="radio-text"><b>No</b></span> - I did not see government
          issued identification</mat-radio-button
        >
      </mat-radio-group>

      <div
        class="field-error"
        *ngIf="
          verifiedFormControl?.verified.touched &&
          verifiedFormControl?.verified.invalid &&
          verifiedFormControl?.verified.hasError('required')
        "
      >
        Please make a selection
      </div>

      <div class="field-error" *ngIf="!noIdFlag">
        Evacuee profile cannot be verified without the presentation of
        government issued identification
      </div>
    </form>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-6">
    <button class="button-s button-width" mat-button (click)="close()">
      Cancel
    </button>
  </div>
  <div class="col-md-6">
    <button
      *ngIf="noIdFlag"
      class="button-p button-width"
      mat-button
      (click)="verify()"
    >
      Verify Profile
    </button>
  </div>
</div>
