<mat-card>
  <app-alert></app-alert>
  <div class="filter-margin">
    <app-search-filter
      [filtersToLoad]="filtersToLoad"
      (filterEvent)="filter($event)"
    ></app-search-filter>
  </div>
  <div class="row data-margin">
    <div class="col-md-6">
      <button
        class="button-s"
        mat-stroked-button
        [disabled]="communitiesToDeleteList?.length === 0"
        (click)="deleteCommunities()"
      >
        Remove Communities
      </button>
    </div>
    <div class="col-md-6">
      <button
        class="button-s add-button"
        mat-stroked-button
        (click)="addCommunities()"
      >
        Add New Community
      </button>
    </div>
  </div>
  <div class="data-margin">
    <app-assigned-community-table
      [incomingData]="assignedCommunities"
      [displayedColumns]="displayedColumns"
      [isLoading]="isLoading"
      [filterTerm]="filterTerm"
      [filterPredicate]="filterPredicate"
      (selectedRows)="communitiesToDelete($event)"
    >
    </app-assigned-community-table>
  </div>
</mat-card>
