mat-form-field {
  width: 100%;
}

.tab-subtitle {
  font-size: 21px;
  color: #234075;
  margin-bottom: 1em;
}

.primary-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.primary-radio-button {
  margin: 5px;
}

.next {
  float: right;
  width: 40%;
}

.back {
  width: 40%;
}

.break-margin {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}
