<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Needs Assessment</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <form [formGroup]="needsForm">
        <p class="no-margin">
          Which categories of support are you able to provide for yourself and
          your household while under evacuation?
        </p>

        <label class="tab-subtitle requiredField" id="food-label">
          <img
            src="../../../../../assets/images/wizard/needs-food.svg"
            width="40px"
            height="42px"
          />
          Food
        </label>
        <p id="canEvacueeProvideFood-radio-group-label">
          Do you and your household members have enough food while you are
          evacuated?
        </p>
        <mat-radio-group
          aria-labelledby="canEvacueeProvideFood-radio-group-label"
          formControlName="canEvacueeProvideFood"
          class="primary-radio-group"
          required
        >
          <mat-radio-button
            class="primary-radio-button"
            *ngFor="let option of radioOption"
            [value]="option.value"
          >
            {{ option.name }}
          </mat-radio-button>
          <mat-error
            class="custom-mat-error"
            *ngIf="
              needsFormControl?.canEvacueeProvideFood.touched &&
              needsFormControl?.canEvacueeProvideFood.invalid &&
              needsFormControl?.canEvacueeProvideFood.hasError('required')
            "
          >
            Food is required</mat-error
          >
        </mat-radio-group>

        <hr class="break-margin" />

        <label class="tab-subtitle requiredField" id="lodging-label">
          <img
            src="../../../../../assets/images/wizard/needs-lodging.svg"
            width="40px"
            height="42px"
          />
          Lodging
        </label>
        <p id="canEvacueeProvideLodging-radio-group-label">
          Do you and your household members have lodging while evacuated?
          <br />This could include staying with relatives, friends, or hotel
          accommodation.
        </p>
        <mat-radio-group
          aria-labelledby="canEvacueeProvideLodging-radio-group-label"
          formControlName="canEvacueeProvideLodging"
          class="primary-radio-group"
          required
        >
          <mat-radio-button
            class="primary-radio-button"
            *ngFor="let option of radioOption"
            [value]="option.value"
          >
            {{ option.name }}
          </mat-radio-button>
          <mat-error
            class="custom-mat-error"
            *ngIf="
              needsFormControl?.canEvacueeProvideLodging.touched &&
              needsFormControl?.canEvacueeProvideLodging.invalid &&
              needsFormControl?.canEvacueeProvideLodging.hasError('required')
            "
          >
            Lodging is required</mat-error
          >
        </mat-radio-group>

        <hr class="break-margin" />

        <label class="tab-subtitle requiredField" id="clothing-label">
          <img
            src="../../../../../assets/images/wizard/needs-clothing.svg"
            width="40px"
            height="42px"
          />
          Clothing
        </label>
        <p id="canEvacueeProvideClothing-radio-group-label">
          Do you and your household members have appropriate clothing while
          evacuated? <br />This includes warm clothing should there be extreme
          winter conditions.
        </p>
        <mat-radio-group
          aria-labelledby="canEvacueeProvideClothing-radio-group-label"
          formControlName="canEvacueeProvideClothing"
          class="primary-radio-group"
          required
        >
          <mat-radio-button
            class="primary-radio-button"
            *ngFor="let option of radioOption"
            [value]="option.value"
          >
            {{ option.name }}
          </mat-radio-button>
          <mat-error
            class="custom-mat-error"
            *ngIf="
              needsFormControl?.canEvacueeProvideClothing.touched &&
              needsFormControl?.canEvacueeProvideClothing.invalid &&
              needsFormControl?.canEvacueeProvideClothing.hasError('required')
            "
          >
            Clothing is required</mat-error
          >
        </mat-radio-group>

        <hr class="break-margin" />

        <label class="tab-subtitle requiredField" id="transport-label">
          <img
            src="../../../../../assets/images/wizard/needs-transport.svg"
            width="40px"
            height="42px"
          />
          Transportation
        </label>
        <p id="canEvacueeProvideTransportation-radio-group-label">
          Do you and your household members have access to transportation while
          evacuated? <br />This could include a personal vehicle, taxi, public
          transportation, or rideshare access.
        </p>
        <mat-radio-group
          aria-labelledby="canEvacueeProvideTransportation-radio-group-label"
          formControlName="canEvacueeProvideTransportation"
          class="primary-radio-group"
          required
        >
          <mat-radio-button
            class="primary-radio-button"
            *ngFor="let option of radioOption"
            [value]="option.value"
          >
            {{ option.name }}
          </mat-radio-button>
          <mat-error
            class="custom-mat-error"
            *ngIf="
              needsFormControl?.canEvacueeProvideTransportation.touched &&
              needsFormControl?.canEvacueeProvideTransportation.invalid &&
              needsFormControl?.canEvacueeProvideTransportation.hasError(
                'required'
              )
            "
          >
            Transportation is required</mat-error
          >
        </mat-radio-group>

        <hr class="break-margin" />

        <label class="tab-subtitle requiredField" id="incidentals-label">
          <img
            src="../../../../../assets/images/wizard/needs-incidentals.svg"
            width="40px"
            height="42px"
          />
          Incidentals
        </label>
        <p id="canEvacueeProvideIncidentals-radio-group-label">
          Do you and your household members have access to incidentals while
          evacuated? <br />This could include miscellaneous items such as
          personal hygiene products such as toothpaste, laundry soap and/or pet
          food.
        </p>
        <mat-radio-group
          aria-labelledby="canEvacueeProvideIncidentals-radio-group-label"
          formControlName="canEvacueeProvideIncidentals"
          class="primary-radio-group"
          required
        >
          <mat-radio-button
            class="primary-radio-button"
            *ngFor="let option of radioOption"
            [value]="option.value"
          >
            {{ option.name }}
          </mat-radio-button>
          <mat-error
            class="custom-mat-error"
            *ngIf="
              needsFormControl?.canEvacueeProvideIncidentals.touched &&
              needsFormControl?.canEvacueeProvideIncidentals.invalid &&
              needsFormControl?.canEvacueeProvideIncidentals.hasError(
                'required'
              )
            "
          >
            Incidentals is required</mat-error
          >
        </mat-radio-group>
      </form>

      <div class="row">
        <div class="col-md-6">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>
        </div>
        <div class="col-md-6">
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
