<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Needs Assessment</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <form [formGroup]="needsForm">
        <p class="no-margin">
          While evacuated, do you need government assistance with any of the following? (Check all that apply)
        </p>
        <br />

        <div class="row">
          <div class="col-12">
            <mat-checkbox id="shelter" class="primary-checkbox" formControlName="requiresShelter"></mat-checkbox>
            <label class="tab-subtitle" for="shelter">
              <img src="../../../../../assets/images/wizard/needs-lodging.svg" width="40px" height="40px" />
              Shelter
            </label>
            <div class="shelter-ident">
              <p>
                There are several ways to meet your shelter needs.<br />
                You can receive a shelter allowance and use that money to find your own shelter or be provided with a
                referral to shelter (like a cot in a gym or a hotel/motel).
              </p>
              @if (needsForm.controls['requiresShelter'].value) {
                <mat-radio-group
                  id="shelterRadio"
                  class="primary-radio-group"
                  formControlName="requiresShelterType"
                  aria-label="Select an option"
                >
                  <label for="shelterAllowance">
                    <mat-radio-button
                      id="shelterAllowance"
                      class="primary-radio-button"
                      value="shelterAllowance"
                    ></mat-radio-button>
                    I need the shelter allowance and can find my own shelter.
                    <span>
                      <a class="status-info" (click)="openShelterAllowanceDialog()">
                        <img src="../../../../../assets/images/info-on-hover.svg" height="28" width="28" />
                      </a>
                    </span>
                  </label>
                  <label for="shelterReferral">
                    <mat-radio-button
                      id="shelterReferral"
                      class="primary-radio-button"
                      value="shelterReferral"
                    ></mat-radio-button>
                    I need a referral to shelter.
                    <span>
                      <a class="status-info" (click)="openShelterReferralDialog()">
                        <img src="../../../../../assets/images/info-on-hover.svg" height="28" width="28" />
                      </a>
                    </span>
                  </label>
                </mat-radio-group>
              }
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-checkbox id="food" formControlName="requiresFood" class="primary-checkbox"></mat-checkbox>
            <label class="tab-subtitle" for="food">
              <img src="../../../../../assets/images/wizard/needs-food.svg" width="40px" height="40px" />
              Food
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-checkbox id="clothing" formControlName="requiresClothing" class="primary-checkbox"></mat-checkbox>
            <label class="tab-subtitle" for="clothing">
              <img src="../../../../../assets/images/wizard/needs-clothing.svg" width="40px" height="40px" />
              Clothing
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-checkbox
              id="incidentals"
              formControlName="requiresIncidentals"
              class="primary-checkbox"
            ></mat-checkbox>
            <label class="tab-subtitle" for="incidentals">
              <img src="../../../../../assets/images/wizard/needs-incidentals.svg" width="40px" height="40px" />
              Incidentals
              <span>
                <a class="status-info" (click)="openIncidentalsDialog()">
                  <img src="../../../../../assets/images/info-on-hover.svg" height="28" width="28"
                /></a>
              </span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-checkbox
              id="transportation"
              formControlName="requiresTransportation"
              class="primary-checkbox"
            ></mat-checkbox>
            <label class="tab-subtitle" for="transportation">
              <img src="../../../../../assets/images/wizard/needs-transport.svg" width="40px" height="40px" />
              Transportation
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-checkbox id="noneeds" formControlName="requiresNothing" class="primary-checkbox"></mat-checkbox>
            <label class="tab-subtitle" for="noneeds">
              <img src="../../../../../assets/images/wizard/no-needs.svg" width="40px" height="40px" />
              I can meet my basic needs. I do not require assistance.
            </label>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-md-6">
          <button class="button-s back" mat-button (click)="back()">Back</button>
        </div>
        <div class="col-md-6">
          <button class="button-p next" mat-button (click)="next()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
