.tab-subtitle {
  font-size: 21px;
  color: #234075;
  margin-bottom: 0;
}

.next {
  float: right;
  width: 40%;
}

.back {
  width: 40%;
}

.break-margin {
  margin-top: 30px;
  margin-bottom: 25px;
}

.needs-section {
  display: flex; 
  align-items: center;
  margin-bottom: 30px;
}

.shelter-needs-section {
  display: flex; 
  align-items: center;
  margin-bottom: 10px;
}

.needs-text-section {
  margin-left: 20px;
}

.needs-image-section {
  margin-left: 20px;
}

.disabled-text {
  color: grey;
}

.grayscale {
  filter: grayscale(100%);
}

.shelter-radio-button {
  margin-top: 20px;
  margin-left: 120px;
  display: flex;
  align-items: center;
}

.primary-radio-group {
  margin-bottom: 300px;
  padding-top: 300px;
}

.incidentals-label {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}
