<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Needs Assessment</span>
      </div>
    </div>
  </div>

  <div id="needsAssessmentSection-label" class="break-margin">
    While evacuated, do you need government assistance with any of the following: Please check all that apply:
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <form [formGroup]="needsForm">

        <div class="needs-section">
          <div>
            <mat-checkbox
              aria-labelledby="canEvacueeProvideLodging-checkbox-label"
              formControlName="canEvacueeProvideLodging"
              class="primary-checkbox"
            >
            </mat-checkbox>
          </div>
          <div class="needs-image-section">
            <img
              src="../../../../../assets/images/wizard/needs-lodging.svg"
              width="40px"
              height="42px"
              [class.grayscale]="needsForm.get('canEvacueeProvideLodging').disabled"
            />
          </div>
          <div class="needs-text-section">
            <label class="tab-subtitle" id="lodging-label" [class.disabled-text]="needsForm.get('canEvacueeProvideLodging').disabled">
              Shelter
            </label>
            <div id="canEvacueeProvideLodging-checkbox-label" [class.disabled-text]="needsForm.get('canEvacueeProvideLodging').disabled">
              There are several ways to meet your shelter needs.<br>
              You can receive a shelter allowance and use that money to find your own shelter or be provided with a referral to shelter (like a cot in a gym or a hotel/motel).
            </div>
          </div>
        </div>
        <div *ngIf="needsForm.get('canEvacueeProvideLodging').value">
          <mat-radio-group
            aria-labelledby="canEvacueeProvideLodging-radio-group-label"
            formControlName="shelterOptions"
            class="primary-radio-group"
            required
          >
            <div class="shelter-radio-button">
              <mat-radio-button class="primary-radio-button" value="Lodging - Shelter Allowance">
                I need the Shelter Allowance and can find my own shelter.&nbsp;&nbsp;
              </mat-radio-button>
              <a class="info-test" (click)="openShelterAllowanceDialog()">
                <img src="/assets/images/info-on-hover.svg" height="25" width="25"
              /></a>
            </div>
            <div class="shelter-radio-button">
              <mat-radio-button class="primary-radio-button" value="Lodging - Hotel/Motel/Campground">
                I need a referral to shelter.
              </mat-radio-button>
              <a class="info-test" (click)="openShelterReferralDialog()">
                <img src="/assets/images/info-on-hover.svg" height="25" width="25"
              /></a>
            </div>
          </mat-radio-group><br />
        </div>

        <div class="needs-section">
          <div>
            <mat-checkbox
              aria-labelledby="canEvacueeProvideFood-checkbox-label"
              formControlName="canEvacueeProvideFood"
              class="primary-checkbox"
            >
            </mat-checkbox>
          </div>
          <div class="needs-image-section">
            <img
              src="../../../../../assets/images/wizard/needs-food.svg"
              width="40px"
              height="42px"
              [class.grayscale]="needsForm.get('canEvacueeProvideFood').disabled"
            />
          </div>
          <div class="needs-text-section">
            <label class="tab-subtitle" id="food-label" [class.disabled-text]="needsForm.get('canEvacueeProvideFood').disabled">
              Food
            </label>
            <div id="canEvacueeProvideFood-checkbox-label" [class.disabled-text]="needsForm.get('canEvacueeProvideFood').disabled"></div>
          </div>
        </div>

        <div class="needs-section">
          <div>
            <mat-checkbox
              aria-labelledby="canEvacueeProvideClothing-checkbox-label"
              formControlName="canEvacueeProvideClothing"
              class="primary-checkbox"
            >
            </mat-checkbox>
          </div>
          <div class="needs-image-section">
            <img
              src="../../../../../assets/images/wizard/needs-clothing.svg"
              width="40px"
              height="42px"
              [class.grayscale]="needsForm.get('canEvacueeProvideClothing').disabled"
            />
          </div>
          <div class="needs-text-section">
            <label class="tab-subtitle" id="clothing-label" [class.disabled-text]="needsForm.get('canEvacueeProvideClothing').disabled">
              Clothing
            </label>
            <div id="canEvacueeProvideClothing-checkbox-label" [class.disabled-text]="needsForm.get('canEvacueeProvideClothing').disabled"></div>
          </div>
        </div>

        <div class="needs-section">
          <div>
            <mat-checkbox
              aria-labelledby="canEvacueeProvideIncidentals-checkbox-label"
              formControlName="canEvacueeProvideIncidentals"
              class="primary-checkbox"
            >
            </mat-checkbox>
          </div>
          <div class="needs-image-section">
            <img
              src="../../../../../assets/images/wizard/needs-incidentals.svg"
              width="40px"
              height="42px"
              [class.grayscale]="needsForm.get('canEvacueeProvideIncidentals').disabled"
              />
          </div>
          <div class="needs-text-section">
            <div style="display: flex; align-items: center;">
              <label class="tab-subtitle incidentals-label" id="incidentals-label" [class.disabled-text]="needsForm.get('canEvacueeProvideIncidentals').disabled">
                Incidentals&nbsp;&nbsp;
              </label>
              <a class="info-test" (click)="openIncidentalsDialog()">
                <img src="/assets/images/info-on-hover.svg" 
                  height="25" 
                  width="25"
                  [class.grayscale]="needsForm.get('canEvacueeProvideIncidentals').disabled"
                />
              </a>
            </div>
            <div id="canEvacueeProvideIncidentals-checkbox-label" [class.disabled-text]="needsForm.get('canEvacueeProvideIncidentals').disabled"></div>
          </div>
        </div>

        <div class="needs-section">
          <div>
            <mat-checkbox
              aria-labelledby="canEvacueeProvideTransportation-checkbox-label"
              formControlName="canEvacueeProvideTransportation"
              class="primary-checkbox"
            >
            </mat-checkbox>
          </div>
          <div class="needs-image-section">
            <img
              src="../../../../../assets/images/wizard/needs-transport.svg"
              width="40px"
              height="42px"
              [class.grayscale]="needsForm.get('canEvacueeProvideTransportation').disabled"
            />
          </div>
          <div class="needs-text-section">
            <label class="tab-subtitle" id="transport-label" [class.disabled-text]="needsForm.get('canEvacueeProvideTransportation').disabled">
              Transportation
            </label>
            <div id="canEvacueeProvideTransportation-checkbox-label" [class.disabled-text]="needsForm.get('canEvacueeProvideTransportation').disabled"></div>
          </div>
        </div>

        <div class="needs-section mt-3">
          <div>
            <mat-checkbox
              aria-labelledby="doesEvacueeNotRequireAssistance-checkbox-label"
              formControlName="doesEvacueeNotRequireAssistance"
              class="primary-checkbox"
            >
            </mat-checkbox>
          </div>
          <div class="needs-image-section">
            <img
              src="../../../../../assets/images/wizard/does-not-need-support.svg"
              width="40px"
              height="42px"
              [class.grayscale]="needsForm.get('doesEvacueeNotRequireAssistance').disabled"
            />
          </div>
          <div class="needs-text-section">
            <label class="tab-subtitle" id="doesEvacueeNotRequireAssistance-label" [class.disabled-text]="needsForm.get('doesEvacueeNotRequireAssistance').disabled">
              I can meet my basic needs.  I do not require assistance.
            </label>
            <div 
              id="doesEvacueeNotRequireAssistance-checkbox-label"
              [class.disabled-text]="true">
            </div>
          </div>
        </div>

      </form>

      <div class="row mt-5">
        <div class="col-md-6">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>
        </div>
        <div class="col-md-6">
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
