.report-heading {
    font-weight: 700;
    font-size: 21px;
}

.button-width {
    width: 100%;
}

.error {
    color: #f44336;
    font-weight: 700;
    font-size: 80%;
    margin: 0px 0px 20px 10px;
}

@media (min-width: 766px) and (max-width: 991px) {
    .col-md-3 {
        width: 40%;
    }
}

@media (max-width: 766px) {
    .col-md-3 {
        padding-bottom: 10px;
    }
}