<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Notes</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <div class="row">
        <div class="col-md-8">
          <p>{{ count }} note have been added for this ESS File.</p>

          <button
            class="button-p"
            [disabled]="isAddDisabled"
            mat-button
            (click)="addNotes()"
          >
            Add Notes
          </button>

          <div class="row">
            <div class="col-md-12 loader-align">
              <app-loader
                [strokeWidth]="3"
                [diameter]="50"
                [showLoader]="showLoader"
                [color]="color"
              ></app-loader>
            </div>
          </div>
          <app-add-notes
            *ngIf="addNoteFlag"
            (closeEvent)="cancel()"
          ></app-add-notes>
          <app-list-notes
            *ngIf="!addNoteFlag"
            [notesList]="notesList"
          ></app-list-notes>
        </div>
        <div class="col-md-4">
          <mat-card class="tips-card">
            <div>
              <img
                class="img-align"
                src="/assets/images/tips-lightbulb.svg"
                height="63"
                width="62"
              />
              <span class="tips-heading"><b>Tip: </b>Notes</span>
            </div>
            <p class="tips-info">
              A space to add any factual case notes pertaining to the evacuee
              and their family. Please do not add any medical information or
              irrelevant/speculative personal details as this information may be
              viewed by other volunteers and/or EMBC.
            </p>
            <p class="tips-info">
              Further, evacuees may request to view their own records, including
              notes.
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
