<!DOCTYPE html>
<html>
<head>
    <title>{{ documentTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> stylePartial}}
</head>
<body>
    {{> bodyPartial}}
</body>
</html>