<form [formGroup]="firstFormGroup">
  <mat-card class="card-align">
    <mat-card-content>
      <p class="card-heading">Primary Residence</p>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name, First name">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <mat-card class="card-align">
    <mat-card-content>
      <p class="card-heading">Mailing Address</p>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name, First name">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>