<mat-card class="card-align">
  <mat-card-content>
    <p class="card-heading">Primary Residence</p>
    <form [formGroup]="primaryAddressForm">

      <div class="row">
        <div class="col-md-12">
          <label id="primary-radio-group-label">Is your <b>primary residence</b> within British Columbia?</label>
          <br>
          <mat-hint class="radio-hint">Primary residence: The dwelling where an individual or family spends most of
            their personal time.</mat-hint>
          <br>
          <mat-hint class="radio-hint">A person can only have one primary residence at any moment in time.</mat-hint>
          <mat-radio-group formControlName="isBcAddress" aria-labelledby="primary-radio-group-label"
            class="primary-radio-group">
            <mat-radio-button class="primary-radio-button" *ngFor="let option of radioOption" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="primaryAddressFormControl?.isBcAddress.value ==='Yes'" class="row">
        <div class="col-md-12">
          <app-bc-address [addressForm]="primaryAddressForm"></app-bc-address>
        </div>
      </div>

      <div *ngIf="primaryAddressFormControl?.isBcAddress.value ==='No'">
        <div class="row">
          <div class="col-md-5">
            <p>In what <b>country</b> is your primary residence located?</p>
            <mat-form-field appearance="outline">
              <input type="text" placeholder="Start Typing" aria-label="Country" matInput formControlName="country"
                [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.desc">
                  {{option.desc}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div [ngSwitch]="primaryAddressFormControl?.countryCode.value">
          <app-can-address *ngSwitchCase="'Canada'" [addressForm]="primaryAddressForm"></app-can-address>
          <app-usa-address *ngSwitchCase="'United States of America'" [addressForm]="primaryAddressForm">
          </app-usa-address>
          <app-other-address *ngSwitchCase="'Other'" [addressForm]="primaryAddressForm"></app-other-address>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="card-align">
  <mat-card-content>
    <p class="card-heading">Mailing Address</p>
    <form [formGroup]="mailingAddressForm">

      <div class="row">
        <div class="col-md-12">
          <label id="primary-radio-group-label">Is your <b>mailing address</b> the same as their primary residence
            above?</label>
          <mat-radio-group formControlName="isNewMailingAddress" aria-labelledby="primary-radio-group-label"
            class="primary-radio-group">
            <mat-radio-button class="primary-radio-button" *ngFor="let option of radioOption" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="mailingAddressFormControl?.isNewMailingAddress.value ==='No'">
        <div class="row">
          <div class="col-md-12">
            <label id="primary-radio-group-label">Is your <b>mailing address</b> within British Columbia?</label>
            <mat-radio-group formControlName="isBcMailingAddress" aria-labelledby="primary-radio-group-label"
              class="primary-radio-group">
              <mat-radio-button class="primary-radio-button" *ngFor="let option of radioOption" [value]="option">
                {{option}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div *ngIf="mailingAddressFormControl?.isBcMailingAddress.value ==='Yes'" class="row">
          <div class="col-md-12">
            <app-bc-address [addressForm]="mailingAddressForm"></app-bc-address>
          </div>
        </div>

        <div *ngIf="mailingAddressFormControl?.isBcMailingAddress.value ==='No'">
          <div class="row">
            <div class="col-md-5">
              <p>In what <b>country</b> is your primary residence located?</p>
              <mat-form-field appearance="outline">
                <input type="text" placeholder="Start Typing" aria-label="Country" matInput
                  formControlName="country" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.desc">
                    {{option.desc}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div [ngSwitch]="mailingAddressFormControl?.countryCode.value">
            <app-can-address *ngSwitchCase="'Canada'" [addressForm]="mailingAddressForm"></app-can-address>
            <app-usa-address *ngSwitchCase="'United States of America'" [addressForm]="mailingAddressForm">
            </app-usa-address>
            <app-other-address *ngSwitchCase="'Other'" [addressForm]="mailingAddressForm"></app-other-address>
          </div>
        </div>

      </div>
    </form>

  </mat-card-content>
</mat-card>

<!-- {{primaryAddressForm.status}}
{{primaryAddressForm.value | json}} -->