@import '../../../../../styles/defaults.scss';

button.back {
	float: left;
	width: 20%;
}
button.save {
	float: right;
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-subtitle {
  font-size: 21px;
  color: #234075;
  margin-bottom: 1em;
}

.mat-radio-button {
	display: block;

	::ng-deep .mat-radio-outer-circle {
		border-color: white;
	}

	::ng-deep .mat-radio-label-content {
		padding-left: 0.8em;
	}
}

::ng-deep .mat-checkbox-label {
	margin-left: 0.8em;
}

.wizard-panel {
	padding: 20px;
	margin: 8px 0;
	line-height: 2em;
}

mat-header-row {
  background-color: #234075;
  
}

mat-header-cell {
  color: white;
  font-size: 15px;
  padding-right: 20px;
  text-indent: 0px;
}

.mat-cell {
  font-weight: 700;
  padding-right: 20px;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.data-panel {
	.row:not(:first-child) {
		margin-top: 0.5em;
	}
}

.review-panel {
	@extend .wizard-panel;

	background-color: #f2f2f2;
}

.confirm-panel {
	@extend .wizard-panel;

	background-color: #234075;
	color: white;
}

.nav-buttons {
	margin-top: 3em;
}

.primary-member {
  //background-color: rgb(242, 242, 242);
}

.mobile-label {
  display: none;
}

@media(max-width: 900px) {
  .mobile-label {
    display: inline-block;
    font-weight: bold;
    overflow-wrap: normal;
    word-break: normal;
    text-indent: 0px;
  }

  // Remove the header row altogether
  mat-header-row {
    display: none;
  }

  // The row cells should display as a column, justified left, with a bit of extra padding
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 5px 10px;
    min-height: unset; // Tweak for Angular Material 8
  }

  // Tweaks for Angular Material 8
  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: unset;
  }

  .mat-cell {
    align-items: unset;
    min-height: unset;
    overflow-wrap: break-word;
    text-indent: 0px;
  }
}

@media (min-width: 833px) {
  .save {width: auto !important;}
}