<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading requiredField"> Security Phrase </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <div class="row">
        <div
          class="col-8"
          *ngIf="
            essFileNumber === null ||
              essFileNumber === undefined ||
              editedSecurityPhrase;
            else editEssFile
          "
        >
          <p>
            The security phrase is to ensure an Emergency Support Services (ESS)
            Responder can verbally verify your identity with your registration.
          </p>

          <p>
            Enter a
            <strong
              >memorable security phrase that is over 6 characters in
              length.</strong
            >
            You may include numbers and letters. Do not include any special
            characters. The security phrase is not case sensitive.
          </p>

          <p>Your security phrase should never include your email address.</p>

          <form [formGroup]="securityForm">
            <div class="row">
              <mat-form-field class="col-6" appearance="outline">
                <mat-label>Security Phrase</mat-label>

                <input
                  matInput
                  maxlength="50"
                  autocomplete="off"
                  formControlName="securityPhrase"
                />

                <mat-error
                  *ngIf="
                    securityFormControl?.securityPhrase?.hasError('required') ||
                    securityFormControl?.securityPhrase?.hasError(
                      'whitespaceError'
                    )
                  "
                >
                  Phrase is required.
                </mat-error>
                <mat-error
                  *ngIf="
                    securityFormControl?.securityPhrase?.hasError(
                      'minlength'
                    ) ||
                    securityFormControl?.securityPhrase?.hasError('maxlength')
                  "
                >
                  Phrase must be between 6 and 50 characters long.
                </mat-error>
                <mat-error
                  *ngIf="
                    securityFormControl?.securityPhrase?.hasError('pattern')
                  "
                >
                  Phrase cannot contain special characters.
                </mat-error>
              </mat-form-field>
            </div>

            <div
              class="row edit-phrase-row"
              *ngIf="essFileNumber !== null && essFileNumber !== undefined"
            >
              <button class="btn edit-phrase" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>

        <ng-template #editEssFile>
          <div class="col-8">
            <div class="row">
              <div class="col-md-6"><p>Security Phrase</p></div>
              <div class="col-md-6">
                <p>{{ stepEssFileService?.securityPhrase | maskText }}</p>
              </div>
            </div>

            <div class="row edit-phrase-row">
              <button class="btn edit-phrase" (click)="editSecurityPhrase()">
                Add new security phrase
              </button>
            </div>
          </div>
        </ng-template>

        <div class="col-md-4">
          <mat-card class="tips-card">
            <div>
              <img
                class="img-align"
                src="/assets/images/tips-lightbulb.svg"
                height="63"
                width="62"
              />
              <span class="tips-heading">
                <span class="bold">Tip:</span> Security Phrase
              </span>
            </div>

            <p class="tips-info">
              If you have been evacuated, please share your security phrase with
              your listed household members. This will allow an Emergency
              Support Services (ESS) Responder to assist each household member
              registered under the same file.
            </p>
          </mat-card>
        </div>
      </div>

      <div class="row nav-buttons">
        <div class="col-12">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
