h1 {
    font-weight: 700;
    line-height: 21px;
    font-size: 33px;
}

.text-row {
    width: 615px;
    height: 82px;
}

.p-margin {
    margin: 25px 0px;
}

.community-name {
    font-weight: 700;
    color: #169bd5;
}

.button-width {
    min-width: 40%;
}

.button-row {
    margin-top: 1.5em;
}
