mat-form-field {
  width: 100%;
}

.animal-button {
  border: 2px solid rgba(35, 64, 117, 1) !important;
  color: rgba(35, 64, 117, 1);
  background-color: #FFFFFF !important;
  font-size: 16px;
  height: 55px;
}

.details-button {
  width: 100%;
}

.save-button {
  height: 55px;
}

table {
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
  padding-left: unset;
}

.mat-cell {
  margin-right:24px;
}

.mobile-label {
  display: none;
}

.edit-image img:last-child {
  display: none;
}

.edit-image:hover img:last-child {
  display: block;
}

.edit-image:hover img:first-child {
  display: none;
}

.delete-image img:last-child {
  display: none;
}

.delete-image:hover img:last-child {
  display: block;
}

.delete-image:hover img:first-child {
  display: none;
}

.primary-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.primary-radio-button {
  margin: 5px;
}

.wrapText {
  overflow-wrap: break-word;
  display: inline-block;
}

.next {
  float: right;
  width: 40%;
}

.back {
  width: 40%;
}

.animal-notes {
  background-color: rgba(35, 64, 117, 1);
  width: 100%;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

.img-align {
  margin: 10px 0px;
}

.primary-paragraph {
  margin-top: 10px;
}

.break-margin {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media(max-width: 980px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  // Remove the header row altogether
  .mat-header-row {
    display: none;
  }

  // The row cells should display as a column, justified left, with a bit of extra padding
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    min-height: unset; // Tweak for Angular Material 8
  }

  // Tweaks for Angular Material 8
  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: unset;
  }

  .mat-cell {
    align-items: unset;
    min-height: unset;
  }

  .image-col {
    display: contents;
  }

  .img-align {
    margin: 10px 10px;
  }

  .form-btns {
    width: 100%;
  }
}