<div class="row">
  <div class="col-12 content-container">
    <form [formGroup]="animalsForm">
      <p id="hasPets-radio-group-label" class="no-margin requiredField">
        Do you have any pets that live in the same household with you?
      </p>

      <mat-radio-group
        aria-labelledby="hasPets-radio-group-label"
        formControlName="hasPets"
        class="primary-radio-group"
        required
        (change)="hasPetsChange($event)"
      >
        @for (option of radioOption; track option) {
          <mat-radio-button class="primary-radio-button" [value]="option.value">
            {{ option.name }}
          </mat-radio-button>
        }
        @if (
          animalsFormControl?.hasPets.touched &&
          animalsFormControl?.hasPets.invalid &&
          animalsFormControl?.hasPets.hasError('required')
        ) {
          <mat-error class="custom-mat-error"> Confirm to have pets is required </mat-error>
        }
      </mat-radio-group>

      @if (petSource.getValue().length > 0) {
        <div class="row">
          <div class="col-8">
            <div class="col-4">
              <button class="animal-button" mat-button type="button" (click)="addPets()">+ Add More Pets</button>
            </div>
            <mat-table class="bottom-space-large" [dataSource]="petSource">
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Pet Type</mat-header-cell>
                <mat-cell [ngClass]="element.type.length >= 40 ? 'wrapText' : ''" *matCellDef="let element">
                  <span class="mobile-label">Pet Type:</span>
                  {{ element.type }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef> How Many </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">How Many:</span>
                  {{ element.quantity }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index">
                  @if (!showPetsForm) {
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editRow(element, index)">
                      <img src="/assets/images/edit.svg" height="35" width="35" />
                      <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
                    </button>
                  }
                  @if (!showPetsForm) {
                    <button class="delete-image" mat-icon-button aria-label="Remove" (click)="deleteRow(index)">
                      <img src="/assets/images/delete.svg" height="35" width="35" />
                      <img src="/assets/images/delete_onhover.svg" height="35" width="35" />
                    </button>
                  }
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
          </div>
        </div>
      }

      @if (showPetsForm) {
        <div>
          <app-pet-form [petForm]="petFormGroup"></app-pet-form>
          <div class="row bottom-space-large">
            <div class="col-md-3">
              <button class="button-s details-button" mat-button type="button" (click)="cancel()">Cancel</button>
            </div>
            <div class="col-md-3 form-btns">
              <button class="animal-button details-button save-button" mat-button type="button" (click)="save()">
                Save
              </button>
            </div>
          </div>
        </div>
      }
    </form>

    <div class="animal-notes">
      <div class="row">
        <div class="col-md-1 image-col">
          <img class="img-align" src="/assets/images/wizard/livestock.svg" width="52" height="55" />
        </div>
        <div class="col-md-11">
          <p class="primary-paragraph">
            <b>Livestock:</b> Relocation planning should be considered to help ensure producers are as prepared as
            possible for a range of emergencies that may require the relocation of their livestock. Further information
            and support may be available through the Ministry of Agriculture.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 image-col">
          <img class="img-align" src="/assets/images/wizard/farm.svg" width="50" height="58" />
        </div>
        <div class="col-md-11">
          <p>
            <b>Hobby Farms:</b> If you are a non-farm business owner of livestock or pets, ensure you have the
            appropriate evacuation plan in place to care for your hobby farm animals during an emergency event. Further
            information and support may be available from your Local Authority or First Nation and through the Canadian
            Disaster Animal Response Team (CDART).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
