<div class="container container-frame">
  <div class="row row-padding">
    <div class="col-md-12">
      <a (click)="back()"
        ><img src="/assets/images/back-arrow.svg" width="20" height="18" /><span
          class="back-link"
          >Supports</span
        ></a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 bottom-padding">
      <p class="review-heading">Review & Process Supports</p>
      <p>
        Please confirm that all details you entered are correct by reading
        through the summary below and having your supervisor sign off on your
        work.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 bottom-padding" *ngFor="let support of draftSupports">
      <!-- Groceries Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Food_Groceries'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-food.svg"
          width="40px"
          height="42px"
        />
        Food - Groceries
      </label>

      <!-- Restaurant Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Food_Restaurant'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-food.svg"
          width="40px"
          height="42px"
        />
        Food - Restaurant Meals
      </label>

      <!-- LodgingHotel Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Lodging_Hotel'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-lodging.svg"
          width="40px"
          height="42px"
        />
        Lodging - Hotel/Motel/Campground
      </label>

      <!-- Lodging Billeting Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Lodging_Billeting'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-lodging.svg"
          width="40px"
          height="42px"
        />
        Lodging - Billeting
      </label>

      <!-- Lodging Group Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Lodging_Group'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-lodging.svg"
          width="40px"
          height="42px"
        />
        Lodging - Group Lodging
      </label>

      <!-- Transportation Taxi Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Transportation_Taxi'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-transport.svg"
          width="40px"
          height="42px"
        />
        Transport - Taxi
      </label>

      <!-- Transportation Other Label -->
      <label
        class="supports-title"
        *ngIf="support.subCategory === 'Transportation_Other'"
      >
        <img
          src="../../../../../assets/images/wizard/needs-transport.svg"
          width="40px"
          height="42px"
        />
        Transport - Other
      </label>

      <!-- Clothing Label -->
      <label class="supports-title" *ngIf="support.category === 'Clothing'">
        <img
          src="../../../../../assets/images/wizard/needs-clothing.svg"
          width="40px"
          height="42px"
        />
        Clothing
      </label>

      <!-- Incidental Label -->
      <label class="supports-title" *ngIf="support.category === 'Incidentals'">
        <img
          src="../../../../../assets/images/wizard/needs-incidentals.svg"
          width="40px"
          height="42px"
        />
        Incidentals
      </label>

      <div *ngIf="evacueeSessionService.isPaperBased" class="row">
        <div class="col-md-12 paper-referral-number">
          # {{ getReferral(support)?.manualReferralId }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 support-padding">
          <div>
            <p class="support-subtitle">Support Details</p>
            <div class="row row-padding">
              <div class="col-md-4 box-text-color">Valid From:</div>
              <div class="col-md-4 bold">
                {{ support?.from | date: 'dd-MMM-yyyy' }} at
                {{ support?.from | date: 'hh:mm a' }}
              </div>
            </div>

            <div class="row row-padding">
              <div class="col-md-4 box-text-color">Valid To:</div>
              <div
                class="col-md-4 bold"
                [ngStyle]="{
                  color: validReferralDate(support?.from, support?.to)
                    ? 'black'
                    : 'red'
                }"
              >
                {{ support?.to | date: 'dd-MMM-yyyy' }} at
                {{ support?.to | date: 'hh:mm a' }}
              </div>
            </div>

            <div class="row row-padding">
              <div class="col-md-4 box-text-color">Support Provided For:</div>
              <div class="col-md-4 bold">
                <p *ngFor="let member of support?.includedHouseholdMembers">
                  {{ getMemberFullName(member) }}
                </p>
              </div>
            </div>
            <!-- Groceries -->
            <ng-container *ngIf="support.subCategory === 'Food_Groceries'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color"># of Days for Meals:</div>
                <div class="col-md-4 bold">
                  {{ getGroceryReferral(support)?.numberOfDays }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 total-amount-label">Total Amount:</div>
                <div class="col-md-2 bold total-amount-number">
                  ${{
                    getGroceryReferral(support)?.totalAmount
                      | number: '1.2-2':'en-CA'
                  }}
                </div>
              </div>
              <div
                class="row row-padding"
                *ngIf="!checkGroceryMaxRate(support)"
              >
                <div class="col warning">
                  <img
                    src="../../../../../assets/images/warning-red.svg"
                    width="25px"
                    height="27px"
                    class="warning-icon"
                  />
                  <span *ngIf="evacueeSessionService.isPaperBased">
                    Total monetary value exceeds the recommended ESS rate</span
                  >
                  <span *ngIf="!evacueeSessionService.isPaperBased">
                    Authorization to exceed recommended ESS rate provided by:
                    <strong>{{
                      getGroceryReferral(support)?.approverName
                    }}</strong></span
                  >
                </div>
              </div>
            </ng-container>
            <!-- Restaurants -->
            <ng-container *ngIf="support.subCategory === 'Food_Restaurant'">
              <div class="row row-padding">
                <div class="col-md-4"># Breakfasts per person:</div>
                <div class="col-md-4 bold">
                  {{ getMealReferral(support)?.numberOfBreakfastsPerPerson }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4"># Lunches per person:</div>
                <div class="col-md-4 bold">
                  {{ getMealReferral(support)?.numberOfLunchesPerPerson }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4"># Dinners per person:</div>
                <div class="col-md-4 bold">
                  {{ getMealReferral(support)?.numberOfDinnersPerPerson }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 total-amount-label">Total Amount:</div>
                <div class="col-md-2 bold total-amount-number">
                  ${{ getMealReferral(support)?.totalAmount }}
                </div>
              </div>
            </ng-container>
            <!-- Logding - Hotel -->
            <ng-container *ngIf="support.subCategory === 'Lodging_Hotel'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color"># Nights:</div>
                <div class="col-md-4 bold">
                  {{ getHotelReferral(support)?.numberOfNights }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 box-text-color"># Rooms:</div>
                <div class="col-md-4 bold">
                  {{ getHotelReferral(support)?.numberOfRooms }}
                </div>
              </div>
            </ng-container>
            <!-- Lodging - Billeting -->
            <ng-container *ngIf="support.subCategory === 'Lodging_Billeting'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color"># Nights:</div>
                <div class="col-md-4 bold">
                  {{ getBilletingReferral(support)?.numberOfNights }}
                </div>
              </div>
            </ng-container>
            <!-- Lodging - Group -->
            <ng-container *ngIf="support.subCategory === 'Lodging_Group'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color"># Nights:</div>
                <div class="col-md-4 bold">
                  {{ getGroupReferral(support)?.numberOfNights }}
                </div>
              </div>
            </ng-container>
            <!-- Transport Taxi -->
            <ng-container *ngIf="support.subCategory === 'Transportation_Taxi'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color">From (Address):</div>
                <div class="col-md-4 bold">
                  {{ getTaxiReferral(support)?.fromAddress }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 box-text-color">To (Address):</div>
                <div class="col-md-4 bold">
                  {{ getTaxiReferral(support)?.toAddress }}
                </div>
              </div>
            </ng-container>
            <!-- Transport Other -->
            <ng-container
              *ngIf="support.subCategory === 'Transportation_Other'"
            >
              <div class="row row-padding">
                <div class="col-md-4 box-text-color">Mode of Transport:</div>
                <div class="col-md-4 bold">
                  {{ getOtherReferral(support)?.transportMode }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 total-amount-label">Total Amount:</div>
                <div class="col-md-2 bold total-amount-number">
                  ${{
                    getOtherReferral(support)?.totalAmount
                      | number: '1.2-2':'en-CA'
                  }}
                </div>
              </div>
            </ng-container>
            <!-- Clothing -->
            <ng-container *ngIf="support.category === 'Clothing'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color">
                  Extreme Winter Conditions:
                </div>
                <div class="col-md-4 bold">
                  {{ getClothingReferral(support)?.extremeWinterConditions }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 total-amount-label">Total Amount:</div>
                <div class="col-md-4 bold total-amount-number">
                  ${{
                    getClothingReferral(support)?.totalAmount
                      | number: '1.2-2':'en-CA'
                  }}
                </div>
              </div>
              <div
                class="row row-padding"
                *ngIf="!checkClothingMaxRate(support)"
              >
                <div class="col warning">
                  <img
                    src="../../../../../assets/images/warning-red.svg"
                    width="25px"
                    height="27px"
                    class="warning-icon"
                  />
                  <span *ngIf="evacueeSessionService.isPaperBased">
                    Total monetary value exceeds the recommended ESS rate</span
                  >
                  <span *ngIf="!evacueeSessionService.isPaperBased">
                    Authorization to exceed recommended ESS rate provided by:
                    <strong>{{
                      getClothingReferral(support)?.approverName
                    }}</strong></span
                  >
                </div>
              </div>
            </ng-container>
            <!-- Incidentals -->
            <ng-container *ngIf="support.category === 'Incidentals'">
              <div class="row row-padding">
                <div class="col-md-4 box-text-color">
                  List of Approved Items:
                </div>
                <div class="col-md-4 bold">
                  {{ getIncidentalReferral(support)?.approvedItems }}
                </div>
              </div>

              <div class="row row-padding">
                <div class="col-md-4 total-amount-label">Total Amount:</div>
                <div class="col-md-4 bold total-amount-number">
                  ${{
                    getIncidentalReferral(support)?.totalAmount
                      | number: '1.2-2':'en-CA'
                  }}
                </div>
              </div>
              <div
                class="row row-padding"
                *ngIf="!checkIncidentalMaxRate(support)"
              >
                <div class="col warning">
                  <img
                    src="../../../../../assets/images/warning-red.svg"
                    width="25px"
                    height="27px"
                    class="warning-icon"
                  />
                  <span *ngIf="evacueeSessionService.isPaperBased">
                    Total monetary value exceeds the recommended ESS rate</span
                  >
                  <span *ngIf="!evacueeSessionService.isPaperBased">
                    Authorization to exceed recommended ESS rate provided by:
                    <strong>{{
                      getIncidentalReferral(support)?.approverName
                    }}</strong></span
                  >
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div
          class="col-md-4"
          *ngIf="
            support.subCategory !== 'Lodging_Group' &&
            support.subCategory !== 'Lodging_Billeting' &&
            support.method !== supportMethod.ETransfer
          "
        >
          <mat-card class="support-card">
            <span class="support-subtitle">Support Delivery</span>
            <p class="no-margin">
              <b>{{ getReferral(support)?.supplierName }}</b>
            </p>
            <p [innerHTML]="getSupplierAddress(support) | maskFullAddress"></p>

            <p class="no-margin"><b>Supplier Notes</b></p>
            <p>{{ getReferral(support)?.supplierNotes }}</p>
          </mat-card>
        </div>
        <!-- Lodging-Billeting Support Delivery -->
        <div
          class="col-md-4"
          *ngIf="
            support.subCategory === 'Lodging_Billeting' &&
            support.method !== supportMethod.ETransfer
          "
        >
          <mat-card class="support-card">
            <span class="support-subtitle">Support Delivery</span>
            <p class="no-margin">
              <b>{{ getBilletingReferral(support)?.hostName }}</b>
            </p>
            <p class="no-margin">
              {{ getBilletingReferral(support)?.hostAddress }}
            </p>
            <p>{{ getBilletingReferral(support)?.hostCity }}</p>
            <p class="no-margin"><b>Supplier Notes</b></p>
            <p>{{ getReferral(support)?.supplierNotes }}</p>
          </mat-card>
        </div>
        <!-- Lodging-Group Support Delivery -->
        <div
          class="col-md-4"
          *ngIf="
            support.subCategory === 'Lodging_Group' &&
            support.method !== supportMethod.ETransfer
          "
        >
          <mat-card class="support-card">
            <span class="support-subtitle">Support Delivery</span>
            <p class="no-margin">
              <b>{{ getGroupReferral(support)?.facilityName }}</b>
            </p>
            <p class="no-margin">
              {{ getGroupReferral(support)?.facilityAddress }}
            </p>
            <p>
              {{ getGroupReferral(support)?.facilityCity }}
            </p>
            <p class="no-margin"><b>Supplier Notes</b></p>
            <p>{{ getReferral(support)?.supplierNotes }}</p>
          </mat-card>
        </div>

        <div
          class="col-md-4"
          *ngIf="support.method === supportMethod.ETransfer"
        >
          <mat-card class="support-card">
            <span class="support-subtitle"
              >Support Delivery - <b>e-Transfer</b></span
            >

            <p class="no-margin"><b>e-Transfer Recipient</b></p>
            <p>
              {{
                appBaseService?.appModel?.selectedProfile?.selectedEvacueeInContext?.personalDetails?.lastName?.toUpperCase()
              }},
              {{
                appBaseService?.appModel?.selectedProfile
                  ?.selectedEvacueeInContext?.personalDetails?.firstName
              }}
            </p>

            <p class="no-margin"><b>Notification Preference</b></p>
            <p>{{ getNotificationPreference(getInterac(support)) }}</p>

            <div *ngIf="getInterac(support)?.notificationEmail">
              <p class="no-margin"><b>Email Address</b></p>
              <p>{{ getInterac(support)?.notificationEmail }}</p>
            </div>

            <div *ngIf="getInterac(support)?.notificationMobile">
              <p class="no-margin"><b>Mobile Number</b></p>
              <p>{{ getInterac(support)?.notificationMobile }}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="includesEtranfer()">
    <mat-card class="etransfer-review">
      <p>
        <b
          >Responder to please read the following paragraph to the evacuee prior
          to processing:</b
        >
      </p>
      <p>
        You are being provided with a one-time digital payment for supports.
        EMBC has a responsibility to ensure that funds are used for the sole
        purpose of meeting essential needs of individuals and their household
        members.
      </p>
      <p>
        By your acceptance of the digital payment, you agree to only spend these
        funds to meet your basic needs, such as food, clothing, or essential
        goods and services, based on the needs assessment conducted by your
        responder.
      </p>

      Therefore, the following purchases are not permissible:
      <ul>
        <li>Alcohol, tobacco or cannabis products;</li>
        <li>Entertainment goods or services (e.g. online gaming)</li>
        <li>Luxury items (e.g. jewelry)</li>
      </ul>
    </mat-card>
  </div>

  <div *ngIf="!evacueeSessionService.isPaperBased" class="row">
    <div class="col-md-8 accept-box">
      <mat-checkbox
        id="processDraftCert"
        (change)="certificationChangeEvent($event)"
        >I certify that a supervisor or ESSD has checked my work and approved
        the above supports for distribution to the evacuee.
      </mat-checkbox>
    </div>
  </div>

  <div class="row" *ngIf="!evacueeSessionService.isPaperBased && showErrorMsg">
    <div class="col-md-8 bold accept-box warning">
      <img
        src="../../../../../assets/images/warning-red.svg"
        width="25px"
        height="27px"
      />
      Some required fields have not been completed.
    </div>
  </div>

  <div class="row buttons-section">
    <div class="col-md-12">
      <button class="button-s button-width button-margin" (click)="back()">
        Cancel
      </button>
      <button
        class="button-p button-width"
        (click)="processReferralDraft()"
        [disabled]="showLoader"
      >
        Process Support/s
        <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>
</div>
