<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-12">
      <span class="page-heading">{{ editHeading }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 content-container">
      <p>
        Please answer all questions to the best of your knowledge. Required
        fields are marked with a red asterisk.
      </p>
      <app-restriction-form
        *ngIf="componentToLoad === 'restriction'"
        [restrictionForm]="form"
      >
      </app-restriction-form>
      <app-component-wrapper
        *ngIf="componentToLoad !== 'restriction'"
        [componentName]="componentToLoad"
        [folderPath]="profileFolderPath"
      >
      </app-component-wrapper>
      <br />
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button
            class="button-s edit-button"
            mat-button
            type="button"
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="button-p edit-button"
            mat-stroked-button
            type="button"
            [disabled]="!form.valid"
            (click)="save()"
          >
            Save
            <app-loader
              [strokeWidth]="3"
              [diameter]="25"
              [showLoader]="showLoader"
            ></app-loader>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
