.back-link {
  color: rgb(55, 171, 221);
}

.back-link:hover {
  text-decoration: underline;
}

.row-padding {
  padding-bottom: 20px;
}

.wizard-support-type {
  font-size: 26px;
}

.question-heading {
  color: #234075;
  font-size: 21px;
}

.next {
  float: right;
  width: 40%;
}

.back {
  width: 40%;
}

.supplier-box {
  background-color: #f2f2f2;
  box-shadow: none !important;
  width: 50%;
}

.reset-img {
  color: rgb(55, 171, 221);
  padding-right: 5px;
  padding-left: 5px;
}

.search-button {
  margin: 0.25em 0 0.25em 0;
  width: 100%;
}

.rate-link {
  padding-left: 5px;
}

::ng-deep .mat-autocomplete-panel {
  min-width: 500px !important;
}

@media (max-width: 800px) {
  ::ng-deep .mat-autocomplete-panel {
    min-width: 400px !important;
  }
}

@media (max-width: 965px){
  .col-md-4 {
    width: 100%;
  }

  .supplier-name {
    width: 50%;
  }

  .supplier-address {
    width: 40%;
  }
}
