<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary-nav">
    <div class="container">
      <a class="navbar-brand" (click)="homeButton()">
        <img
          class="img-fluid d-none d-md-block"
          src="/assets/images/bcid-logo-rev-en.svg"
          width="181"
          height="45"
          alt="B.C. Government Logo"
        />
        <img
          class="img-fluid d-md-none"
          src="/assets/images/bcid-symbol-rev.svg"
          width="64"
          height="45"
          alt="B.C. Government Logo"
        />
      </a>
    </div>
  </nav>
</header>
