.heading-text1 {
  color: #ffffff;
}

.heading-text2 {
  color: #fcba19;
  padding-left: 2px;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-mdc-menu-panel {
  border-radius: 0px !important;
  background: #036 !important;
  min-width: 320px !important;
}

.mat-mdc-menu-item {
  color: #ffffff !important;
}

.text {
  color: white;
  margin: 0px;
  line-height: 16px;
}

.img-align {
  margin-right: 5px;
}

.app-heading {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  white-space: initial;
}

.divider {
  width: 1px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 0px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .divider {
    width: 0px;
  }
}

@media (max-width: 1215px) {
  .button-align {
    float: left !important;
    white-space: normal;
    padding: 0px;
  }

  .menu-responsive {
    width: 50%;
  }
}

.divider-col {
  width: 2% !important;
}

header mat-toolbar {
  border-bottom: 2px solid #fcba19;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto !important;
}

.header-toolbar {
  padding: 0.5rem 1rem;
}

.row-align {
  align-items: center !important;
  width: inherit;
}

.button-align {
  float: right;
}

::ng-deep .mat-mdc-menu-content {
  border-bottom: 2px solid #fcba19;
}

.signOut-button {
  color: rgb(252, 186, 25) !important;
}

.signOut-button:hover {
  text-decoration: underline;
}
