<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary-nav">
    <div class="container header-style">
      <a class="navbar-brand" (click)="homeButton()">
        <img
          class="img-fluid d-none d-md-block"
          src="/assets/images/bcid-logo-rev-en.svg"
          width="181"
          height="45"
          alt="B.C. Government Logo"
        />
        <img
          class="img-fluid d-md-none"
          src="/assets/images/bcid-symbol-rev.svg"
          width="64"
          height="45"
          alt="B.C. Government Logo"
        />
      </a>
      <div class="divider"></div>
      <div class="app-heading">
        <span class="heading-text1">Evacuee Registration & Assistance</span
        ><span class="heading-text2">(ERA)</span>
      </div>

      <div *ngIf="showLoginMatMenu">
        <button mat-button [matMenuTriggerFor]="menu" class="menuButton">
          <div>
            <span style="color: white"
              ><b>{{
                (formCreationService.personalDetailsForm$ | async)?.value
                  ?.lastName | uppercase
              }}</b
              >,
              {{
                (formCreationService.personalDetailsForm$ | async)?.value
                  ?.firstName
              }}</span
            >
            <img
              class="img-align"
              src="../../../../assets/images/down_arrow.svg"
              height="12"
              width="20"
            />
          </div>
        </button>
        <mat-menu #menu="matMenu" overlapTrigger="false">
          <span>
            <button class="signOut-button" mat-menu-item (click)="signOut()">
              Sign out
            </button>
          </span>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
