<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-12">
      <span class="page-heading">Create Evacuation File</span>
    </div>
  </div>

  <mat-horizontal-stepper class="stepper-style" linear labelPosition="bottom"
    (animationDone)="currentStep(needsStepper?.selectedIndex)" #needsStepper>
    <mat-step *ngFor="let step of needsSteps" [completed]="true" [editable]="isEditable">
      <!--[completed]="isComplete"-->
      <ng-template matStepLabel>{{step.stepName}}</ng-template>
      <div *ngIf="step.stepName === 'Evacuated From'; else altText">
        <p>The purpose of creating an Emergency Support Services (ESS) File is to help determine how the event has
          impacted you and your household members in order for an Emergency Support Services (ESS) Responder to provide
          you with assistance and offer emergency goods and services if eligible.</p>
        <p>Please answer all questions to the best of your knowledge. Required fields are marked with a red asterisk.
        </p>
      </div>
      <ng-template #altText>
        <p>Please answer all questions to the best of your knowledge. Required fields are marked with a red asterisk.
        </p>
      </ng-template>
      <br>
      <app-component-wrapper [componentName]="step.component" [folderPath]="needsFolderPath"></app-component-wrapper>
      <br>
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button class="button-s" mat-button type="button"
            (click)="goBack(needsStepper, step.lastStep)">{{step.backButtonLabel}}</button>
        </div>
        <div class="col-md-6">
          <button class="button-p" mat-stroked-button type="button"
            (click)="goForward(needsStepper, step.isLast, step.component)">{{step.nextButtonLabel}}</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <p>Please read through and confirm that your details are all correct before submitting.</p>
      <p>Once you have submitted this form you will only be able to edit your details with the assistance of an
        Emergency
        Support Services volunteer.</p>
      <ng-template matStepLabel>Review & Submit</ng-template>
      <app-review [type]="type" [showHeading]="true" (captchaPassed)="allowSubmit($event)"
        [parentPageName]="parentPageName" [currentFlow]="currentFlow"></app-review>
      <br>

      <app-alert></app-alert>

      <button class="button-p save-button" mat-stroked-button type="button" [disabled]="!captchaPassed || isSubmitted"
        (click)="goForward(needsStepper, true, '')">Save &
        Submit
        <app-loader [showLoader]="showLoader"></app-loader>
      </button>
      
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{index + 1}}
    </ng-template>
  </mat-horizontal-stepper>
</div>