.list-image img:last-child {
  display: none;
}

.list-image:hover img:last-child {
  display: inline;
}

.list-image:hover img:first-child {
  display: none;
}

.list-notes {
  padding-top: 20px;
  padding-bottom: 20px;
}

.solid-hr {
  color: #f2f2f2;
  margin-top: 30px;
}

.list-note-name {
  color: #003366;
}

.note-date {
  color: rgb(187, 187, 187);
}

.note-format {
  white-space: pre-wrap;
}

.button-margin {
  margin: 2px
}

.image-align {
  text-align: center;
}