<div class="row">
  <div class="col-md-12">
    <p>Are you sure you want to exit the wizard?</p>
    <p>Any information that has not been <b>submitted</b> will be lost.</p>
  </div>
</div>
<br />

<div class="row justify-content-between">
  <div class="col-md-6">
    <button class="button-s" mat-button (click)="cancel()">No, Cancel</button>
  </div>
  <div class="col-md-6">
    <button class="button-p exit-button" mat-button (click)="exit()">
      Yes, Exit Wizard
    </button>
  </div>
</div>
