<div class="row">
  <div class="col-md-12">
    <div class="row">
      <img
        class="img-fluid d-none d-md-block"
        src="/assets/images/essIcon.svg"
        width="114"
        height="147"
      />
      <img
        class="img-fluid d-md-none"
        src="/assets/images/essIcon.svg"
        width="114"
        height="147"
      />
      <div class="app-heading">
        <p class="submissionHeader">Evacuee Registration & Assistance (ERA)</p>
        <span style="font-size: 28px"
          >Supplier Invoice & Receipt Submission</span
        >
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-9">
        <div>
          <p>
            Are you a
            <b>registered supplier with Emergency Support Services (ESS)</b> who
            has provided goods or services to people affected by a disaster? ESS
            is making the way you invoice for services/goods and submit receipts
            simpler and more straightforward, by shifting to a
            <b>digital invoice/receipt submission</b>
            experience.
          </p>
          <p>
            Just fill in the form below and attach electronic copies of your
            invoices/receipts & all referral forms. The EMBC finance team will
            then review your submission. Payment turn around time is estimated
            at 30 days, if all information received is correct.
          </p>
          <p>
            All required fields are marked with a red asterisk(<span
              style="color: red"
              >*</span
            >)
          </p>
        </div>
        <div class="formHeading">Supplier Information</div>

        <div>
          <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-lg-6">
                <label class="requiredField" for="supplierLegalName"
                  >Supplier Legal Name</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="supplierLegalName"
                  formControlName="supplierLegalName"
                  required
                />
                <div
                  *ngIf="
                    control.supplierLegalName?.invalid &&
                    (control.supplierLegalName?.dirty ||
                      control.supplierLegalName?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="control.supplierLegalName?.errors.whitespaceError"
                  >
                    Supplier Legal name is required
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-6">
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="requiredField form-control form-control-lg" placeholder="Email address" required="" autofocus="">
                    <label for="inputEmail">Email address</label>
                  </div>
              </div> -->
            </div>

            <div class="row">
              <div class="form-group col-lg-5">
                <label class="requiredField" for="supplierName"
                  >Supplier Name</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="supplierName"
                  id="supplierName"
                  required
                />
                <div
                  *ngIf="
                    control.supplierName?.invalid &&
                    (control.supplierName?.dirty ||
                      control.supplierName?.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="control.supplierName?.errors.whitespaceError">
                    Supplier name is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-5">
                <label for="location">Store # /Site#/ Location</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="location"
                  id="location"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-5">
                <label class="requiredField" for="gstNumber"
                  >GST Number (999999999-RT-9999)</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="gstNumber"
                  appGSTMask
                  id="gstNumber"
                  required
                />
                <div
                  *ngIf="
                    control.gstNumber?.invalid &&
                    (control.gstNumber?.dirty || control.gstNumber?.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="control.gstNumber?.errors.required">
                    GST number is required
                  </div>
                  <div *ngIf="control.gstNumber?.errors.minlength">
                    GST number is incomplete
                  </div>
                </div>
              </div>
            </div>

            <br />
            <div formGroupName="address">
              <p style="font-weight: bold">Supplier Address</p>

              <div class="row">
                <div class="form-group col-lg-8">
                  <label class="requiredField" for="address1"
                    >Address Line 1</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="address1"
                    id="address1"
                    required
                  />
                  <div
                    *ngIf="
                      control.address['controls'].address1?.invalid &&
                      (control.address['controls'].address1?.dirty ||
                        control.address['controls'].address1?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        control.address['controls'].address1?.errors
                          .whitespaceError
                      "
                    >
                      Address is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-8">
                  <label for="address2">Address Line 2</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="address2"
                    id="address2"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-4">
                  <label class="requiredField" for="city">City</label>
                  <input
                    id="city"
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="city"
                    [ngbTypeahead]="searchCity"
                    [resultFormatter]="cityFormatter"
                    [inputFormatter]="cityFormatter"
                    required
                    autocomplete="doNotAutoComplete"
                    [editable]="false"
                  />
                  <div
                    *ngIf="
                      control.address['controls'].city?.invalid &&
                      (control.address['controls'].city?.dirty ||
                        control.address['controls'].city?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="control.address['controls'].city?.errors.required"
                    >
                      City is required or invalid
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-4">
                  <label for="province">Province</label>
                  <input
                    type="text"
                    id="province"
                    readonly
                    class="form-control form-control-lg"
                    formControlName="province"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-4">
                  <label class="requiredField" for="postalCode"
                    >Postal Code</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="postalCode"
                    id="postalCode"
                    required
                  />
                  <!--[pattern]="globalConst.postalPattern"-->
                  <div
                    *ngIf="
                      control.address['controls'].postalCode?.invalid &&
                      (control.address['controls'].postalCode?.dirty ||
                        control.address['controls'].postalCode?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        control.address['controls'].postalCode?.errors.required
                      "
                    >
                      Postal Code is required
                    </div>
                    <div
                      *ngIf="
                        control.address['controls'].postalCode?.errors.pattern
                      "
                    >
                      Invalid postal code
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-4">
                  <label for="country">Country</label>
                  <input
                    type="text"
                    id="country"
                    readonly
                    class="form-control form-control-lg"
                    formControlName="country"
                  />
                </div>
              </div>
            </div>
            <br />
            <div formGroupName="contactPerson">
              <p style="font-weight: bold">Contact Person</p>
              <p>
                The contact person may be asked for additional information or
                clarification regarding this submission.
              </p>
              <div class="row">
                <div class="form-group col-lg-6">
                  <label class="requiredField" for="firstName"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="firstName"
                    id="firstName"
                    required
                  />
                  <div
                    *ngIf="
                      control.contactPerson['controls'].firstName?.invalid &&
                      (control.contactPerson['controls'].firstName?.dirty ||
                        control.contactPerson['controls'].firstName?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        control.contactPerson['controls'].firstName?.errors
                          .whitespaceError
                      "
                    >
                      First Name is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-6">
                  <label class="requiredField" for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="lastName"
                    id="lastName"
                    required
                  />
                  <div
                    *ngIf="
                      control.contactPerson['controls'].lastName?.invalid &&
                      (control.contactPerson['controls'].lastName?.dirty ||
                        control.contactPerson['controls'].lastName?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        control.contactPerson['controls'].lastName?.errors
                          .whitespaceError
                      "
                    >
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    id="email"
                  />
                  <div
                    *ngIf="
                      control.contactPerson['controls'].email?.errors?.email
                    "
                    class="text-danger"
                  >
                    Email is not valid
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-4">
                  <label class="requiredField" for="phone"
                    >Contact Number</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    appPhoneMask
                    formControlName="phone"
                    placeholder="999-999-9999"
                    id="phone"
                    required
                  />
                  <div
                    *ngIf="
                      control.contactPerson['controls'].phone?.invalid &&
                      (control.contactPerson['controls'].phone?.dirty ||
                        control.contactPerson['controls'].phone?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        control.contactPerson['controls'].phone?.errors.required
                      "
                    >
                      Phone Number is required
                    </div>
                    <div
                      *ngIf="
                        control.contactPerson['controls'].phone?.errors
                          .minlength
                      "
                    >
                      Phone number must have 10 digits
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-4">
                  <label for="fax">Fax</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    appPhoneMask
                    formControlName="fax"
                    id="fax"
                    placeholder="999-999-9999"
                  />
                  <div
                    *ngIf="
                      control.contactPerson['controls'].fax?.invalid &&
                      (control.contactPerson['controls'].fax?.dirty ||
                        control.contactPerson['controls'].fax?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        control.contactPerson['controls'].fax?.errors.minlength
                      "
                    >
                      Fax number must have 10 digits
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="remit-box">
              <div class="form-group form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="toggleVisibility($event)"
                  formControlName="remitToOtherBusiness"
                />
                <label class="form-check-label" for="remitToOtherBusiness">
                  <b
                    >Check this box if we must remit payment to a business other
                    than the one listed above.</b
                  >
                </label>
              </div>

              <div *ngIf="remitDiv">
                <p>
                  Please enter the legal business name and address of the
                  business we need to remit payment to.
                </p>
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label class="requiredField" for="businessName"
                      ><b>Legal Business Name</b></label
                    >
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="businessName"
                      formControlName="businessName"
                    />
                    <div
                      *ngIf="
                        control.businessName?.invalid &&
                        (control.businessName?.dirty ||
                          control.businessName?.touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="control.businessName?.errors.whitespaceError">
                        Legal Business Name is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-lg-6">
                    <label class="requiredField" for="businessCountry"
                      ><b>What Country Is This Supplier Located In?</b>
                    </label>
                    <input
                      id="businessCountry"
                      type="text"
                      class="form-control form-control-lg"
                      formControlName="businessCountry"
                      [ngbTypeahead]="searchCountry"
                      [resultFormatter]="countryFormatter"
                      [inputFormatter]="countryFormatter"
                      autocomplete="doNotAutoComplete"
                      (selectItem)="remitVisibility($event.item.name)"
                      [editable]="false"
                    />
                    <div
                      *ngIf="
                        control.businessCountry?.invalid &&
                        (control.businessCountry?.dirty ||
                          control.businessCountry?.touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="control.businessCountry?.errors.required">
                        Country required or invalid
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="selectedRemitCountry === 'Canada'">
                  <b>Is This Supplier Located in BC?</b>
                  <div class="form-group form-check">
                    <input
                      class="form-check-input"
                      formControlName="supplierBC"
                      type="radio"
                      id="yes"
                      value="yes"
                      (change)="locatedChange($event)"
                    />
                    <label class="form-check-label" for="yes"> Yes </label>
                  </div>
                  <div class="form-group form-check">
                    <input
                      class="form-check-input"
                      formControlName="supplierBC"
                      type="radio"
                      id="no"
                      value="no"
                      (change)="locatedChange($event)"
                    />
                    <label class="form-check-label" for="no"> No </label>
                  </div>
                </div>

                <div *ngIf="addressDiv" formGroupName="remittanceAddress">
                  <p style="font-weight: bold">Supplier Remittance Address</p>

                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label class="requiredField" for="address1"
                        >Address Line 1</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="address1"
                        id="address1"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].address1
                            ?.invalid &&
                          (control.remittanceAddress['controls'].address1
                            ?.dirty ||
                            control.remittanceAddress['controls'].address1
                              ?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].address1
                              ?.errors.whitespaceError
                          "
                        >
                          Address is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="address2">Address Line 2</label>
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="address2"
                        id="address2"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-lg-4">
                      <label class="requiredField" for="city">City</label>
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="city"
                        id="city"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].city?.invalid &&
                          (control.remittanceAddress['controls'].city?.dirty ||
                            control.remittanceAddress['controls'].city?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].city?.errors
                              .required
                          "
                        >
                          City is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      selectedRemitCountry !== 'United States of America' &&
                      selectedRemitCountry !== 'Canada'
                    "
                    class="row"
                  >
                    <div class="form-group col-lg-4">
                      <label for="region">Region/Province/State</label>
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="region"
                        id="region"
                      />
                    </div>
                  </div>

                  <div
                    *ngIf="selectedRemitCountry === 'United States of America'"
                    class="row"
                  >
                    <div class="form-group col-lg-4">
                      <label class="requiredField" for="state">State</label>
                      <input
                        id="state"
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="state"
                        [ngbTypeahead]="searchState"
                        [resultFormatter]="stateFormatter"
                        [inputFormatter]="stateFormatter"
                        autocomplete="doNotAutoComplete"
                        [editable]="false"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].state
                            ?.invalid &&
                          (control.remittanceAddress['controls'].state?.dirty ||
                            control.remittanceAddress['controls'].state
                              ?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].state?.errors
                              .required
                          "
                        >
                          State is required or invalid
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      selectedRemitCountry === 'Canada' && locatedInBC === 'no'
                    "
                    class="row"
                  >
                    <div class="form-group col-lg-4">
                      <label class="requiredField" for="province"
                        >Province</label
                      >
                      <input
                        id="province"
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="province"
                        [ngbTypeahead]="searchProvince"
                        [resultFormatter]="cityFormatter"
                        [inputFormatter]="cityFormatter"
                        autocomplete="doNotAutoComplete"
                        [editable]="false"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].province
                            ?.invalid &&
                          (control.remittanceAddress['controls'].province
                            ?.dirty ||
                            control.remittanceAddress['controls'].province
                              ?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].province
                              ?.errors.required
                          "
                        >
                          Province is required or invalid
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="selectedRemitCountry === 'Canada'" class="row">
                    <div class="form-group col-lg-4">
                      <label class="requiredField" for="postalCode"
                        >Postal Code</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="postalCode"
                        id="postalCode"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].postalCode
                            ?.invalid &&
                          (control.remittanceAddress['controls'].postalCode
                            ?.dirty ||
                            control.remittanceAddress['controls'].postalCode
                              ?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].postalCode
                              ?.errors.required
                          "
                        >
                          Postal Code is required
                        </div>
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].postalCode
                              ?.errors.pattern
                          "
                        >
                          Invalid postal code
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="selectedRemitCountry === 'United States of America'"
                    class="row"
                  >
                    <div class="form-group col-lg-4">
                      <label class="requiredField" for="zipCode"
                        >Zip Code</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="zipCode"
                        id="zipCode"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].zipCode
                            ?.invalid &&
                          (control.remittanceAddress['controls'].zipCode
                            ?.dirty ||
                            control.remittanceAddress['controls'].zipCode
                              ?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].zipCode
                              ?.errors.required
                          "
                        >
                          Zip Code is required
                        </div>
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].zipCode
                              ?.errors.pattern
                          "
                        >
                          Invalid Zip Code
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      selectedRemitCountry !== 'United States of America' &&
                      selectedRemitCountry !== 'Canada'
                    "
                    class="row"
                  >
                    <div class="form-group col-lg-4">
                      <label class="requiredField" for="otherCode"
                        >Postal/Zip Code</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="otherCode"
                        id="otherCode"
                      />
                      <div
                        *ngIf="
                          control.remittanceAddress['controls'].otherCode
                            ?.invalid &&
                          (control.remittanceAddress['controls'].otherCode
                            ?.dirty ||
                            control.remittanceAddress['controls'].otherCode
                              ?.touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            control.remittanceAddress['controls'].otherCode
                              ?.errors.required
                          "
                        >
                          Postal/Zip Code is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="formHeading">Submit your Invoice and/or Receipts</div>

            <div>
              <p>Are you <b>submitting an invoice</b> OR <b>receipts?</b></p>
              <p>
                If you are submitting an invoice, this can also include
                uploading of receipts.
              </p>

              <div class="form-group form-check">
                <input
                  class="form-check-input"
                  formControlName="supplierSubmissionType"
                  type="radio"
                  id="invoice"
                  value="invoice"
                  (change)="onValueChange($event)"
                />
                <label class="form-check-label" for="invoice"> Invoice </label>
              </div>
              <div class="form-group form-check">
                <input
                  class="form-check-input"
                  formControlName="supplierSubmissionType"
                  type="radio"
                  id="receipt"
                  value="receipt"
                  (change)="onValueChange($event)"
                />
                <label class="form-check-label" for="receipt"> Receipts </label>
              </div>

              <div
                *ngIf="
                  supplierForm.get('supplierSubmissionType').value === 'invoice'
                "
              >
                <div class="box">
                  <div class="row tips-section">
                    <p><b>Important Tips:</b></p>
                    <ul>
                      <li>
                        Please include an electronic copy of each referral
                        associated to this invoice submission.
                      </li>
                      <li>
                        If you have more than 1 invoice to submit, click "Add
                        another invoice" at the bottom of the page.
                      </li>
                      <li>
                        Please complete all information regarding each referral
                        separately.
                      </li>
                      <li>
                        If a referral references more than 1 support or service
                        provided, please separate the costs associated with each
                        by clicking the "Add another line item" button.
                      </li>
                      <li>
                        If you have receipts associated with a referral, please
                        remember to attach them under that relevant referral.
                      </li>
                    </ul>
                  </div>
                </div>
                <div formArrayName="invoices">
                  <div *ngFor="let invoic of invoices.controls; let i = index">
                    <app-invoice
                      [index]="i"
                      [invoiceForm]="invoic"
                      [formGroupName]="i"
                      [formArraySize]="invoices.controls.length"
                      (indexToRemove)="deleteInvoice($event)"
                    ></app-invoice>
                  </div>
                </div>

                <br />
                <div class="row" style="justify-content: space-between">
                  <div style="padding-left: 13px">
                    <button
                      type="button"
                      (click)="addInvoiceTemplate()"
                      class="btn primary-button"
                    >
                      Add Another Invoice
                    </button>
                  </div>
                  <div style="padding-right: 13px">
                    <button
                      type="submit"
                      [disabled]="!supplierForm.valid"
                      class="btn secondary-button"
                    >
                      I am Done! Next
                    </button>
                  </div>
                </div>
                <br />
              </div>

              <div
                *ngIf="
                  supplierForm.get('supplierSubmissionType').value === 'receipt'
                "
              >
                <div class="box">
                  <div class="row tips-section">
                    <p><b>Important Tips:</b></p>
                    <ul>
                      <li>
                        Please list all receipts associated with a single
                        referral number only.
                      </li>
                      <li>
                        If you have receipts against more than 1 referral, click
                        "Add another referral" at the bottom of this page.
                      </li>
                      <li>
                        To add another receipt to a referral, click the "Add
                        another receipt" button.
                      </li>
                      <li>
                        If a receipt references more than 1 support or service
                        provided, please separate the costs associated with each
                        by clicking the "Add another line item to this receipt"
                        link.
                      </li>
                    </ul>
                  </div>
                </div>

                <div formArrayName="receipts">
                  <div *ngFor="let receipt of receipts.controls; let i = index">
                    <app-receipt
                      [index]="i"
                      [receiptForm]="receipt"
                      [formGroupName]="i"
                      [formArraySize]="receipts.controls.length"
                      (indexToRemove)="deleteReceipt($event)"
                    ></app-receipt>
                  </div>
                </div>

                <br />
                <div class="row" style="justify-content: space-between">
                  <div style="padding-left: 13px">
                    <button
                      type="button"
                      (click)="addReceiptTemplate()"
                      class="btn primary-button"
                    >
                      Add Another Referral
                    </button>
                  </div>
                  <div style="padding-right: 13px">
                    <button
                      type="submit"
                      [disabled]="!supplierForm.valid"
                      class="btn secondary-button"
                    >
                      I am Done! Next
                    </button>
                  </div>
                </div>
                <br />
              </div>
            </div>

            <!-- {{supplierForm.value | json}} -->
          </form>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card sidebox-card-info text-white">
          <div class="card-body">
            <div class="card-title side-box-title">
              <span class="icon"
                ><img
                  src="/assets/images/checkIcon.svg"
                  width="32"
                  height="32"
                />&nbsp;&nbsp;</span
              >
              <span class="icon-text">Supplier Invoice Checklist</span>
            </div>
            <span class="side-box-body">
              <p class="card-text">
                The following checklist is provided for your convenience to
                ensure your invoice & receipt documentation is complete and
                accurate prior to submitting to Emergency Management BC (EMBC)
                for payment.
              </p>
              <ul>
                <li>
                  Charges for goods and services, including all applicable
                  taxes, must not exceed the Emergency Support Services rates.
                </li>
                <li>
                  Goods or services are rendered only to those listed on the
                  referral.
                </li>
                <li>
                  Goods or services rendered are eligible items as listed on the
                  Referral.
                </li>
                <li>
                  Exceptions or cost overages must be authorized by EMBC and
                  supporting documentation must be attached to the submission.
                </li>
                <li>Make copies of invoices and receipts for your records.</li>
              </ul>
            </span>
          </div>
        </div>
        <br />

        <div class="card">
          <div class="card-body">
            <div class="card-title side-box-title">
              <span class="icon"
                ><img
                  src="/assets/images/questionIcon.svg"
                  width="32"
                  height="33"
                />&nbsp;&nbsp;</span
              >
              <span class="icon-text">Questions about submitting</span>
            </div>
            <span class="side-box-body">
              <p class="card-text">
                If you have any questions or need assistance regarding the
                navigation and submission of this form, please contact the ERA
                Tool Support team at 1-844-537-7377.
              </p>
            </span>
          </div>
        </div>
        <br />

        <div class="card">
          <div class="card-body">
            <div class="card-title side-box-title">
              <span class="icon"
                ><img
                  src="/assets/images/billIcon.svg"
                  width="39"
                  height="32"
                />&nbsp;&nbsp;</span
              >
              <span class="icon-text">Receipt Processing Steps</span>
            </div>
            <span class="side-box-body">
              <ul>
                <li>Supplier submission of receipts</li>
                <li>EMBC Finance Team to review submission</li>
                <li>
                  Receipts submitted to Corporate Accounting Services (CAS) for
                  payment
                </li>
                <li>Supplier receives payment from CAS</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
