<div class="row">
  <div class="col-md-12" [innerHTML]="content?.text"></div>
</div>

<div class="row button-row justify-content-between">
  <div class="col-md-6">
    <button
      class="button-s button-width"
      mat-button
      (click)="cancel()"
      *ngIf="content?.cancelButton"
    >
      {{ content?.cancelButton }}
    </button>
  </div>

  <div class="col-md-6">
    <button
      class="button-p button-width confirm-button"
      mat-button
      (click)="confirm()"
      *ngIf="content?.confirmButton"
    >
      {{ content?.confirmButton }}
    </button>
  </div>
</div>

<div class="row">
  <button
    class="btn btn-link exit-link"
    (click)="exit()"
    *ngIf="content?.exitLink"
  >
    {{ content?.exitLink }}
  </button>
</div>
