<mat-card appearance="outlined" class="card-align">
  <mat-card-content>
    <p class="card-heading">Personal Details</p>
    <form [formGroup]="personalDetailsForm">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="First Name" required [readonly]="disableFields" />
            @if (personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')) {
              <mat-error>First Name is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last Name" required [readonly]="disableFields" />
            @if (personalFormControl.lastName.invalid && personalFormControl.lastName.hasError('required')) {
              <mat-error>Last Name is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Preferred Name</mat-label>
            <input maxlength="100" formControlName="preferredName" matInput placeholder="Preferred Name" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-5">
          <mat-form-field appearance="outline">
            <mat-label>Initials</mat-label>
            <input maxlength="100" formControlName="initials" matInput placeholder="Initials" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-5">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option>--Gender</mat-option>
              @for (gen of gender; track gen) {
                <mat-option [value]="gen.value">
                  {{ gen.name }}
                </mat-option>
              }
            </mat-select>
            @if (personalFormControl.gender.invalid && personalFormControl.gender.hasError('required')) {
              <mat-error>Gender is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-5">
          <mat-form-field type="date" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input
              formControlName="dateOfBirth"
              matInput
              placeholder="mm/dd/yyyy"
              [imask]="dateMask"
              required
              [readonly]="disableFields"
            />
            <mat-hint>Allowed Date format: mm/dd/yyyy</mat-hint>
            @if (personalFormControl.dateOfBirth.invalid && personalFormControl.dateOfBirth.hasError('required')) {
              <mat-error> Date of Birth is required</mat-error>
            }
            @if (personalFormControl.dateOfBirth.invalid && personalFormControl.dateOfBirth.hasError('invalidDate')) {
              <mat-error> Date of Birth is invalid</mat-error>
            }
            @if (personalFormControl.dateOfBirth.invalid && personalFormControl.dateOfBirth.hasError('futureDate')) {
              <mat-error> Date of Birth should be in the past</mat-error>
            }
            @if (personalFormControl.dateOfBirth.invalid && personalFormControl.dateOfBirth.hasError('invalidYear')) {
              <mat-error> Invalid year. The Year must be between 1800-this year</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br />
