// Colors
$gold: #fcba19;
$white: #fff;
$danger: #dc3545;

// Background Colors
$bg-dark: #003366;
$bg-light-blue: #f1f4fa;
$bg-restricted: #ffe3dd;
$bg-restricted-accent: #ffac99;
$bg-banner: #fc6621;

// Grays
$gray9: #212529;
$gray8: #343a40;
$gray7: #495057;
$gray6: #868e96;
$gray5: #adb5bd;
$gray4: #ced4da;
$gray3: #dee2e6;
$gray2: #e9ecef;
$gray1: #f1f3f5;
$gray0: #f8f9fa;

// Font Colors
$font-color: #494949;

// Cards
$card-width: auto; // 400px;
$card-body-bg: $bg-light-blue;

// Side Boxes
$side-box-color: #fff;
$side-box-bg: #38598a;

// Feature Blocks
$feature-block-color: $font-color;
$feature-block-bg: $bg-light-blue;
$feature-block-header-bg: #e1e8f2;

// Form Controls
$fc-height: 2.75rem;
$fc-border-color: #ccc;
$fc-bg: #fff;
$fc-inner-shadow: 0.1rem 0.1rem 0.1rem #eee;
$fc-placeholder-color: #999;
$fc-focus-border-color: #5091cd;
$fc-invalid-color: #d8292f;
$fc-invalid-bg: #f2f2f2;

// List Variants
$summary-bg: #fff;
$summary-row-bg: #e1e8f2;
$summary-alt-row-bg: #f1f4fa;
