/* You can add global styles to this file, and also import other style files */

@import './fonts';
$bcgov-font-path: "~@bcgov/bootstrap-theme/dist/fonts/";
@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";
@import './defaults.scss';
@import './variables';

@import "~@bcgov/bootstrap-theme/dist/scss/common";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
//@import './floating-labels.scss';

// monospace font used for fixed-size text blocks (eg, referral comments)
// NB: same font as PDF renderer service
@font-face {
  font-family: 'LiberationMono';
  src: url('/assets/LiberationMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/LiberationMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/LiberationMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.form-control {
  border-radius:0
}

.requiredField::after {
  content: "*";
  color: red;
}

// .input-help {
//     vertical-align: top;
//     display: inline-block;
// }

.input-help {
  font-size: small;
  color: #6c757d !important;
  font-weight: lighter;
}

body {
  font-size: 15px;
  // background: linear-gradient(theme-color(info) 5%, white);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

.input-symbol-dollar {
  position: relative;
}
 
.input-symbol-dollar:after {
  content: "$";
  font-size: 16px !important;
  font-weight: 400;
  position: absolute;
  height: 100%;
  top: 0;
  left: 4px;
 }

/******** ESS Application Theme********/
hr {
  color: #BECDDB;
  border: 0.75px solid;
}

.formHeading {
  background-color: #E2E9F0;
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  padding-left: 20px;
  font-weight: bold;
}

//  p {
//      line-height: 21px;
//  } 

/**START - Theme for Cards**/
.side-box-title {
  line-height: 21px;
  font-size: 21px;
}

.side-box-body {
  font-size: 15px;
}

.app-heading {
  margin-top: 15px;
  margin-left: 6px;
}

.submissionHeader {
  margin-bottom: 0 !important;
  font-size: 40px;
  font-weight: bold;
}
/**END - Theme for Cards**/

.icon,
.icon-text {
  vertical-align: middle;
  display: inline-block;
}

.form-header {
  background-color: #2F6699;
  border-bottom: 3px #FCBA19 solid;
  color: white;
  font-weight: bold;
  font-size: 21px;
  padding: 10px;
}

.form-body {
  background-color: #F0F0F0;
  border-left: 3px #2F6699 solid;
  border-bottom: 3px #2F6699 solid;
  border-right: 3px #2F6699 solid;
  font-weight: bold;
  padding: 10px;
}

.button-style {
  border-radius: 0 !important;
  height: 40px;
  font-size: 15px;
  color: #FFFFFF !important;
}

.primary-button {
  @extend .button-style;
  background-color: #2F6699;
} 

.secondary-button {
  @extend .button-style;
  background-color: #FCBA19;
}

.disable-button {
  @extend .button-style;
  background-color: #8c8c8c;
}

.primary-button:hover, .secondary-button:hover, .disable-button:hover {
  background-color: #174671;
}

.visually-hidden {
  display: none !important;
}

::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}