<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading">Collection Notice</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 content-container">
      <!-- <form [formGroup]="collectionForm"> -->
      <div class="row">
        <div class="col-12">
          <mat-card>
            <p style="font-size: 15px">
              Emergency Management BC (EMBC) will collect your personal
              information for the purpose of providing you with emergency
              services in accordance with section 26(c) of the Freedom of
              Information and Protection of Privacy Act (FoIPPA). Should you
              have any questions about the collection, use, or disclosure of
              personal information, please contact the ESS Call Centre Manager
              at PO Box 9201, STN PROV GOVT, Victoria, BC, V8W 9J1 or by phone
              toll free at 1-800-585-9559.
            </p>
            <p style="font-size: 15px">
              By submitting your email address, you authorize the Emergency
              Management BC to communicate with you by email about your
              registration and to invite you to provide feedback about your
              experience.
            </p>
            <p style="font-size: 15px">
              By submitting this form, you confirm the information you have
              supplied is true and complete, and consent to the verification of
              information provided regarding this application, or any
              subsequently provided application.
            </p>
            <br /><br />

            <!-- <div class="row">
                                <div class="col-md-9">
                                    <mat-checkbox id="collection" formControlName="informationCollectionConsent">I agree to the
                                        Collection
                                        Notice & Authorization</mat-checkbox>
                                </div>
                            </div> -->
          </mat-card>
        </div>
      </div>
      <!-- </form> -->

      <br />
      <br />
      <div class="row">
        <div class="col-12">
          <button
            class="button-p notice-button"
            mat-button
            (click)="submitNotice()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
