.header-style {
    justify-content: space-between;
}

.app-heading {
    font-size: 30px;
}

.heading-text1 {
 color: #FFFFFF;
}

.heading-text2 {
 color: #FCBA19;
}

.divider {
    width: 1px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 0px;
    margin-right: 20px;
}

@media(max-width: 768px) {
    .divider {
        width: 0px;
    }
}

 ::ng-deep .mat-menu-panel {
    border-radius: 0px !important;
    background: #036 !important;
    min-width: 320px !important;
}

.mat-menu-item {
    color: #FFFFFF !important;
}

.text{
    color:white;
    padding-left: 10px;
}

.img-align {
    margin-right: 5px;
}

.align-content {
    display: inline-block;
    line-height: 0;
}
