button {
  min-width: 240px;
}

.save-button {
  width: 100%;
  position: relative;
  app-loader {
    position: absolute;
  }
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  ::ng-deep .mat-step-label {
    display: none !important;
  }
}
