.heading {
  font-size: 33px;
}

.row-padding {
  padding-bottom: 20px;
}

.button-width {
  width: 80%;
}

@media(max-width: 1024px) {
  .col-md-5 {
    width: 60%;
  }

  ::ng-deep .mat-form-field-subscript-wrapper {
    position: relative !important;
    top: auto !important;
  }
  
}