@import '../../styles/styles.scss';

.checkIcon {
    color: theme-color(primary);
    font-size: 45px;
}

.text {
    color: theme-color(primary);
    font-size: 35px;
}

p {
    margin-bottom: 0rem !important;
}