@import '../../styles/styles.scss';

.checkIcon {
    color: theme-color(primary);
    font-size: 45px;
}

.text {
    color: theme-color(primary);
    font-size: 35px;
}

.submissionHeader {
    margin-bottom: 0 !important;
    font-size: 36px;
    font-weight: bold;
  }