<ng-container
  *ngIf="currentPath === '/verified-registration/dashboard/current'"
>
  <div class="list-loader-align" *ngIf="showLoading">
    <app-loader
      class="spinner"
      [showLoader]="true"
      [strokeWidth]="10"
      [diameter]="50"
      [color]="color"
    >
    </app-loader>
  </div>

  <ng-container *ngIf="!showLoading">
    <div *ngIf="dataSourceActive?.length === 0; else activeFiles">
      <br />
      <span class="profile-headers">Current Events (0)</span>
      <p>There are no current events.</p>
    </div>

    <ng-template #activeFiles>
      <div class="col-md-12 content-container">
        <br />
        <ng-container *ngIf="showActiveList">
          <div class="row">
            <div class="col-md-9">
              <span class="profile-headers"
                >Current Events ({{ dataSourceActive?.length }})</span
              >
            </div>
            <div class="col-md-3 button-tab-align">
              <button
                class="button-s start-button"
                mat-stroked-button
                type="button"
                (click)="startAdditionalAssessment()"
              >
                Add Another Event
              </button>
            </div>
          </div>
          <div class="card-container">
            <app-evacuation-card
              *ngFor="let card of dataSourceActive"
              [evacuationFileCard]="card"
            >
            </app-evacuation-card>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </ng-container>
</ng-container>

<ng-container *ngIf="currentPath === '/verified-registration/dashboard/past'">
  <div class="list-loader-align" *ngIf="showLoading">
    <app-loader
      class="spinner"
      [showLoader]="true"
      [strokeWidth]="10"
      [diameter]="50"
      [color]="color"
    >
    </app-loader>
  </div>

  <ng-container *ngIf="!showLoading">
    <div
      *ngIf="dataSourceInactive?.length === 0; else inactiveFiles"
      style="padding-bottom: 10px"
    >
      <br />
      <span class="profile-headers">Past Events (0)</span>
      <p>There are no past events.</p>
    </div>

    <ng-template #inactiveFiles>
      <div class="col-md-12 content-container">
        <br />
        <ng-container *ngIf="showInactiveList">
          <div class="col-md-12 titleDiv">
            <span class="profile-headers"
              >Past Events ({{ dataSourceInactive?.length }})</span
            >
          </div>
          <div class="card-container">
            <app-evacuation-card
              *ngFor="let card of dataSourceInactive"
              [evacuationFileCard]="card"
            >
            </app-evacuation-card>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
