<mat-dialog-content>
  <div style="display: flex; justify-content: space-between">
    <p style="flex: 1">
      Meal eligibility is determined by the current time. Additionally, you may be eligible for one meal prior to the
      current time if required.
    </p>
    <button class="close-image close-button-style" mat-icon-button aria-label="Close" mat-dialog-close>
      <img src="/assets/images/close.svg" height="20" width="20" />
      <img src="/assets/images/close_onhover.svg" height="20" width="20" />
    </button>
  </div>

  <p>
    <b>Breakfast:</b> 1 am-11 am <br />
    <b>Lunch:</b> 11:01 am- 3pm<br />
    <b>Dinner:</b> 3:01 pm- 1 am
  </p>
</mat-dialog-content>
