// .close-button {
//   width: 100%;
// }

// .title-row {
//   width: 100%;
// }

// .close-image img:last-child {
//   display: none;
// }

// .close-image:hover img:last-child {
//   display: block;
// }

// .close-image:hover img:first-child {
//   display: none;
// }

// .close-button-style {
//   background-color: white;
//   position: relative;
//   left: 95%;
// }

// .mat-title {
//   font-weight: 700 !important;
//   font-size: 33px !important;
//   line-height: 21px;
//   padding: 10px 5px 10px 30px;
//   text-align: left;
//   position: relative;
//   left: 25px;
// }

// .mainBody {
//   display: block;
//   font-weight: 400;
//   margin: 0 5px;
//   padding: 0 20px;
// }

// @media (max-width: 768px) {
//   .mat-dialog-content {
//     margin: 0;
//     padding: 0;
//     max-height: auto;
//   }
// }

// @media (max-width: 715px) {
//   .mainBody {
//     padding: 0;
//   }
// }

// @media (max-width: 376px) {
//   .mat-title {
//     left: 0;
//   }
// }

// // @media (max-width: 320px) {
// //   .close-button-style {
// //     left: 200px;
// //   }
// // }
.close-image img:last-child {
  display: none;
}

.close-image:hover img:last-child {
  display: inline;
}

.close-image:hover img:first-child {
  display: none;
}

.close-button-style {
  background-color: white;
  float: right;
}

.filter-margin {
  padding: 10px;
}

.data-margin {
  padding: 10px;
}

.mat-mdc-dialog-content {
  margin: 0 !important;
  max-height: none !important;
  display: inherit;
}

.mainBody {
  display: block;
  font-weight: 400;
  margin: 0 5px;
  padding: 0 20px;
}

.red-alert {
  color: #d20000;
}

.green-info {
  color: #25a800;
}

.highlighted-subtitle {
  font-size: 21px;
  color: #169bd5;
  line-height: 28px;
}

.highlighted-paragraph {
  color: #169bd5;
  font-weight: 700;
}

.embc-link {
  color: #169bd5;
}

.embc-link:hover {
  text-decoration: underline;
}
