<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading">Case Notes</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <div class="row">
        <div class="col-md-8">
          <p>{{ count }} Case Notes have been added for this ESS File.</p>

          <button
            class="button-p"
            [disabled]="isAddDisabled"
            mat-button
            (click)="addNotes()"
          >
            Add Case Notes
          </button>

          <div class="row">
            <div class="col-md-12 loader-align">
              <app-loader
                [strokeWidth]="3"
                [diameter]="50"
                [showLoader]="showLoader"
                [color]="color"
              ></app-loader>
            </div>
          </div>
          <app-add-notes
            *ngIf="addNoteFlag"
            (closeEvent)="cancel()"
          ></app-add-notes>
          <app-list-notes
            *ngIf="!addNoteFlag"
            [notesList]="notesList"
            (hideUnhideToggle)="hideUnhideNotes($event)"
            (editNoteFlag)="editNote($event)"
          ></app-list-notes>
        </div>
        <div class="col-md-4">
          <mat-card class="tips-card">
            <div>
              <img
                class="img-align"
                src="/assets/images/tips-lightbulb.svg"
                height="63"
                width="62"
              />
              <span class="tips-heading"><b>Tip: </b>Case Notes</span>
            </div>
            <p class="tips-info">
              Add any case notes pertaining to the evacuee and their household.
              Do not include any medical, personal, irrelevant, and/or
              speculative personal details pertaining to the evacuees and/or
              their household members. Evacuees may request to view their own
              records.
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
