<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-12">
      <span class="page-heading">{{ profileHeading }}</span>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(profileStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, profileStepper)"
    #profileStepper
    linear
  >
    <mat-step *ngFor="let step of steps" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>
      <div
        *ngIf="
          step.stepName === 'Personal Details' &&
            currentFlow === 'verified-registration';
          else altText
        "
      >
        <p>
          Please review and complete the form below. As this account is linked
          to your BC Services Card, certain fields are not editable.
        </p>
        <p>Required fields are marked with a red asterisk.</p>
      </div>
      <ng-template #altText>
        <p>
          Please review and complete the form below. Required fields are marked
          with a red asterisk.
        </p>
      </ng-template>
      <br />
      <app-component-wrapper
        [componentName]="step.component"
        [folderPath]="profileFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="goBack(profileStepper, step.lastStep)"
          >
            {{ step.backButtonLabel }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            *ngIf="
              currentFlow === 'verified-registration' &&
                step.component === 'secret';
              else normalButton
            "
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(profileStepper, step.isLast, step.component)"
          >
            Review Submission
          </button>
          <ng-template #normalButton>
            <button
              class="button-p"
              mat-stroked-button
              type="button"
              (click)="goForward(profileStepper, step.isLast, step.component)"
            >
              {{ step.nextButtonLabel }}
            </button>
          </ng-template>
        </div>
      </div>
    </mat-step>
    <mat-step *ngIf="currentFlow === 'verified-registration'">
      <p>
        Please read through and confirm that your details are all correct before
        submitting.
      </p>
      <ng-template matStepLabel>Review & Submit</ng-template>
      <app-review
        [type]="type"
        [showHeading]="true"
        [parentPageName]="parentPageName"
        [currentFlow]="currentFlow"
      >
      </app-review>
      <br />

      <button
        class="button-p save-button"
        [disabled]="isSubmitted"
        mat-stroked-button
        type="button"
        (click)="goForward(profileStepper, true, 'review')"
      >
        Save & Submit
        <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
