/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import './fonts';
//$bcgov-font-path: "~@bcgov/bootstrap-theme/dist/fonts/";
//@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";
@import './defaults.scss';
@import './variables';

//@import '~@bcgov/bootstrap-theme/dist/scss/common';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '@angular/material/theming';

// monospace font used for fixed-size text blocks (eg, referral comments)
// NB: same font as PDF renderer service
@font-face {
  font-family: 'LiberationMono';
  src: url('/assets/LiberationMono-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/assets/LiberationMono-Regular.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('/assets/LiberationMono-Regular.ttf')
      format('truetype'); /* Safari, Android, iOS */
}

$custom-typography: mat.define-typography-config(
  $font-family: $font-family-sans-serif,
  $body-1: mat.define-typography-level(15px, 1.6, 400)
);

@include mat.all-component-typographies($custom-typography);

main {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #333333;
}

footer nav {
  background-color: #dce2f0;
  border-top: 2px solid #fcba19;
}

.mat-step-icon {
  height: 38px !important;
  width: 38px !important;
  border: 4px solid #169bd5;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon {
  background-color: #ffffff !important;
  color: #169bd5 !important;
}

.mat-step-header .mat-step-icon-state-edit,
.mat-step-header .mat-step-icon-state-done {
  background-color: #169bd5 !important;
  color: #ffffff !important;
}

.mat-step-header .mat-step-label {
  color: #606060 !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: #169bd5 !important;
}

.mat-step-label-selected {
  font-weight: normal !important;
}

.mat-stepper-horizontal-line {
  border-top-width: 2px !important;
}

.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 40px !important;
}

.mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header:not(:first-child)::before,
[dir='rtl']
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header:not(:last-child)::before,
.mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header:not(:last-child)::after,
[dir='rtl']
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header:not(:first-child)::after {
  border-top-width: 2px !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
  top: 40px !important;
}

// @media screen and (max-width: 768px) {
//   .mat-step-label {
//     display: none !important;
//   }
// }

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 0px !important;
}

.stepper-style {
  background-color: transparent !important;
}

.container-frame {
  padding-top: 60px;
}

.highlight-conflicts {
  color: #234075;
  font-weight: bold;
}

.highlight {
  font-weight: 700;
  color: #169bd5;
}

.highlightSubtitle {
  font-weight: 400;
  font-size: 21px;
  color: #169bd5;
}

.highlightText {
  font-weight: 400;
  color: #169bd5;
}

.heading-container {
  // padding-bottom: 25px;
  font-size: 50px;
  color: #234075;
}

.page-heading {
  font-size: 45px;
}

.button-style {
  height: 55px;
  font-weight: normal;
}
.button-p {
  @extend .button-style;
  background-color: #234075;
  color: #ffffff;
  float: right;
}

.button-s {
  @extend .button-style;
  border: 1px solid #b5b5b5 !important;
  color: #606060;
  background-color: #ffffff !important;
}

.button-p:hover {
  background-color: #169bd5;
}

.button-s:hover {
  background-color: #e5e5e5;
}

.button-p:disabled {
  background-color: #234075;
  color: #ffffff !important;
}

button {
  border-width: 0px !important;
}

button:focus {
  outline: 0px !important;
}

@media screen and (max-width: 768px) {
  .resp-style .button-p {
    width: 100% !important;
    float: none;
  }

  .resp-style .button-s {
    margin-bottom: 10px;
    width: 100% !important;
  }
}

mat-card {
  @extend .mat-card-left, .mat-card-right, .mat-card-top;
  border-radius: 0px !important;
}

.card-heading {
  font-size: 21px;
  color: #169bd5;
}

.mat-card-left {
  border-left-color: #b5b5b5;
  border-left-style: solid;
  border-left-width: 1px;
}

.mat-card-right {
  border-right-color: #b5b5b5;
  border-right-style: solid;
  border-right-width: 1px;
}

.mat-card-top {
  border-top-color: #b5b5b5;
  border-top-style: solid;
  border-top-width: 1px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-start,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-end,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-gap {
  border-width: 1px !important;
}

.mat-form-field-required-marker {
  color: red !important;
}

.mat-form-field-subscript-wrapper {
  position: relative !important;
}

.sub-heading {
  font-size: 16px;
  font-weight: bold;
  color: #169bd5;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #169bd5 !important;
}

.mat-checkbox-inner-container {
  height: 20px !important;
  width: 20px !important;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #169bd5 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #169bd5 !important;
}

.requiredField::after {
  content: '*';
  color: red;
}

.custom-mat-error {
  font-size: 75%;
}

.mat-dialog-container {
  border-radius: 0px !important;
}

.mat-radio-label {
  white-space: normal !important;
}

.note-box {
  background-color: #f2f2f2;
  padding: 8px;
  font-family: 'BC Sans', sans-serif;
  font-weight: 400;
}

.mat-expansion-panel {
  border-radius: 0 !important;
}

.mat-expansion-panel-header-title {
  margin-right: 0px !important;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: black !important;
}

.mat-tab-label {
  opacity: 10 !important;
  background-color: #cccccc !important;
  min-width: 250px !important;
}
.mat-tab-label,
.mat-tab-link {
  color: black !important;
  font-size: 16px;
  font-weight: 700 !important;
}

.mat-tab-label.mat-tab-label-active {
  background-color: white !important;
  min-width: 250px !important;
  color: #169bd5 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: transparent !important;
}

.profile-headers {
  font-size: 36px;
  color: #234075;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bold {
  font-weight: bold !important;
}

.versions-table {
  width: 100%;
}
