.tips-card {
  background-color: rgba(35, 64, 117, 1);
}

.tips-heading {
  color: white;
  font-size: 21px;
  margin-left: 5px;
}

.tips-info {
  color: white;
  padding: 8px;
  margin-top: 20px;
}

.step-heading {
  color: rgba(35, 64, 117, 1);
  font-size: 21px;
}

mat-form-field {
  width: 100%;
}

.gst-text {
  align-self: center;
  padding-bottom: 18px;
}

.button-width {
  width: 100%;
}
