.notice-button {
    width: 100%;
}

.content-container {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.mat-card {
    padding: 20px !important;
}
