.divider {
    color: rgb(96, 96, 96);
}

a:hover {
    color: rgb(96, 96, 96) !important;
    text-decoration: underline;
}

a:focus {
    color: #169BD5 !important;
}

.active-list-item {
    color: #169BD5 !important;
  }