<mat-card>
  <form [formGroup]="editForm">
    <div class="content-align">
      <div class="row">
        <div class="col-md-12">
          <p class="details-heading">User Details</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              formControlName="firstName"
              maxlength="100"
              matInput
              placeholder="First Name"
              required
            />

            <mat-error
              *ngIf="
                editFormControl.firstName.invalid &&
                editFormControl.firstName.hasError('whitespaceError')
              "
            >
              First Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              formControlName="lastName"
              maxlength="100"
              matInput
              placeholder="Last Name"
              required
            />
            <mat-error
              *ngIf="
                editFormControl.lastName.invalid &&
                editFormControl.lastName.hasError('whitespaceError')
              "
            >
              Last Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>BCeID Username</mat-label>
            <input
              formControlName="userName"
              matInput
              placeholder="BCeID Username"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <input
              formControlName="role"
              matInput
              placeholder="Role"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Optional Label</mat-label>
            <input
              formControlName="label"
              matInput
              placeholder="Optional Label"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="details-heading">Contact Details</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="description">
            Some content here about providing your contact details.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              formControlName="email"
              maxlength="254"
              matInput
              placeholder="Email Address"
            />
            <mat-error
              *ngIf="
                editFormControl.email.invalid &&
                editFormControl.email.hasError('email')
              "
            >
              Invalid email
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              formControlName="phone"
              matInput
              placeholder="Contact Number"
              [textMask]="{ mask: phoneMask, keepCharPositions: true }"
            />
            <mat-error
              *ngIf="
                editFormControl.phone.invalid &&
                editFormControl.phone.hasError('incorrectLength')
              "
            >
              Telephone number must have 10 digits
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      class="button-s button-margin width-button"
      mat-button
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      class="button-p width-button"
      [disabled]="!editForm.valid || !isSubmitted"
      mat-button
      (click)="save()"
    >
      Save
      <app-loader
        [showLoader]="showLoader"
        class="spinner"
        [strokeWidth]="10"
        [diameter]="25"
        [color]="color"
      >
      </app-loader>
    </button>
  </div>
  <br />
  <br />
</mat-card>
