.heading {
  font-size: 21px;
}

.box-background {
  background: rgba(242, 242, 242, 1);
  margin-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-margin {
  margin: 0 0 4px !important;
}

.link-button {
  height: auto;
  margin: 15px;
}

.cancel-button {
  margin-top: 15px;
  width: 30%;
}

.cannot-link {
  color: red;
}
