.overview-card {
  box-shadow: none !important;
  border: 1px solid rgb(221, 221, 221);
  padding-top: 0px !important;
  margin-right: 15px;
  margin-left: 15px;
}

.card-heading-outer {
  background-color: rgb(35, 64, 117);
}

.card-heading {
  color: white;
  font-size: 23px;
  line-height: 60px;
}

.margins {
  margin: 0 !important;
}

.section-padding {
  padding: 25px;
}

.list-notes {
  padding-top: 20px;
  padding-bottom: 20px;
}

.solid-hr {
  color: #f2f2f2;
  margin-top: 30px;
}

.list-note-name {
  color: #003366;
}

.note-date {
  color: rgb(187, 187, 187);
}

.note-format {
  white-space: pre-wrap;
}

.image-align {
  text-align: center;
}

.info-box {
  margin-left: 0px;
  margin-right: 0px;
}

.data-card {
  padding: 0;
}