.back-link {
  color: rgb(55, 171, 221);
  cursor: pointer;
}

.back-link:hover {
  text-decoration: underline;
}

.row-padding {
  padding-bottom: 20px;
}

.wizard-support-type {
  font-size: 26px;
}

.support-time-box {
  background-color: #f2f2f2;
  box-shadow: none !important;
}

.time-heading {
  color: #234075;
  font-size: 21px;
}

.next-button {
  width: 30%;
}

.override {
  color: rgb(55, 171, 221);
  font-weight: bold;
  cursor: pointer;
}

.override:hover {
  text-decoration: underline;
}

.add-detail {
  margin-bottom: 25px;
  margin-top: 25px;
}

.button-row {
  justify-content: flex-end;
}

.button-col {
  text-align: right;
}

.rate-link {
  padding-left: 5px;
}

.paper-details {
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .col-md-4 {
    width: 100%;
  }
}

.original-period-container {
  width: 271px;
  height: 217px;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(252, 186, 25, 1);
  border-radius: 0px;
  position: relative;
  margin: 40px 0px 0px 20px;
}

.original-period-content {
  align-self: center;
  padding: 0px 2px 2px 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
