<mat-card>
    <div id="personalDetail">
        <p class="review-heading">Account Details</p>
        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Personal Details
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('personal-details')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            
            <div class="row info-detail">
                <div class="col-md-3">Last Name:</div>
                <div class="col-md-3">{{(formCreationService.personalDetailsForm$ | async).value.lastName}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">First Name:</div>
                <div class="col-md-3">{{(formCreationService.personalDetailsForm$ | async).value.firstName}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Preferred Name:</div>
                <div class="col-md-3">{{(formCreationService.personalDetailsForm$ | async).value.preferredName}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Initials:</div>
                <div class="col-md-3">{{(formCreationService.personalDetailsForm$ | async).value.initials}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Date of Birth:</div>
                <div class="col-md-3">{{(formCreationService.personalDetailsForm$ | async).value.dateOfBirth}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Gender:</div>
                <div class="col-md-3">{{(formCreationService.personalDetailsForm$ | async).value.gender}}</div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Primary Address
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('address')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>

            <div class="row info-detail">
                <div class="col-md-3">Address line 1:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.address.addressLine1}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Address line 2:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.address.addressLine2}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">City:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.address.jurisdiction.name}}
                </div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Postal Code:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.address.postalCode}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Province:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.address.stateProvince.name}}
                </div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Country:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.address.country.name}}</div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Mailing Address
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('address')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Address line 1:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.mailingAddress.addressLine1}}
                </div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Address line 2:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.mailingAddress.addressLine2}}
                </div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">City:</div>
                <div class="col-md-3">
                    {{(formCreationService.addressForm$ | async).value.mailingAddress.jurisdiction.name}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Postal Code:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.mailingAddress.postalCode}}
                </div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Province:</div>
                <div class="col-md-3">
                    {{(formCreationService.addressForm$ | async).value.mailingAddress.stateProvince.name}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Country:</div>
                <div class="col-md-3">{{(formCreationService.addressForm$ | async).value.mailingAddress.country.name}}
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Contact Details
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('contact-info')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Telephone/Mobile:</div>
                <div class="col-md-3">{{(formCreationService.contactDetailsForm$ | async).value.phone}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Alternative Telephone/Mobile:</div>
                <div class="col-md-3">{{(formCreationService.contactDetailsForm$ | async).value.phone}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Email Address:</div>
                <div class="col-md-3">{{(formCreationService.contactDetailsForm$ | async).value.email}}</div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Secret Word / Phrase
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('secret')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Secret Word / Phrase:</div>
                <div class="col-md-3">{{(formCreationService.secretForm$ | async).value.secretPhrase | maskText}}</div>
            </div>
        </mat-card-content>
    </div>

    <div id="needsAssessment">
        <p class="review-heading">Evacuation File</p>
        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Evacuation Details
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('evac-address')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Evacuated From:</div>
                <div class="col-md-3">
                    <span>{{(formCreationService.evacuatedForm$ | async).value.evacuatedFromAddress.addressLine1}}
                        {{(formCreationService.evacuatedForm$ | async).value.evacuatedFromAddress.addressLine2}}</span>
                    <span>{{(formCreationService.evacuatedForm$ | async).value.evacuatedFromAddress.jurisdiction.name}},
                        {{(formCreationService.evacuatedForm$ | async).value.evacuatedFromAddress.stateProvince.name}},
                        {{(formCreationService.evacuatedForm$ | async).value.evacuatedFromAddress.postalCode}}</span>
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Insurance
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('evac-address')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Insurance:</div>
                <div class="col-md-3">{{(formCreationService.evacuatedForm$ | async).value.insurance}}</div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Family Members
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('family-information')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div *ngFor="let member of (formCreationService.familyMembersForm$ | async).value.familyMember">
                <div class="row info-detail">
                    <div class="col-md-3">Last Name:</div>
                    <div class="col-md-3">{{member.lastName}}</div>
                </div>
                <div class="row info-detail">
                    <div class="col-md-3">First Name:</div>
                    <div class="col-md-3">{{member.firstName}}</div>
                </div>
                <div class="row info-detail">
                    <div class="col-md-3">Preferred Name:</div>
                    <div class="col-md-3">{{member.preferredName}}</div>
                </div>
                <div class="row info-detail">
                    <div class="col-md-3">Initials:</div>
                    <div class="col-md-3">{{member.initials}}</div>
                </div>
                <div class="row info-detail">
                    <div class="col-md-3">Date of Birth:</div>
                    <div class="col-md-3">{{member.dateOfBirth}}</div>
                </div>
                <div class="row info-detail">
                    <div class="col-md-3">Gender:</div>
                    <div class="col-md-3">{{member.gender}}</div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Family Medication & Dietary Requirements
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('family-information')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Family Medication Requirements:</div>
                <div class="col-md-3">{{(formCreationService.familyMembersForm$ | async).value.haveMedication}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Family Dietary Requirements:</div>
                <div class="col-md-3">{{(formCreationService.familyMembersForm$ | async).value.haveSpecialDiet}}</div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Pets
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('pets')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div *ngFor="let pet of (formCreationService.petsForm$ | async).value.pets">
                <div class="row info-detail">
                    <div class="col-md-3">Pet Type:</div>
                    <div class="col-md-3">{{pet.type}}</div>
                </div>
                <div class="row info-detail">
                    <div class="col-md-3">Quantity:</div>
                    <div class="col-md-3">{{pet.quantity}}</div>
                </div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Has sufficient pet food?</div>
                <div class="col-md-3">{{(formCreationService.petsForm$ | async).value.hasPetsFood}}</div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="row justify-content-between">
                <div class="col-md-6 card-heading">
                    Needs Identified
                </div>
                <div class="col-md-2">
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('identify-needs')">
                        <img src="/assets/images/edit.svg" height="35" width="35">
                        <img src="/assets/images/edit_onhover.svg" height="35" width="35">
                    </button>
                </div>
            </div>
            <hr>
            <div class="row info-detail">
                <div class="col-md-3">Food:</div>
                <div class="col-md-3">{{(formCreationService.identifyNeedsForm$ | async).value.requiresFood}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Lodging:</div>
                <div class="col-md-3">{{(formCreationService.identifyNeedsForm$ | async).value.requiresLodging}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Clothing:</div>
                <div class="col-md-3">{{(formCreationService.identifyNeedsForm$ | async).value.requiresClothing}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Transportation:</div>
                <div class="col-md-3">{{(formCreationService.identifyNeedsForm$ | async).value.requiresTransportation}}</div>
            </div>
            <div class="row info-detail">
                <div class="col-md-3">Incidentals:</div>
                <div class="col-md-3">{{(formCreationService.identifyNeedsForm$ | async).value.requiresIncidentals}}</div>
            </div>
        </mat-card-content>
    </div>
</mat-card>

<div class="row" style="margin-top: 20px;">
    <div class="col">
        <captcha language="en" eagerFetchAudio="true" (validToken)="onValidToken($event)"
            (serverError)="onServerError($event)"></captcha>
    </div>
</div>
<!-- <ng-template [ngComponentOutlet]="componentToLoad.default | async"></ng-template> -->
<!-- {{componentToLoad}}
    <ng-container>
        <ng-template [ngComponentOutlet]="cs"></ng-template>
     </ng-container>
    <ng-template #showPersonalPage>
         <app-personal-details></app-personal-details> -->
<!-- <br>
        <button mat-flat-button (click)="back()">Back</button>
    </ng-template> -->

<!-- <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editRow(element, index)">
    <img src="/assets/images/edit.svg" height="35" width="35">
    <img src="/assets/images/edit_onhover.svg" height="35" width="35">
</button> -->