<div class="container wizard-border">
  <div class="row">
    <div class="col-md-12">
      <p class="step-id">{{ stepId }}</p>
    </div>
  </div>
  <div class="row heading-container">
    <div class="col-md-12">
      <span class="page-heading">{{ stepName }}</span>
    </div>
  </div>
  <br />
  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel" dynamicHeight>
    @for (tabItem of tabs; track tabItem) {
      <a
        mat-tab-link
        #tabNavLinks
        [routerLink]="tabItem.route"
        routerLinkActive="active-step-tab"
        [ngClass]="{
          'tab-highlight': tabItem.name === 'review',
          'tab-margin custom-tab-link': tabItem.name !== 'review'
        }"
      >
        <span class="span-height" (click)="isAllowed(tabItem.name, $event)"
          >{{ tabItem.label }}
          @if (tabItem.status === 'complete') {
            <img class="tab-status" src="/assets/images/status/complete.svg" width="20" height="20" />
          }
          @if (tabItem.status === 'incomplete') {
            <img class="tab-status" src="/assets/images/status/incomplete.svg" width="20" height="20" />
          }
          @if (tabItem.status === 'not-started') {
            <img class="tab-status" src="/assets/images/status/not-started.svg" width="20" height="20" />
          }
        </span>
      </a>
    }
  </nav>

  <div class="content-container">
    <app-alert></app-alert>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
