table {
  width: 100%;
}

tr:hover {
  cursor: pointer;
}

.active {
  color: #3c9d0f;
}
.draft {
  color: #f28200;
}
.void {
  color: #696969;
}
.expired {
  color: rgba(201, 0, 0, 1);
}

th {
  font-size: 16px !important;
  background-color: rgba(113, 113, 113, 1);
  color: white !important;
}

::ng-deep .arrow-color .mat-sort-header-arrow {
  color: #ffff !important;
}
