<div class="row">
    <div class="col-md-12">
      <span class="title">Remove Household Member</span>
    </div>
  </div>
  <br />
  <div class="row">
    <p>Are you sure you want to <b>remove</b> this household member from your evacuation file?</p>
  </div>
  
  <br />
  <div class="row justify-content-between">
    <div class="col-md-6">
      <button class="button-s" mat-button (click)="cancel()">No, Cancel</button>
    </div>
    <div class="col-md-6">
      <button class="button-p delete-button" mat-button (click)="delete()">
        Yes, Remove Household Member
      </button>
    </div>
  </div>
  