<div class="row">
    <div class="col-12">
        <div class="info-block">
            <h3 class="with-icon clipboard">Invoice Checklist</h3>
            <p>The following checklist is provided for your convenience to ensure your invoice documentation is complete and accurate prior to forwarding to Emergency Management BC (EMBC) for payment.</p>
        </div>
    </div>
</div>
<div class="checklist">
    <div class="row">
        <div class="col-5"><span class="print-checkbox"> </span> Original copy of Referral form received from Evacuee.</div>
        <div class="col-6"><span class="print-checkbox"> </span> Goods or services rendered only to those people listed on the Referral.</div>
    </div>
    <div class="row">
        <div class="col-5"><span class="print-checkbox"> </span> Invoice includes supplier's name and address.</div>
        <div class="col-6"><span class="print-checkbox"> </span> Goods or services rendered are eligible items as listed on the Referral.</div>
    </div>
    <div class="row">
        <div class="col-5"><span class="print-checkbox"> </span> An itemized receipt must be included with your invoice.</div>
        <div class="col-6"><span class="print-checkbox"> </span> Make copies of invoices and receipts for your records.</div>
    </div>
    <div class="row">
        <div class="col-5"><span class="print-checkbox"> </span> Write referral # on upper right hand corner of all invoices &amp; documents.</div>
        <div class="col-6"><span class="print-checkbox"> </span> Any exceptions have been authorized by Emergency Management BC &amp; documented.</div>
    </div>
</div>
