.overview-card {
  box-shadow: none !important;
  border: 1px solid rgb(221, 221, 221);
  padding-top: 0px !important;
  margin-right: 15px;
  margin-left: 15px;
}

.card-heading-outer {
  background-color: rgb(35, 64, 117);
}

.card-heading {
  color: white;
  font-size: 23px;
  line-height: 60px;
}

.margins {
  margin: 0 !important;
}

.evacuee-info-row {
  padding: 30px;
}

.section-padding {
  padding: 30px 0px;
}

.subtitle-name {
  p {
    margin: -5px;
    font-size: 21px;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
  }
}

.table-parent {
  display: table;
}

.table-details {
  display: table-cell;
  vertical-align: middle;

  th {
    padding-right: 50px;
    font-weight: 400;
  }
}

.count {
  font-size: 50px;
  align-self: center;
}

.count-align {
  align-self: center;
  padding-left: 40px;
}

.info-box {
  margin-left: 0px;
  margin-right: 0px;
}

.data-card {
  padding-left: 0px;
  padding-right: 0px;
}

@media(max-width: 1260px) {
  .section-padding {
    display: block;
  }
}

@media(max-width:1200px) {
  .col-md-9, .col-md-3 {
    width: 100%;
  }
}