<div class="row">
    <div class="col-md-8">
        <mat-card>
            <form [formGroup]="editForm">
                <div class="content-align">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="details-heading">User Details</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstName" matInput placeholder="First Name">
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastName" matInput placeholder="Last Name">
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>BCeID Username</mat-label>
                                <input formControlName="username" matInput placeholder="BCeID Username">
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Role</mat-label>
                                <mat-select formControlName="role" required>
                                    <mat-option>--Select Role</mat-option>
                                    <mat-option *ngFor="let role of roles" [value]="role">
                                        {{role}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="personalFormControl.gender.invalid && personalFormControl.gender.hasError('required')">Gender is required</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Optional Label</mat-label>
                                <mat-select formControlName="label" required>
                                    <mat-option>--Select Label</mat-option>
                                    <mat-option *ngFor="let label of labels" [value]="label">
                                        {{label}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="personalFormControl.gender.invalid && personalFormControl.gender.hasError('required')">Gender is required</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            <p class="details-heading">Contact Details</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input formControlName="email" matInput placeholder="Email Address">
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Contact Number</mat-label>
                                <input formControlName="phone" matInput placeholder="Contact Number">
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div>
                        <button class="button-s button-margin" mat-button (click)="cancel()">Cancel</button>
                        <button class="button-p" mat-button (click)="next()">Next</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="tips-card">
            <div>
                <img src="/assets/images/tips-lightbulb.svg" height="63" width="62">
                <span class="tips-heading"><b>Tips: </b>Roles</span>
            </div>
            <p class="tips-info">Tier 1 - Responder</p>
            <p class="tips-info">Tier 2 - Supervisor</p>
            <p class="tips-info">Tier 3 - ESS Director / Manager</p>
        </mat-card>
    </div>
</div>