<!-- <div class="row heading-container">
    <div class="col-md-12">
        <span class="page-heading">Edit Responder</span>
    </div>
</div>
<br> -->
<app-alert></app-alert>

<div class="row">
    <div class="col-md-8">
        <mat-card>
            <form [formGroup]="editForm">
                <div class="content-align">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="details-heading">User Details</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstName" matInput placeholder="First Name" required>
                                <mat-error
                                    *ngIf="editFormControl.firstName.invalid && editFormControl.firstName.hasError('required')">
                                    First Name is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastName" matInput placeholder="Last Name" required>
                                <mat-error
                                    *ngIf="editFormControl.lastName.invalid && editFormControl.lastName.hasError('whitespaceError')">
                                    Last Name is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>BCeID Username</mat-label>
                                <input formControlName="userName" (change)="checkUserName($event)" matInput
                                    placeholder="BCeID Username" required>
                                <mat-error
                                    *ngIf="editFormControl.userName.invalid && editFormControl.userName.hasError('whitespaceError')">
                                    BCeID Username is required</mat-error>
                                <mat-error
                                    *ngIf="editFormControl.userName.invalid && editFormControl.userName.hasError('userNameExists')">
                                    BCeID Username Already in Use</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <app-loader [strokeWidth]="3" [diameter]="25" [showLoader]="showLoader" [color]="color">
                            </app-loader>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Role</mat-label>
                                <mat-select formControlName="role" required>
                                    <mat-option>--Select Role</mat-option>
                                    <mat-option *ngFor="let role of roles" [value]="role.code">
                                        {{role?.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="editFormControl.role.invalid && editFormControl.role.hasError('whitespaceError')">
                                    Role is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Optional Label</mat-label>
                                <mat-select formControlName="label">
                                    <mat-option>--Select Label</mat-option>
                                    <mat-option *ngFor="let label of labels" [value]="label.code">
                                        {{label?.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="details-heading">Contact Details</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input formControlName="email" matInput placeholder="Email Address">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Contact Number</mat-label>
                                <input formControlName="phone" matInput placeholder="Contact Number">
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <button class="button-s button-margin" mat-button (click)="cancel()">Cancel</button>
                        <button class="button-p" [disabled]="!editForm.valid" mat-button (click)="next()">Next</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="tips-card">
            <div>
                <img src="/assets/images/tips-lightbulb.svg" height="63" width="62">
                <span class="tips-heading"><b>Tips: </b>Roles</span>
            </div>
            <p class="tips-info">Tier 1 - Responder</p>
            <p class="tips-info">Tier 2 - Supervisor</p>
            <p class="tips-info">Tier 3 - ESS Director / Manager</p>
        </mat-card>
    </div>
</div>