
.outage-container {
    display: block;
    padding: 0 !important;
    background-color: white;
    
}
.title-header {
    background-color: #F2F2F2; 
    margin: 0;
    padding: 50px 20px 60px 20px;

}

.title {
    font-weight: 400;
    font-size: 50px;
    color: #003366;
    
}

.outage-info {
    padding-bottom: 50px;
}

.subtitle {
    font-weight: 400;
    font-size: 21px;
    color: #234075;
    padding: 50px 50px 20px 50px
}

.dynamic-text {
    padding: 0px 20px;
    color: red;
    padding-left: 50px;

}

.description {
    padding: 0px 50px;
}