<form [formGroup]="addressForm">
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="outline">
                <mat-label>Address Line 1</mat-label>
                <input [formControlName]="'addressLine1'" matInput placeholder="Address Line 1">
                <!-- <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error> -->
              </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="outline">
                <mat-label>Address Line 2</mat-label>
                <input [formControlName]="'addressLine2'" matInput placeholder="Address Line 2">
                <!-- <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error> -->
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [formControlName]="'jurisdiction'" matInput placeholder="City">
                <!-- <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error> -->
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Province</mat-label>
                <input [formControlName]="'stateProvince'" matInput placeholder="Province">
                <!-- <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error> -->
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input [formControlName]="'postalCode'" matInput placeholder="Postal Code">
                <!-- <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error> -->
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input [formControlName]="'country'" matInput placeholder="Country">
                <!-- <mat-error *ngIf="personalFormControl.firstName.invalid && personalFormControl.firstName.hasError('required')">First Name is required</mat-error> -->
              </mat-form-field>
        </div>
    </div>
</form>

