.login-button {
    background-color: #234075;
    color: #FFFFFF ;
    height: 55px;
    font-weight: normal;
    font-size: 17px;
    width: 50%;
}

.self-button {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}

.verified {
     margin-top: 200px;
     margin-left: 200px;
     margin-right: 200px;
     margin-bottom: 40px;
}