
<form [formGroup]="evacuatedForm">
  <mat-card class="card-align">
    <mat-card-content>
      <div *ngIf="registration?.primaryAddress?.stateProvince?.code === 'BC' else otherAddress;">
        <div class="row">
          <div class="col-md-12">
            <label class="card-heading requiredField" id="primary-radio-group-label">Are you being evacuated from your primary
              address that you listed when you created your profile?</label>
            <br>
            <mat-radio-group formControlName="evacuatedFromPrimary" aria-labelledby="primary-radio-group-label"
              class="primary-radio-group" (change)="primaryAddressChange($event)" required>
              <mat-radio-button value="Yes">Yes
                <br>
                {{registration?.primaryAddress?.addressLine1}}
                {{registration?.primaryAddress?.addressLine2}}
                {{registration?.primaryAddress?.jurisdiction.name}} , {{registration?.primaryAddress?.postalCode}}
              </mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
              <mat-error class="custom-mat-error"
                *ngIf="evacuatedFormControl?.evacuatedFromPrimary.touched && evacuatedFormControl?.evacuatedFromPrimary.invalid && evacuatedFormControl?.evacuatedFromPrimary.hasError('required')">
                Evacaution Address is required</mat-error>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" *ngIf="evacuatedFormControl?.evacuatedFromPrimary.value ==='No'">
          <div class="col-md-12">
            <p>Where are you being evacuated from?</p>
            <app-bc-address [addressForm]="evacuatedFormControl?.evacuatedFromAddress">
            </app-bc-address>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <ng-template #otherAddress>
    <div class="row">
      <div class="col-md-12">
        <label class="card-heading requiredField" id="primary-radio-group-label">Where are you being evacuated from?</label>
        <p>Please identify where in <b>BC</b> you have been <b>evacuated from</b>?</p>
        <app-bc-address [addressForm]="evacuatedFormControl?.evacuatedFromAddress">
        </app-bc-address>
      </div>
    </div>
  </ng-template>

  <mat-card class="card-align">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <label class="card-heading requiredField" id="primary-radio-group-label">Do you have insurance?</label>
          <br>
          <mat-radio-group formControlName="insurance" aria-labelledby="primary-radio-group-label"
            class="primary-radio-group" required>
            <mat-radio-button class="primary-radio-button" *ngFor="let option of insuranceOption | enumToArray"
              [value]="option">
              {{option}}
            </mat-radio-button>
            <mat-error class="custom-mat-error"
              *ngIf="evacuatedFormControl?.insurance.touched && evacuatedFormControl?.insurance.invalid && evacuatedFormControl?.insurance.hasError('required')">
              Insurance is required</mat-error>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>