app-alert ::ng-deep.alert {
  margin: 20px;
}

.step-id {
  color: rgb(187, 187, 187);
}

.content-container {
  padding-bottom: 24px;
}

a:hover {
  text-decoration: none;
}

.tab-status {
  margin-left: 7px;
}

.tab-highlight {
  background-color: #fcba19 !important;
  color: black !important;
  padding: 0px !important;
}

.tab-margin {
  margin-right: 7px;
}

.custom-tab-link {
  padding: 0px !important;
}

.span-height {
  line-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
}
