<div [formGroup]="personalDetailsForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label class="requiredField">First Name</mat-label>
        <input
          formControlName="firstName"
          matInput
          maxlength="100"
          placeholder="First Name"
        />
        <mat-error
          *ngIf="
            personalFormControl?.firstName.invalid &&
            personalFormControl?.firstName.hasError('whitespaceError')
          "
        >
          First Name is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row last-name-col">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label class="requiredField">Last Name</mat-label>
        <input
          formControlName="lastName"
          matInput
          maxlength="100"
          placeholder="Last Name"
          [readonly]="readOnlyInput"
        />
        <mat-error
          *ngIf="
            personalFormControl?.lastName.invalid &&
            personalFormControl?.lastName.hasError('whitespaceError')
          "
        >
          Last Name is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-4 check-box-col">
      <mat-checkbox
        formControlName="sameLastName"
        (change)="sameLastNameEvent($event)"
        >Same as main applicant
      </mat-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Initials</mat-label>
        <input
          maxlength="10"
          formControlName="initials"
          matInput
          placeholder="Initials"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label class="requiredField">Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gen of gender" [value]="gen.value">
            {{ gen.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            personalFormControl?.gender.invalid &&
            personalFormControl?.gender.hasError('required')
          "
          >Gender is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <mat-form-field type="date" appearance="outline">
        <mat-label class="requiredField">Date of Birth</mat-label>
        <input
          formControlName="dateOfBirth"
          matInput
          placeholder="mm/dd/yyyy"
          [textMask]="{ mask: dateMask, keepCharPositions: true }"
        />
        <mat-hint>Allowed Date format: mm/dd/yyyy</mat-hint>
        <mat-error
          *ngIf="
            personalFormControl?.dateOfBirth.invalid &&
            personalFormControl?.dateOfBirth.hasError('required')
          "
          >Date of Birth is required</mat-error
        >
        <mat-error
          *ngIf="
            personalFormControl?.dateOfBirth.invalid &&
            personalFormControl?.dateOfBirth.hasError('invalidDate')
          "
        >
          Invalid date</mat-error
        >
        <mat-error
          *ngIf="
            personalFormControl?.dateOfBirth.invalid &&
            personalFormControl?.dateOfBirth.hasError('futureDate')
          "
          >Date of Birth should be in the past</mat-error
        >
        <mat-error
          *ngIf="
            personalFormControl?.dateOfBirth.invalid &&
            personalFormControl?.dateOfBirth.hasError('invalidYear')
          "
        >
          Invalid year. The Year must be between 1800-2100</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</div>
