<div [formGroup]="personalDetailsForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label class="requiredField">First Name</mat-label>
        <input formControlName="firstName" matInput maxlength="100" placeholder="First Name" />
        @if (personalFormControl?.firstName.invalid && personalFormControl?.firstName.hasError('whitespaceError')) {
          <mat-error> First Name is required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row last-name-col">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label class="requiredField">Last Name</mat-label>
        <input formControlName="lastName" matInput maxlength="100" placeholder="Last Name" [readonly]="readOnlyInput" />
        @if (personalFormControl?.lastName.invalid && personalFormControl?.lastName.hasError('whitespaceError')) {
          <mat-error> Last Name is required</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col-md-4 check-box-col">
      <mat-checkbox formControlName="sameLastName" (change)="sameLastNameEvent($event)"
        >Same as main applicant
      </mat-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Initials</mat-label>
        <input maxlength="10" formControlName="initials" matInput placeholder="Initials" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label class="requiredField">Gender</mat-label>
        <mat-select formControlName="gender">
          @for (gen of gender; track gen) {
            <mat-option [value]="gen.value">
              {{ gen.name }}
            </mat-option>
          }
        </mat-select>
        @if (personalFormControl?.gender.invalid && personalFormControl?.gender.hasError('required')) {
          <mat-error>Gender is required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <mat-form-field type="date" appearance="outline">
        <mat-label class="requiredField">Date of Birth</mat-label>
        <input formControlName="dateOfBirth" matInput placeholder="mm/dd/yyyy" [imask]="dateMask" />
        <mat-hint>Allowed Date format: mm/dd/yyyy</mat-hint>
        @if (personalFormControl?.dateOfBirth.invalid && personalFormControl?.dateOfBirth.hasError('required')) {
          <mat-error>Date of Birth is required</mat-error>
        }
        @if (personalFormControl?.dateOfBirth.invalid && personalFormControl?.dateOfBirth.hasError('invalidDate')) {
          <mat-error> Invalid date</mat-error>
        }
        @if (personalFormControl?.dateOfBirth.invalid && personalFormControl?.dateOfBirth.hasError('futureDate')) {
          <mat-error>Date of Birth should be in the past</mat-error>
        }
        @if (personalFormControl?.dateOfBirth.invalid && personalFormControl?.dateOfBirth.hasError('invalidYear')) {
          <mat-error> Invalid year. The Year must be between 1800-2100</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Telephone/Mobile</mat-label>
        <input formControlName="phone" matInput maxlength="100" placeholder="Phone" [imask]="phoneMask" />
        @if (personalFormControl.phone.invalid && personalFormControl.phone.hasError('whitespaceError')) {
          <mat-error> Telephone Number is required</mat-error>
        }
        @if (personalFormControl.phone.invalid && personalFormControl.phone.hasError('incorrectLength')) {
          <mat-error> Telephone number must have 10 digits</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input formControlName="email" matInput maxlength="100" placeholder="Email" />
        @if (personalFormControl?.email.invalid && personalFormControl?.email.hasError('whitespaceError')) {
          <mat-error> Email is required</mat-error>
        }
        @if (personalFormControl?.email.invalid && personalFormControl?.email.hasError('email')) {
          <mat-error>Invalid email</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</div>
