<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading requiredField"
          >Contact Information</span
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <div class="row">
        <div class="col-8">
          <p>
            Do you authorize Emergency Management British Columbia and your
            Local Emergency Program to communicate with you by email and/or
            phone regarding your current registration?
          </p>
          <p>
            Your telephone number and email address will <b>ONLY</b> be used to
            contact you about your current registration for this emergency
            event. It is strongly encouraged to provide your telephone number
            and/or email address as a point of contact, so your local Emergency
            Support Services (ESS) team can easily support you.
          </p>
          <p>
            Note: those who provide their email address will receive an ESS File
            number confirmation email.
          </p>
          <form id="contactInfoForm" [formGroup]="contactInfoForm">
            <mat-radio-group
              formControlName="showContacts"
              class="primary-radio-group"
              (change)="hideContact($event)"
              required
            >
              <mat-radio-button
                class="primary-radio-button"
                [value]="true"
                id="yesOption"
              >
                <span><b>Yes</b></span> - You can contact me about my current
                registration. I understand that I can be contacted at any point
                during the registration process including before and after I
                proceed to the nearest reception centre upon completing my
                registration.
              </mat-radio-button>
              <mat-radio-button
                class="primary-radio-button"
                [value]="false"
                id="noOption"
              >
                <span><b>No</b></span> - You cannot contact me about my current
                registration. I understand that it is my responsibility to
                proceed to the nearest reception centre upon completing my
                registration for Emergency Support Services and/or future
                assistance when required.
              </mat-radio-button>
            </mat-radio-group>
            <ng-container
              *ngIf="contactFormControl?.showContacts.value === true"
            >
              <p class="requiredField">
                <b>Enter your telephone number and/ or email address.</b>
              </p>
              <div class="row">
                <div class="col-md-12">
                  <p class="sub-heading">Contact Telephone Number</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Telephone Number</mat-label>
                    <input
                      formControlName="phone"
                      matInput
                      placeholder="Telephone Number"
                      [textMask]="{ mask: phoneMask, keepCharPositions: true }"
                    />
                    <mat-error
                      *ngIf="
                        contactFormControl.phone.invalid &&
                        contactFormControl.phone.hasError('whitespaceError')
                      "
                    >
                      Telephone Number is required</mat-error
                    >
                    <mat-error
                      *ngIf="
                        contactFormControl.phone.invalid &&
                        contactFormControl.phone.hasError('incorrectLength')
                      "
                    >
                      Telephone number must have 10 digits</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <p class="sub-heading">Email Address</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input
                      formControlName="email"
                      matInput
                      placeholder="Email Address"
                    />
                    <mat-error
                      *ngIf="
                        contactFormControl.email.invalid &&
                        contactFormControl.email.hasError('whitespaceError')
                      "
                    >
                      Email is required</mat-error
                    >
                    <mat-error
                      *ngIf="
                        contactFormControl.email.invalid &&
                        contactFormControl.email.hasError('email')
                      "
                      >Invalid email</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Email Address</mat-label>
                    <input
                      formControlName="confirmEmail"
                      matInput
                      placeholder="Confirm Email Address"
                      [errorStateMatcher]="emailMatcher"
                    />
                    <mat-error
                      *ngIf="
                        contactFormControl.confirmEmail.invalid &&
                        contactFormControl.confirmEmail.hasError(
                          'whitespaceError'
                        )
                      "
                    >
                      Confirm Email is required</mat-error
                    >
                    <mat-error
                      *ngIf="
                        contactFormControl.confirmEmail.invalid &&
                        contactFormControl.confirmEmail.hasError('email')
                      "
                    >
                      Invalid email</mat-error
                    >
                    <mat-error
                      *ngIf="
                        contactFormControl?.confirmEmail?.parent?.hasError(
                          'emailMatch'
                        )
                      "
                    >
                      Email address mismatch</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </form>
        </div>

        <div class="col-md-4">
          <mat-card class="tips-card">
            <div>
              <img
                class="img-align"
                src="/assets/images/tips-lightbulb.svg"
                height="63"
                width="62"
              />
              <span class="tips-heading"><b>Tip: </b>Contact Details</span>
            </div>
            <p class="tips-info">
              If the Registrant is present, always read the entire question out.
            </p>
          </mat-card>
        </div>
      </div>

      <br />
      <br />
      <div class="row">
        <div class="col-md-6">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>
        </div>
        <div class="col-md-6">
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
