:host ::ng-deep app-review {
  .mat-mdc-card {
    box-shadow: none;
  }
  .mat-mdc-card-top,
  mat-card {
    border-top-style: none !important;
  }
  .mat-mdc-card-left,
  mat-card {
    border-left-style: none !important;
  }
  .mat-mdc-card-right,
  mat-card {
    border-right-style: none !important;
  }
}
