<div class="container-frame container">
  <div class="row heading-container">
    <div class="col-md-12">
      <span class="page-heading">Supplier Management</span>
    </div>
  </div>
  <br />
  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel" dynamicHeight>
    @for (tabItem of tabs; track tabItem) {
      <a mat-tab-link [routerLink]="tabItem.route" routerLinkActive="active-tab">
        {{ tabItem.label }}
      </a>
    }
  </nav>

  <div class="content-container">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
