.back-link {
  color: rgb(55, 171, 221);
  cursor: pointer;
}

.back-link:hover {
  text-decoration: underline;
}

.row-padding {
  padding-bottom: 20px;
}

.wizard-support-type {
  font-size: 26px;
}

.question-heading {
  color: #234075;
  font-size: 21px;
}

.next {
  float: right;
  width: 40%;
  min-width: fit-content;
}

.back {
  width: 40%;
  min-width: fit-content;
}

.supplier-box {
  background-color: #f2f2f2;
  box-shadow: none !important;
  width: 50%;
}

.reset-img {
  color: rgb(55, 171, 221);
  padding-right: 5px;
  padding-left: 5px;
}

.search-button {
  margin: 0.25em 0 0.25em 0;
  width: 100%;
}

.rate-link {
  padding-left: 5px;
}

::ng-deep .mat-autocomplete-panel {
  min-width: 500px !important;
}

@media (max-width: 800px) {
  ::ng-deep .mat-autocomplete-panel {
    min-width: 400px !important;
  }
}

.support-delivery-card {
  cursor: pointer;
  height: 100%;
}

.support-delivery-card-header {
  height: 150px;
  p {
    text-align: center;
    color: #234075;
  }
}

.selected {
  background-color: rgba(242, 242, 242, 1);
  border-width: 3px;
  border-style: solid;
  border-color: rgba(252, 186, 25, 1);
}

.selected-icon-container {
  position: absolute;
  right: -13px;
  top: -13px;
}

.selected-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.subtitle-icon-container {
  height: 65px;
}

.subtitle-name {
  p {
    margin: -5px;
    font-size: 21px;
    text-align: center;
    color: #169bd5;
    font-weight: bold;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
}

.etransfer-ineligible {
  background-color: rgba(227, 2, 2, 1);
  position: absolute;
  width: 100%;
  left: 0;
  top: 135px;
  p {
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
  }
}

.referral-ineligible {
  background-color: rgba(227, 2, 2, 1);
  position: absolute;
  width: 100%;
  left: 0;
  p {
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
  }
}

.disabled {
  cursor: default !important;
  background-color: rgba(242, 242, 242, 1);
  // text-decoration: none;
  pointer-events: none;
}

@media (max-width: 965px){
  .col-md-4 {
    width: 100%;
  }
}
