<div class="container container-frame">
  <div class="row row-padding">
    <div class="col-md-12">
      <a (click)="back()"
        ><img src="/assets/images/back-arrow.svg" width="20" height="18" /><span
          class="back-link"
          >Supports</span
        ></a
      >
    </div>
  </div>

  <div class="heading-container row-padding">
    <div class="row">
      <div class="col-md-8">
        <span class="wizard-tab-heading">Support Details</span>
      </div>
      <div
        *ngIf="
          stepSupportsService?.supportTypeToAdd?.description !== 'Group Lodging'
        "
        class="col-md-4"
      >
        <img src="/assets/images/rate-card.svg" width="23" height="23" />
        <a (click)="openRateSheet()"
          ><span class="back-link rate-link">ESS Rate sheet</span></a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-support-type">{{
          stepSupportsService?.supportTypeToAdd?.description
        }}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        This support can be provisioned to the evacuee by means of a
        <span class="bold">referral.</span>
      </p>
      <p>Please enter the referral details below.</p>
    </div>
  </div>

  <!--Dynamic form-->
  <app-support-referral
    [referralDeliveryForm]="supportDeliveryForm"
    [editFlag]="editFlag"
  ></app-support-referral>

  <div class="row">
    <div class="col-md-6">
      <button class="button-s back" mat-button (click)="backToDetails()">
        Back - Support Details
      </button>
    </div>
    <div *ngIf="!editFlag" class="col-md-6">
      <button class="button-p next" mat-button (click)="next()">
        Next - Save Support
      </button>
    </div>

    <div *ngIf="editFlag" class="col-md-6">
      <button class="button-p next" mat-button (click)="saveEdits()">
        Save Changes
      </button>
    </div>
  </div>
</div>
