<form [formGroup]="referralForm">
  <div class="row">
    <div class="col-md-12">
      <p class="time-heading requiredField">List of Approved Items</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline">
        <textarea
          rows="10"
          formControlName="approvedItems"
          placeholder="Please use a comma to separate items"
          maxlength="250"
          matInput
          required
        ></textarea>
        <mat-error
          *ngIf="
            referralFormControl?.approvedItems.invalid &&
            referralFormControl?.approvedItems.hasError('whitespaceError')
          "
        >
          Required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!--class="custom-mat-error"-->
  <div class="row">
    <div class="col-md-12">
      <p class="time-heading requiredField">Total Amount</p>
      <p class="hint">
        Note: Transactions that exceed $10,000 cannot be processed as an
        e-Transfer.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        Up to a maximum value of:
        <span class="amount">${{ totalAmount | number: '1.2-2' }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <input
          formControlName="userTotalAmount"
          matInput
          appNumberComma
          type="text"
          class="amount-right-align"
          placeholder="0.00"
          (change)="checkOverlimit($event)"
          required
        />
        <span matPrefix>$&nbsp;</span>
        <mat-error
          *ngIf="
            referralFormControl?.userTotalAmount.invalid &&
            referralFormControl?.userTotalAmount.hasError('required')
          "
        >
          Total Amount is required</mat-error
        >
        <mat-error
          *ngIf="
            (referralFormControl?.userTotalAmount.invalid &&
              referralFormControl?.userTotalAmount.hasError('pattern')) ||
            (referralFormControl?.userTotalAmount.invalid &&
              referralFormControl?.userTotalAmount.hasError('totalZeroError'))
          "
        >
          Invalid amount</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="validateUserTotalAmount()">
    <span class="total-amount-error">
      <img
        src="../../../../../assets/images/warning-red.svg"
        width="25px"
        height="27px"
        class="amount-warning-icon"
      />
      Total monetary value exceeds the recommended ESS rate.
    </span>
  </div>

  <div *ngIf="validateUserTotalAmount()" class="approver-time-box">
    <div class="row">
      <div class="col">
        <div class="requiredField">
          Authorization to exceed ESS rates given by (name of EMBC Expense
          Authority)
        </div>
        <div>
          (If you are unsure who this is, please ask your supervisor of EMBC
          Regional Manager)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <input formControlName="approverName" maxlength="100" matInput />

          <mat-error
            *ngIf="
              referralFormControl?.approverName.invalid &&
              referralFormControl?.approverName.hasError('whitespaceError')
            "
          >
            Approver name is required</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
