<h3 class="with-icon grocery">Groceries {{> itemsDetailTitle}}</h3>
<ul class="item-list">
    <li><span class="input-output">{{NumDaysMeals}}</span> <strong>Day(s) of Groceries</strong></li>
</ul>
<p>
    <strong>Total value of groceries:</strong> <span class="input-output">&#36;{{TotalAmountPrinted}}</span><em>(incl. GST/PST)</em>
</p>
