.overview-card {
  box-shadow: none !important;
  border: 1px solid rgb(221, 221, 221);
  padding-top: 0px !important;
  margin-right: 15px;
  margin-left: 15px;
}

.card-heading-outer {
  background-color: rgb(35, 64, 117);
}

.card-heading {
  color: white;
  font-size: 23px;
  line-height: 60px;
}

.margins {
  margin: 0 !important;
}

.section-padding {
  padding: 25px;
}

.row-padding {
  padding-bottom: 20px;
}

.supplier-align {
  text-align: right;
}

.support-active {
  color: #3c9d0f;
}

.support-void {
  color: #696969;
}

.support-expired {
  color: red;
}

.support-card {
  box-shadow: none !important;
  border: 1px solid rgb(221, 221, 221);
  padding-top: 0px !important;
  margin-right: 15px;
  margin-left: 15px;
}

.support-header {
  background-color: rgba(242, 242, 242, 1);
  padding-top: 15px;
  padding-bottom: 10px;
}

.subsection {
  padding-top: 15px;
}

.evacuee-section {
  padding-left: 5rem;
}
