<mat-nav-list>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/responder-dashboard'"
  >
    Dashboard
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/search'"
  >
    Evacuee Search & Registration
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/responder-management'"
  >
    Responder Management
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/supplier-management'"
  >
    Supplier Management
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/community-management'"
  >
    Community Management
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/reporting'"
  >
    Reporting
  </a>
</mat-nav-list>
