<mat-nav-list>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/responder-dashboard'"
  >
    Dashboard
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/search'"
  >
    Evacuee Search & Registration
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/responder-management'"
  >
    Responder Management
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/supplier-management'"
  >
    Supplier Management
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/community-management'"
  >
    Community Management
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    [routerLink]="'/responder-access/reporting'"
  >
    Reporting
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="onSideNavClose()"
    routerLinkActive="active-list-item"
    target="_blank"
    href="https://938b4159-610d-4708-9523-7e98db38c60c.shelf-ssp-ca.com"
  >
    ESS Resource Hub
  </a>
</mat-nav-list>
