.overview-card {
  box-shadow: none !important;
  border: 1px solid rgb(221, 221, 221);
  padding-top: 0px !important;
}

.card-heading-outer {
  background-color: rgb(35, 64, 117);
}

.card-heading {
  color: white;
  font-size: 23px;
  line-height: 60px;
}

.margins {
  margin: 0 !important;
}

.description-align {
  justify-content: flex-end !important;
}

.file-details {
  font-weight: bold;
}

mat-expansion-panel {
  margin: 0px !important;
  padding-top: 15px;
}

.expansion-divider {
  border-bottom: 1px solid #f2f2f2;
}

.file-heading {
  padding-left: 17px;
}

.info-test {
  @extend .info-image;
  margin-left: 10px;
}

.info-test :hover {
  cursor: pointer;
}

.info-image img:last-child {
display: none;
}

.info-image:hover img:last-child {
display: inline;
}

.info-image:hover img:first-child {
display: none;
}
