<form [formGroup]="householdMemberForm">
  <mat-card appearance="outlined" class="card-align">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <label class="card-heading requiredField" id="warningMember">
            If you have any <strong>household members</strong> (including dependents) who live in the same household
            with you, please add them below.
          </label>
          <p><em>Please note:</em> Roommates & tenants need to register separately.</p>
          @if (dataSource.getValue().length > 0) {
            <mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">First Name:</span>
                  {{ element.firstName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Last Name:</span>
                  {{ element.lastName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="initials">
                <mat-header-cell *matHeaderCellDef> Initials </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Initials:</span>
                  {{ element.initials }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Gender:</span>
                  {{ element.gender }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dateOfBirth">
                <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Date of Birth:</span>
                  {{ element.dateOfBirth }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index">
                  <!-- <span class="mobile-label">11</span> -->
                  @if (!editFlag) {
                    <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editRow(element, index)">
                      <img src="/assets/images/edit.svg" height="35" width="35" />
                      <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
                    </button>
                  }
                  @if (!editFlag) {
                    <button class="delete-image" mat-icon-button aria-label="Remove" (click)="deleteRow(index)">
                      <img src="/assets/images/delete.svg" height="35" width="35" />
                      <img src="/assets/images/delete_onhover.svg" height="35" width="35" />
                    </button>
                  }
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="row.isPrimaryRegistrant === true">
              </mat-row>
            </mat-table>
          }

          <br />

          @if (!showFamilyForm) {
            <button class="family-button" mat-button type="button" (click)="addMembers()">
              + Add Household Member
            </button>
          }
          @if (showFamilyForm) {
            <div>
              <p class="card-heading">Household Members</p>
              <app-person-detail-form [personalDetailsForm]="householdFormControl?.householdMember">
              </app-person-detail-form>
              <div class="row">
                <div class="col-md-3">
                  <button class="button-s details-button" mat-button type="button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-md-3">
                  <button class="family-button details-button save-button" mat-button type="button" (click)="save()">
                    Save
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <br />
</form>
