.heading {
  font-size: 33px;
}

.subsection-heading {
  color: #234075;
  font-size: 21px;
  font-weight: bold;
}

.row-padding {
  padding-bottom: 20px;
}

.table-header {
  background-color: #234075 !important;
}

.header-cell {
  color: white !important;
  font-size: 15px;
}

.table-outline {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 18px;
}

.hr-padding {
  margin-top: 25px;
}

.cancel-button {
  margin-top: 15px;
  width: 30%;
}
