<div class="row">
  <div class="col-md-8">
    <mat-card>
      <p class="step-heading">Step 1 of 3</p>
      <form [formGroup]="addForm">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Supplier Legal Name</mat-label>
              <input
                formControlName="supplierLegalName"
                maxlength="100"
                matInput
                placeholder="Supplier Legal Name"
                required
              />
              <mat-error
                *ngIf="
                  addFormControl.supplierLegalName.invalid &&
                  addFormControl.supplierLegalName.hasError('whitespaceError')
                "
              >
                Supplier Legal Name is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Supplier Name</mat-label>
              <input
                formControlName="supplierName"
                maxlength="100"
                matInput
                placeholder="Supplier Name"
                required
              />
              <mat-error
                *ngIf="
                  addFormControl.supplierName.invalid &&
                  addFormControl.supplierName.hasError('whitespaceError')
                "
              >
                Supplier Name is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <app-custom-gst-field [gstFormGroup]="gstNumber"></app-custom-gst-field>
      </form>
      <div class="row">
        <div class="col-md-3">
          <button class="button-s button-width" mat-button (click)="cancel()">
            Cancel
          </button>
        </div>
        <div class="col-md-3">
          <button
            class="button-p button-width"
            mat-button
            [disabled]="!addForm.valid"
            (click)="next()"
          >
            Next
            <app-loader
              [strokeWidth]="3"
              [diameter]="25"
              [showLoader]="showLoader"
              [color]="color"
            >
            </app-loader>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="tips-card">
      <div>
        <img src="/assets/images/tips-lightbulb.svg" height="63" width="62" />
        <span class="tips-heading"><b>Tips: </b>Legal Name</span>
      </div>
      <p class="tips-info">
        The business legal name is the official name of the person or entity
        that owns the company and is used on government forms and business
        paperwork.
      </p>
    </mat-card>
  </div>
</div>
