<div class="row">
  <div class="col-md-12 text-content heading-padding">
    <h1 style="font-size: 200%"><b>Account Not Found</b></h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 text-content">
    <div class="register-without-card">
      <div>
        <h3 class="register-without-card-title">
          <strong class="--blue"
            >You do not currently have permission to access this page.
          </strong>
        </h3>
        <p class="--center">
          <strong
            >If you're a new user or were recently assigned credentials, please
            wait and try again.</strong
          >
        </p>
      </div>
      <div class="register-without-card__button-container">
        <button (click)="back()" class="button-s btn-width">
          Back to Home Page
        </button>
      </div>
    </div>
  </div>
</div>
