<div class="row justify-content-center">
  <div class="col-md-6 text-content heading-padding">
    <p>Account Not Found</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 text-content">
    <div class="register-without-card">
      <div class="content-margin">
        <h3>
          <strong
            >You do not currently have permission to access this page.
          </strong>
        </h3>
        <p>
          If you're a new user or were recently assigned credentials, please
          wait and try again.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 register-without-card__button-container">
    <button (click)="back()" class="button-p btn-width">
      Back to ERA Home Page
    </button>
  </div>
</div>
