<div class="row">
    <div class="col-md-12">
        You are requesting to <b>delete</b> this user from the ERA Tool.
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <mat-checkbox id="confirmDelete" (change)="confirmDeleteChange($event)">I confirm that I want this user removed
            from the
            ERA Tool, and I am aware this cannot
            be undone.</mat-checkbox>
    </div>
</div>

<br>
<div class="row justify-content-between">
    <div class="col-md-6">
        <button class="button-s" mat-button (click)="cancel()">No, Cancel</button>
    </div>
    <div class="col-md-6">
        <button class="button-p delete-button" mat-button [disabled]="!isConfirmed" (click)="delete()">Yes, Delete this User</button>
    </div>
</div>