<h3 class="with-icon housing">Billeting {{> itemsDetailTitle}}</h3>
<ul class="item-list">
    <li><span class="input-output">{{NumNights}}</span> <strong>Night(s)</strong></li>
</ul>
<p>
    <strong>Only the cost of the room is covered.</strong><br>
    <em>Note: Please complete Billeting Invoice for the host family.</em>
</p>
