<ul>
    <li>Services to meet immediate needs should be provided in the most cost-effective manner. Extra costs incurred by the evacuee beyond the approved items listed are the responsibility of the evacuee.</li>
    <li>Emergency Support Services is eligible for approved Provincial Government Rates from commercial accommodations suppliers listed in the Ministry of Labour and Citizens&#39; Services Business Travel Accommodation Listings for government travel.</li>
    <li>If the evacuee can bill meals to their room, ensure the restaurant is aware of the meal allowances and restrictions. Itemized bills for meals provided must be included with the invoice.</li>
</ul>
