<table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
    <tbody>
        <tr>
            <td style="padding:30px;background-color:#ffffff;">
                <p style='font-size: 18pt;color:#234075;font-weight: bold;'>Submission Successful</p>
                <p style='font-size: 13pt;color:#00a6ed;font-weight: bold;'>Your Emergency Support Services (ESS) File Number is: {{fileNumber}}</p>
                <p><strong>Thank you for submitting your online self-registration. Please keep a record of your Emergency Support Services File Number as you will need this when you connect with an ESS Responder.</strong></p>
                <p style='font-size: 16pt;color:#00a6ed;font-weight: bold;'>Next Steps if you are under EVACUATION ORDER:</p>
                <ul>
                    <li>
                        If you require emergency supports, proceed to your nearest Reception Centre. A list of open Reception Centres can be found at <a href="https://www.emergencyinfobc.gov.bc.ca/" style="color:#00a6ed;text-decoration:underline;">Emergency Info BC</a>.
                    </li>
                    <br>
                    <li>
                        To complete the registration process, you will need to connect with an ESS Responder and complete a needs assessment interview.
                    </li>
                    <br>
                    <li>
                        The needs assessment is what determines your eligibility for supports.
                    </li>
                    <br>
                    <li>
                        Any goods and services obtained prior to a need’s assessment interview are not eligible for retroactive reimbursement.
                    </li>
                    <br>
                    <li>
                        If <strong>NO</strong> nearby Reception Centre is open and immediate action is required, please contact your Local Emergency Program for next steps.
                    </li>
                    <br>
                </ul>
                <p style='font-size: 16pt;color:#00a6ed;font-weight: bold;'>Next Steps if you are under EVACUATION ALERT:</p>
                <ul>
                    <li>
                        If you <strong>DO NOT</strong> require emergency serves at this time, no further action is required. If your Alert turns into an ORDER – please see the above actions.
                    </li>
                </ul>
                <br />
                <p>
                    <strong>
                        Already have an account in the Evacuee Registration & Assistance Tool? Please use the following link to login to the tool and review and/or edit your new ESS File:
                        <a href='https://ess.gov.bc.ca' style="color:#00a6ed;text-decoration:underline;">https://ess.gov.bc.ca</a>
                        <br /><i style="color: #808080">(select the 'Already have an account? Log in' button)</i>
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding:30px;text-align:center;font-size:12px;background-color:#234075;color:#cccccc;">
                <p style="margin:0 0 8px 0;"><a style="text-decoration:none;"><img src="https://ess.gov.bc.ca/img/gov_bc_logo.svg" width="150" height="41" alt="Government of British Columbia" style="display:inline-block;color:#cccccc;"></a></p>
            </td>
        </tr>
    </tbody>
</table>