<p>
    You are receiving this email because you requested to connect your <strong>Evacuee Registration & Assistance (ERA) </strong>
    Profile with your BC Services Card account.
</p>
<p>
    Please follow these instructions:
</p>
<p>
    Click on the link below. If the link is not clickable, copy and paste the website address into your browser.
</p>
<p>
    <a href="{{inviteUrl}}" style="color:#00a6ed;text-decoration:underline;">{{inviteUrl}}</a>
</p>
<p>
    The temporary link expires after <strong>{{inviteExpiryDate}}</strong>.
</p>
<p>
    If you are receiving this in error, please ignore this email and/or call 1-800-585-9559 to report the error.
</p>
<p>
    Sincerely,<br />
    <strong>Emergency Management of British Columbia</strong>
</p>