<table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
    <tbody>
        <tr>
            <td style="padding:30px;background-color:#ffffff;">
                <p>
                    You are receiving this email because you requested to access your <strong>Evacuee Registration & Assistance (ERA) </strong>
                    Profile using your BC Services Card app to log in.
                </p>
                <p>
                    Please follow these instructions:
                </p>
                <p>
                    Click on the link below. If the link is not clickable, copy and paste the website address into your browser.
                </p>
                <p>
                    <a href="{{inviteUrl}}" style="color:#00a6ed;text-decoration:underline;">{{inviteUrl}}</a>
                </p>
                <p>
                    The temporary link expires after <strong>{{inviteExpiryDate}}</strong>.
                </p>
                <p>
                    If you are receiving this in error, please ignore this email and/or call 1-800-585-9559 to report the error.
                </p>
                <p>
                    Sincerely,<br />
                    <strong>Emergency Management of British Columbia</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding:30px;text-align:center;font-size:12px;background-color:#234075;color:#cccccc;">
                <p style="margin:0 0 8px 0;"><a style="text-decoration:none;"><img src="https://ess.gov.bc.ca/img/gov_bc_logo.svg" width="150" height="41" alt="Government of British Columbia" style="display:inline-block;color:#cccccc;"></a></p>
            </td>
        </tr>
    </tbody>
</table>