<div class="row">
  <div class="col-md-12">
    <p class="heading">Status Definitions</p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-1">
    <img src="/assets/images/verified.svg" height="34" width="34" />
  </div>
  <div class="col-md-11">
    <p><b>Verified Profile</b></p>
    <p>
      ID has been presented and/or profile is linked with BC Services Card
      Online Authentication. Evacuee is eligible for e-Transfer.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-1">
    <img src="/assets/images/unverified.svg" height="34" width="34" />
  </div>
  <div class="col-md-11">
    <p><b>Unverified Profile</b></p>
    <p>
      ID has NOT been provided and/or profile is NOT linked with BC Services
      Card Online Authentication. Evacuee is NOT eligible for e-Transfer.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <button class="button-s button-width" mat-button (click)="close()">
      Close
    </button>
  </div>
</div>
