<div class="row">
  <div class="col-md-12">
    You are requesting to <b>delete</b> this user from ERA.
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <mat-checkbox id="confirmDelete" (change)="confirmDeleteChange($event)"
      >I confirm that I want to remove this user from ERA and this action cannot
      be undone.</mat-checkbox
    >
  </div>
  <div *ngIf="showError" class="col-md-12 field-error">
    You must confirm this action before selecting the Delete button
  </div>
</div>

<br />
<div class="row justify-content-between">
  <div class="col-md-6">
    <button class="button-s" mat-button (click)="cancel()">No, Cancel</button>
  </div>
  <div class="col-md-6">
    <button class="button-p delete-button" mat-button (click)="delete()">
      Yes, Delete this User
    </button>
  </div>
</div>
