.drag-drop {
  height: 230px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #C4C4C4;
  position: relative;
  margin: 0 auto;
  background-color: white;
  
  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.attach-list {
  margin-top: 10px;
  border: dashed 1px #C4C4C4;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  justify-content: space-between;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.file-style {
  justify-content: space-between;
  padding-left: 9px;
  padding-right: 9px;
}

.drag-text {
  font-weight: lighter;
  margin-bottom: 0 !important;
}

.browse-link {
  color: #2F6699 !important;
}

.file-type {
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 0;
}

.file-format {
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 0;
}

.invalid-characters {
  font-size: 13px;
  font-weight: lighter;
}
