<!-- <label class="requiredField" for="fileDrop">Attach a photo/scanned copy of your invoice</label> -->
<div class="drag-drop" appDragDrop (fileDropped)="onInvoiceDropped($event)">
  <input
    type="file"
    #fileDrop
    multiple
    class="form-control form-control-lg"
    id="fileDrop"
    (change)="onInvoiceDropped($event.target.files)"
    (click)="fileDrop.value = null"
    required
  />
  <img src="/assets/images/attachIcon.svg" width="53" height="61" />
  <p class="drag-text">
    Drag and drop or <a class="browse-link"><u>browse</u></a> your files
  </p>
  <p class="file-type">Allowed file types - pdf, jpg, jpeg, png</p>
  <p class="file-format">Restricted characters in file name:</p>
  <p class="invalid-characters">
    ~ " # % & * : . &lt; &gt; ? / &#123; | &#125;. Leading and trailing spaces in file name aren't allowed.
  </p>
</div>
@for (attach of invoiceAttachments; track attach; let fileIndex = $index) {
  <div class="attach-list">
    <div class="row file-style">
      <div class="row">
        <fa-icon class="file-icon" [icon]="getFileImage(attach)"></fa-icon>
        <p>{{ attach }}</p>
      </div>
      <fa-icon class="click-icon" [icon]="faTrash" (click)="deleteAttachedInvoice(fileIndex)"></fa-icon>
    </div>
  </div>
}
