.view-banner {
    background-color: #FCBA19;
    border-color: #ffdf25;
    box-shadow: none;
}

.align-banner {
    padding-top: 10px;
    padding-bottom: 40px;
}

.start-button {
    width: 100%;
}

.top-detail {
    font-size: 21px;
}

.button-align {
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-tab-align {
    padding-bottom: 20px;
}

:host ::ng-deep .mat-tab-label-active {
    .inactive-curr{
        display: none !important;
    }
    .active-curr{
        display: block !important;
    }
}

.active-curr{
    display: none;
}

:host ::ng-deep app-review {
    .mat-card {
        box-shadow: none;
    }
    .mat-card-top, mat-card {
     border-top-style: none !important; 
    }
    .mat-card-left, mat-card {
        border-left-style: none !important; 
    }
    .mat-card-right, mat-card {
        border-right-style: none !important; 
    }   
}

.card-container {
    margin: 2em 0;
    box-shadow:  8px 5px 5px -1px rgba(0, 0, 0, 0.101960784313725);
}