<ul>
    <li>Services to meet immediate needs should be provided in the most cost-effective manner. Extra costs incurred by the evacuee beyond the approved items listed are the responsibility of the evacuee.</li>
    <li>Charges for goods &amp; services, including all applicable taxes, <strong>must not exceed</strong> the Emergency Support Services rates.</li>
</ul>
