<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading"> Review & Save Profile </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-container">
      <div class="row">
        <div class="col-12">
          <div class="review-panel">
            <label class="tab-subtitle">Restriction</label>

            <div class="row">
              <div class="col-8">
                <mat-checkbox
                  [checked]="!stepEvacueeProfileService?.restrictedAccess"
                  disabled
                >
                  You have given your consent to have your registration status,
                  location and contact information shared with friends and
                  family who may ask about your wellbeing.
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Personal Details</label>

            <div class="row">
              <div class="col-4">Last Name</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.personalDetails?.lastName }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">First Name</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.personalDetails?.firstName }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Preferred Name</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.personalDetails?.preferredName }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Initials</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.personalDetails?.initials }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Date of Birth</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.personalDetails?.dateOfBirth
                    | date: 'dd-MMM-yyyy'
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Gender</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.personalDetails?.gender }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Primary Residence</label>

            <div class="row">
              <div class="col-4">Address Line 1</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.primaryAddressDetails?.addressLine1
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Address Line 2</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.primaryAddressDetails?.addressLine2
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">City</div>
              <div class="col-8 bold">
                {{ primaryCommunity }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Province</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.primaryAddressDetails
                    ?.stateProvince?.name ||
                    stepEvacueeProfileService?.primaryAddressDetails
                      ?.stateProvince
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Postal Code</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.primaryAddressDetails?.postalCode
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Country</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.primaryAddressDetails?.country
                    ?.name ||
                    stepEvacueeProfileService?.primaryAddressDetails?.country
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Mailing Address</label>

            <div class="row">
              <div class="col-4">Address Line 1</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.mailingAddressDetails?.addressLine1
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Address Line 2</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.mailingAddressDetails?.addressLine2
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">City</div>
              <div class="col-8 bold">
                {{ mailingCommunity }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Province</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.mailingAddressDetails
                    ?.stateProvince?.name ||
                    stepEvacueeProfileService?.mailingAddressDetails
                      ?.stateProvince
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Postal Code</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.mailingAddressDetails?.postalCode
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">Country</div>
              <div class="col-8 bold">
                {{
                  stepEvacueeProfileService?.mailingAddressDetails?.country
                    ?.name ||
                    stepEvacueeProfileService?.mailingAddressDetails?.country
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="review-panel">
            <label class="tab-subtitle">Contact Details</label>

            <div class="row">
              <div class="col-8">
                <mat-checkbox
                  [checked]="stepEvacueeProfileService?.showContact"
                  [disabled]="true"
                >
                  You have given your consent for Emergency Management British
                  Columbia and your Local Emergency Program to communicate with
                  you by email or phone regarding your emergency situation.
                </mat-checkbox>
              </div>
            </div>

            <div class="row" *ngIf="stepEvacueeProfileService?.showContact">
              <div class="col-4">Telephone/Mobile</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.contactDetails?.phone }}
              </div>
            </div>

            <div class="row" *ngIf="stepEvacueeProfileService?.showContact">
              <div class="col-4">Email Address</div>
              <div class="col-8 bold">
                {{ stepEvacueeProfileService?.contactDetails?.email }}
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!evacueeSessionService?.isPaperBased" class="col-12">
          <div class="review-panel data-panel">
            <label class="tab-subtitle">Security Questions</label>

            <div
              class="row"
              *ngIf="stepEvacueeProfileService?.bypassSecurityQuestions"
            >
              <div class="col-8">
                <mat-checkbox [checked]="true" [disabled]="true">
                  Bypass security questions for manual entry of paper ESS file.
                </mat-checkbox>
              </div>
            </div>

            <div
              class="row"
              *ngIf="
                !stepEvacueeProfileService?.bypassSecurityQuestions &&
                displayQuestions?.length > 0
              "
            >
              <div class="col-4">
                {{ displayQuestions[0]?.question }}
              </div>
              <div class="col-8 bold">
                {{ displayQuestions[0]?.answer | maskText }}
              </div>
            </div>

            <div
              class="row"
              *ngIf="
                !stepEvacueeProfileService?.bypassSecurityQuestions &&
                displayQuestions?.length > 1
              "
            >
              <div class="col-4">
                {{ displayQuestions[1]?.question }}
              </div>
              <div class="col-8 bold">
                {{ displayQuestions[1]?.answer | maskText }}
              </div>
            </div>

            <div
              class="row"
              *ngIf="
                !stepEvacueeProfileService?.bypassSecurityQuestions &&
                displayQuestions?.length > 2
              "
            >
              <div class="col-4">
                {{ displayQuestions[2]?.question }}
              </div>
              <div class="col-8 bold">
                {{ displayQuestions[2]?.answer | maskText }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-12"
          *ngIf="
            !this.appBaseService?.appModel?.selectedProfile
              ?.selectedEvacueeInContext?.id ||
            this.appBaseService?.wizardProperties?.wizardType ===
              wizardType.MemberRegistration
          "
        >
          <div class="confirm-panel">
            <label class="tab-subtitle">Identification</label>

            <p id="verifiedProfile-radio-group-label" class="requiredField">
              Did you see government issued identification from this individual?
            </p>

            <form [formGroup]="verifiedProfileGroup">
              <div class="row">
                <div class="col-12">
                  <mat-radio-group
                    aria-labelledby="verifiedProfile-radio-group-label"
                    formControlName="verifiedProfile"
                    class="primary-radio-group"
                    required
                  >
                    <mat-radio-button
                      class="primary-radio-button"
                      [value]="true"
                      id="yesOption"
                    >
                      <span class="bold">Yes</span> - I have seen government
                      issued identification
                    </mat-radio-button>
                    <mat-radio-button
                      class="primary-radio-button"
                      [value]="false"
                      id="noOption"
                    >
                      <span class="bold">No</span> - I did not see government
                      issued identification
                    </mat-radio-button>
                  </mat-radio-group>

                  <mat-error
                    *ngIf="
                      verifiedProfileControl?.verifiedProfile?.touched &&
                      verifiedProfileControl?.verifiedProfile?.invalid &&
                      verifiedProfileControl?.verifiedProfile?.hasError(
                        'required'
                      )
                    "
                  >
                    Please select an option.
                  </mat-error>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div
          class="col-12"
          *ngIf="
            !evacueeSessionService?.isPaperBased &&
            (this.appBaseService?.wizardProperties?.wizardType ===
              wizardType.NewRegistration ||
              this.appBaseService?.wizardProperties?.wizardType ===
                wizardType.MemberRegistration)
          "
        >
          <div class="e-transfer-panel">
            <label class="tab-subtitle">e-Transfer Eligibility</label>

            <p>
              <strong>
                Send an email invitation to the evacuee to confirm their
                identity by logging in to their profile using the BC Services
                Card app.
              </strong>
            </p>

            <form [formGroup]="inviteEmailGroup">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input
                      formControlName="email"
                      matInput
                      placeholder="Email Address"
                    />
                    <mat-error
                      *ngIf="
                        inviteEmailControl?.email.invalid &&
                        inviteEmailControl?.email.hasError('email')
                      "
                      >Invalid email</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              <div class="row" *ngIf="inviteEmailControl?.email.value">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Email Address</mat-label>
                    <input
                      formControlName="confirmEmail"
                      matInput
                      placeholder="Confirm Email Address"
                      [errorStateMatcher]="emailMatcher"
                    />
                    <mat-error
                      *ngIf="
                        inviteEmailControl?.confirmEmail.invalid &&
                        inviteEmailControl?.confirmEmail.hasError('email')
                      "
                    >
                      Invalid email</mat-error
                    >
                    <mat-error
                      *ngIf="
                        inviteEmailControl?.confirmEmail?.parent?.hasError(
                          'emailMatch'
                        )
                      "
                    >
                      Email address mismatch</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 nav-buttons">
          <button class="button-s back" mat-button (click)="back()">
            Back
          </button>

          <button
            class="button-p save"
            mat-stroked-button
            (click)="save()"
            [disabled]="saveLoader || disableButton"
          >
            Save Profile
            <app-loader
              style="
                display: inline-flex;
                justify-content: center;
                align-items: center;
              "
              [strokeWidth]="3"
              [diameter]="20"
              [showLoader]="saveLoader"
            ></app-loader>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
