.back {
  float: left;
  width: 20%;
}
.save {
  float: right;
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .save {
    width: 100%;
	margin-top: 1em
  }

  .back {
    width: 100%;
  }
}

.tab-subtitle {
  font-size: 21px;
  color: #234075;
  margin-bottom: 1em;
}

.mat-radio-button {
  display: block;

  ::ng-deep .mat-radio-outer-circle {
    border-color: white;
  }

  ::ng-deep .mat-radio-label-content {
    padding-left: 0.8em;
  }
}

::ng-deep .mat-checkbox-label {
  margin-left: 0.8em;
}

.wizard-panel {
  h2 {
    font-size: 1.4em;
  }

  padding: 20px;
  margin: 8px 0;

  line-height: 2em;
}

.data-panel {
  .row:not(:first-child) {
    margin-top: 0.5em;
  }
}

.review-panel {
  @extend .wizard-panel;

  background-color: #f2f2f2;
}

.confirm-panel {
  @extend .wizard-panel;

  .tab-subtitle {
    color: white;
  }

  background-color: #234075;
  color: white;
}

.e-transfer-panel {
  @extend .wizard-panel;

  .tab-subtitle {
    color: black;
  }

  background-color: #feba2c;
  color: black;
}

.nav-buttons {
  margin-top: 3em;
}
