<mat-card class="card-align">
    <mat-card-content>
        <p class="card-heading">Secret Word/Phrase</p>
        <div class="section-intro">
            <p>The security question is a vital piece of information to ensure volunteers are able to verbally verify your
                identity if you are evacuated.</p>
            <p>In the event that you are evacuated, please share the answer to this question
                with any family members that you are registering.</p>
            <p>This will enable Emergency Support Services (ESS)
                Volunteers to assist them when you are not able to be present.</p>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p class="sub-heading">Secret Word or Phrase</p>
            </div>
        </div>
        <form [formGroup]="secretForm">
            <div class="row">
                <div class="col-md-12">
                    <p>Enter a memorable secret phrase or word. For security reasons, your secret word or phrase should
                        not include your email address.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Secret Word or Phrase</mat-label>
                        <input type="text" maxlength="100" formControlName="secretPhrase" matInput
                            placeholder="Secret Word or Phrase" required>
                        <mat-error
                            *ngIf="secretFormControl.secretPhrase.invalid && secretFormControl.secretPhrase.hasError('required')">
                            Secret Word/Phrase is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>