.sub-heading {
    font-weight: 700;
    font-size: 21px;
}

.sub-info {
    color: #169BD5;
}

.ref-number {
    color: #169BD5;
    font-weight: 400;
    font-size: 60px;
}

@media screen and (max-width: 768px) {
    .ref-number {
        color: #169BD5;
        font-weight: 400;
        font-size: 40px;
    }
}

.bottom-panel {
    width: 100%;
    margin-top: 24vh
}

.open-panel-heading {
    font-size: 25px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .mat-expansion-panel-header.mat-expanded {
        height: auto;
    }
  }

// .mat-expansion-panel {
//     display: flex !important;
//     flex-direction: column;
//   }
//   .mat-expansion-panel-header {
//     order: 2;
//   }