<div class="container container-frame">
    <div class="row heading-container">
        <div class="col-12">
            <span class="page-heading">Submission Complete</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 content-container">

            <mat-card class="card-align">
                <mat-card-content>
                    <p class="sub-heading">Your Emergency Support Services (ESS) File Number is: &nbsp;<span
                            class="ref-number">{{referenceNumber}}</span></p>
                    <br>
                    <p>Thank you for submitting your online self-registration.</p>
                    <br>
                    <p><span class="sub-info"><b>Next Steps</b></span></p>
                    <p>Please keep a record of your Emergency Support Services File Number to receive emergency support
                        services that can be provided up to 72 hours starting from the time connecting in with a local
                        ESS Responder at a Reception Centre.</p>
                    <p>After a need's assessment interview with a local ESS Responder has been completed, supports are
                        provided to purchase goods and services if eligible.</p>
                    <p>Any goods and services purchased prior to a need's assessment interview are not eligible for
                        retroactive reimbursement.</p>
                    <br>
                    <p>If you are under <b>EVACUATION ALERT</b> or <b>DO NOT</b> require emergency serves at this time,
                        no further action is required.</p>
                    <br>
                    <p>If you are under <b>EVACUATION ORDER</b>, and require emergency supports, proceed to the area
                        designated
                        by your local ESS team or your nearest Reception Centre. A list of open Reception Centres can be
                        found at <a class="sub-info" href="https://www.emergencyinfobc.gov.bc.ca/"
                            target="_blank">Emergency Info
                            BC</a>.
                    </p>
                    <p>If NO nearby Reception Centre is open and immediate action is required, please contact your First
                        Nation Government or Local Authority for next steps.</p>
                    <br><br>
                </mat-card-content>
            </mat-card>
            <br>
            <br>
            <div *ngIf="currentFlow === 'verified-registration'" class="row">
                <div class="col-md-12">
                    <button class="button-p notice-button" mat-button type="button" (click)="goToProfile()">Return to my
                        Profile</button>
                </div>
            </div>
            <mat-card *ngIf="currentFlow === 'non-verified-registration'" class="card-align services-info">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12 open-panel-heading">
                            <img mat-dialog-close src="/assets/images/exclaimation.svg" height="30" width="30"> Register
                            using your <b>BC Services Card</b>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-8">
                            <p>With BC Services Card you'll be able to log back in to your profile to view your
                                evacuation
                                history, supports received as well as keep your profile details up-to-date.</p>
                        </div>
                        <div class="col-md-4">
                            <button class="button-p edit-button" mat-stroked-button type="button"
                                (click)="verifyUser()">Find out more</button>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- <div class="bottom-panel">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            style="background-color: rgba(255, 223, 37, 1)">
            <mat-expansion-panel-header>
                <mat-panel-title style="justify-content: center;">

                    <span *ngIf="!panelOpenState">Register using your <b>BC Services Card</b></span>
                    <span *ngIf="panelOpenState" class="open-panel-heading"> <img mat-dialog-close
                            src="/assets/images/exclaimation.svg" height="30" width="30">&nbsp; Register with <b>BC
                            Services Card</b></span>
                </mat-panel-title>
                <mat-panel-description style="justify-content: flex-end;">
                    {{panelOpenState ? 'Collapse' : 'Expand'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>

                <div style="text-align: center;">
                    <div class="row">
                        <div class="col-md-8">
                            <p>With BC Services Card you'll be able to log back in to your profile to view your
                                evacuation
                                history, supports received as well as keep your profile details up-to-date.</p>
                        </div>
                        <div class="col-md-4">
                            <button class="button-p edit-button" mat-stroked-button type="button">Find out more</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div> -->

<!-- bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%; -->