.footer-position {
    // position: fixed;
    bottom: 0;
    width: 100%;
}

.app-version {
    color: white !important;
    cursor: pointer;
}

.app-version:hover {
    text-decoration: underline;
}
