.review-heading {
  color: rgba(35, 64, 117, 1);
  font-size: 21px;
}

.content-align {
  padding: 10px;
}

.row-align {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.details-subtitle {
  font-size: 16px;
  margin: 20px 0px;
}

.detail-label {
  color: #717171;
}

.buttons-section {
  margin-top: 60px;
}

.button-margin {
  margin-right: 20px;
}

.button-width {
  width: 45%;
}
