<div style="background-color: #f2f2f2">
  <div class="container container-frame">
    <div class="row heading-container">
      <div class="col-md-12">
        <span class="page-heading"
          ><b>{{ (formCreationService.personalDetailsForm$ | async)?.value?.lastName }}</b
          >, {{ (formCreationService.personalDetailsForm$ | async)?.value?.firstName }}</span
        >
      </div>
    </div>
    <div class="row align-banner">
      <div class="col-md-12">
        <mat-card appearance="outlined" class="view-banner">
          <mat-card-content>
            @if ((evacuationFilesDataService.currentEvacuationFileCount$ | async) === 0) {
              <div class="row">
                <div class="col-md-9">
                  <p class="top-detail">
                    Create an <b>Emergency Support Services (ESS) File</b> if you are currently being instructed by your
                    First Nation or Local Authority to complete an online self-registration because you are either on
                    Evacuation Alert or Order.
                  </p>
                  <p>
                    Completing an Emergency Support Services (ESS) File now will not only save you time but allows your
                    local Emergency Support Services (ESS) team to better support your needs.
                  </p>
                </div>
                <div class="col-md-3 button-align">
                  <button class="button-p start-button" mat-stroked-button type="button" (click)="startAssessment()">
                    Create ESS File
                  </button>
                </div>
              </div>
            } @else if (evacuationFilesDataService.isPendingEssFile$ | async) {
              <div class="col-md-12">
                <p class="top-detail">
                  <b
                    >Please connect with an Emergency Support Services Responder or proceed to your closest Reception
                    Centre.</b
                  >
                </p>
                <p>
                  <b>Please remember to bring government-issued identification with you if you have it.</b>
                </p>
                <p>All details pertaining to your event can be found below, under the "Current Events" tab below.</p>
              </div>
            } @else if (evacuationFilesDataService.allSupportsSelfServe$ | async) {
              <div class="col-md-12">
                <p class="top-detail">
                  <b>No Further Action Required. You do not need to meet with a responder at a reception centre.</b>
                </p>
                <p>
                  <b>
                    While most e-Transfers are processed immediately, there are instances where processing delays can
                    occur. If your e-Transfer is not received within 24 hours, please contact 1-800-585-9559. For
                    information about evacuation orders and alerts, please visit your Local Emergency Programs website
                    or <a href="https://EmergencyInfoBC.ca">EmergencyInfoBC.ca</a>.</b
                  >
                </p>
              </div>
            } @else if (evacuationFilesDataService.hasActiveReferrals$ | async) {
              <div class="col-md-12">
                <p class="top-detail">
                  <b>Are you still on evacuation order and require additional supports?</b>
                </p>
                <p>
                  For information about evacuation orders and alerts, please visit your Local Emergency Programs website
                  or <a href="https://EmergencyInfoBC.ca">EmergencyInfoBC.ca</a>.
                </p>
              </div>
            } @else if (evacuationFilesDataService.expiredSupportsOnly$ | async) {
              <div class="col-md-12">
                <p class="top-detail">
                  <b>Are you still on evacuation order and require additional supports?</b>
                </p>
                <p>Extend your supports by reviewing your household needs to confirm they are still correct.</p>
                <p>
                  For information about evacuation orders and alerts, please visit your Local Emergency Programs website
                  or <a href="https://EmergencyInfoBC.ca">EmergencyInfoBC.ca</a>.
                </p>
              </div>
            } @else if (evacuationFilesDataService.noSupports$ | async) {
              <div class="col-md-12">
                <p class="top-detail">
                  <b>Are you still on evacuation order and require supports?</b>
                </p>
                <p>Get supports by reviewing your household needs to confirm they are still correct.</p>
                <p>
                  For information about evacuation orders and alerts, please visit your Local Emergency Programs website
                  or <a href="https://EmergencyInfoBC.ca">EmergencyInfoBC.ca</a>.
                </p>
              </div>
            } @else {
              <div class="col-md-12">
                <p class="top-detail">
                  <b>Are you still on evacuation order and require additional supports?</b>
                </p>
                <p>Please connect with your Local Emergency Program for assistance.</p>
              </div>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-bottom: 50px">
  <app-alert></app-alert>
  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel" dynamicHeight>
    @for (tabItem of tabs; track tabItem) {
      <a mat-tab-link [routerLink]="tabItem.route" routerLinkActive="active-tab">
        <img class="inactive-curr" [src]="tabItem.inactiveImage" height="15" width="15" />
        <img class="active-curr" [src]="tabItem.activeImage" height="15" width="15" />
        &nbsp;&nbsp; {{ tabItem.label }}
      </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
