<mat-card>
  <form [formGroup]="parentForm">
    <div class="row line-space">
      <div class="col-md-4">
        <p>Answer Hint:</p>
      </div>
      <div class="col-md-8">
        <p>
          <b> {{ phrase?.securityPhrase }} </b>
        </p>
      </div>
    </div>

    <div class="row line-space">
      <div class="col-md-4">
        <p>Answer:</p>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <input [formControlName]="'phraseAnswer'" matInput type="text" />
          <mat-error
            *ngIf="
              securityPhraseFormControl.phraseAnswer.invalid &&
              securityPhraseFormControl.phraseAnswer.hasError('whitespaceError')
            "
          >
            Security Phrase cannot be blank</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
