mat-card {
    border: none !important;
    background-color: rgba(242, 242, 242, 1);
    height: auto;
    box-shadow: none !important;
}

.questionHighlight {
    font-weight: 700;
    color: #234075;
    line-height: 17px;
}

.divider {
    width: 34vw;
    height: 2px;
}

.lineSpace {
    padding: 15px 30px 10px;
}

.imgSpace {
    padding-left: 30px;
}

input {
    width: 20vw;
    height: 40px;
    padding: 2px;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
    background-color: white;
    border-color: rgba(187, 187, 187, 1);
    border-style: solid;
    
}

*:focus {
    outline: none;
}

@media (max-width: 768px) {


    .lineSpace {
        padding: 15px 30px 0px;
    }

    input {
        width: 5em;
    }
}
