<mat-card>
  <form [formGroup]="securityPhraseForm">
    <div class="row line-space">
      <div class="col-md-4">
        <p>Answer Hint:</p>
      </div>
      <div class="col-md-8">
        <p>
          <b> {{ phrase }} </b>
        </p>
      </div>
    </div>

    <div class="row line-space">
      <div class="col-md-4">
        <p>Answer:</p>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <input
            [formControlName]="'answer'"
            matInput
            type="text"
            (focusout)="sendAnswer($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
