mat-card {
    height: auto;
    width: 70%;
}

.question-highlight {
    font-weight: 700;
    color: #234075;
    line-height: 17px;
}

.divider {
    width: 34vw;
    height: 2px;
}

.line-space {
    padding: 15px 30px 10px;
}

.img-space {
    padding-left: 30px;
}

*:focus {
    outline: none;
}

@media(max-width: 830px) {
    
    mat-card {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .lineSpace {
        padding: 15px 30px 0px;
    }
}