.close-image img:last-child {
  display: none;
}

.close-image:hover img:last-child {
  display: inline;
}

.close-image:hover img:first-child {
  display: none;
}

.close-button-style {
  background-color: white;
  float: right;
}

.filter-margin {
  padding: 10px;
}

.data-margin {
  padding: 10px;
}


.mainBody {
  display: block;
  font-weight: 400;
  margin: 0 5px;
  padding: 0 20px;
}

.red-alert {
  color: #D20000;
}

.green-info {
  color: #25A800;
}

.cancel-button {
  width: 30%;
}

::-webkit-scrollbar { display: none; }