<div class="container container-frame">
  <mat-card style="padding: calc(var(--size-1) * 5); margin-bottom: var(--size-2)">
    <mat-card-content style="display: flex; gap: var(--size-3); flex-direction: column; align-items: center">
      <h1 class="card-heading" style="font-size: calc(var(--size-1) * 4); text-align: center">
        You are eligible to receive financial assistance via <br />
        <b>Interac</b>® <b>e-Transfer</b> while you are evacuated.
      </h1>

      <h2 class="highlightText">
        Before proceeding, please <b></b>confirm that you meet the following <b>requirements</b>.
      </h2>

      <img
        src="http://embc.number41media.com/EMCR2024/RegistrantPortal/images/evacuation_file_-_authenticated_-_eligible_selfser/u18584.svg"
        width="200"
        height="200"
      />

      <p style="font-size: 18px">You have a <b>valid bank account</b> <br />and can accept an e-Transfer</p>

      <button
        class="button-p"
        style="width: 350px; font-size: var(--size-3)"
        mat-raised-button
        (click)="gotoSelfServeSupport()"
      >
        Proceed With e-Transfer
      </button>
      <a class="highlightText" style="cursor: pointer" (click)="optOutSelfServe()">
        Opt-out and Receive Supports via Referrals
      </a>
    </mat-card-content>
  </mat-card>
  <mat-card style="background-color: #f2f2f2; padding: calc(var(--size-1) * 5); margin-bottom: var(--size-4)">
    <mat-card-content style="display: flex; gap: var(--size-3); flex-direction: column; align-items: center">
      <span style="font-size: var(--size-3)">Why Choose Interac® eTransfer?</span>
      <div style="display: flex; gap: var(--size-3); flex-wrap: wrap; justify-content: space-around; width: 100%">
        <div style="display: flex; gap: var(--size-1); flex-direction: column; align-items: center; text-align: center">
          <img
            src="http://embc.number41media.com/EMCR2024/RegistrantPortal/images/evacuation_file_-_authenticated_-_eligible_selfser/u18599.svg"
            width="80"
            height="80"
          />
          <b style="font-size: 18px">Money in your Account</b>
          <span style="font-size: 16px">
            Get money directly deposited <br />
            into your account via <br />
            Interac e-Transfer.
          </span>
        </div>
        <div style="display: flex; gap: var(--size-1); flex-direction: column; align-items: center; text-align: center">
          <img
            src="http://embc.number41media.com/EMCR2024/RegistrantPortal/images/evacuation_file_-_authenticated_-_eligible_selfser/u18598.svg"
            width="80"
            height="80"
          />
          <b style="font-size: 18px">Flexibility</b>
          <span style="font-size: 16px">
            Use the funds at your <br />
            discretion for various needs <br />
            during evacuation.
          </span>
        </div>
        <div style="display: flex; gap: var(--size-1); flex-direction: column; align-items: center; text-align: center">
          <img
            src="http://embc.number41media.com/EMCR2024/RegistrantPortal/images/evacuation_file_-_authenticated_-_eligible_selfser/u18597.svg"
            width="80"
            height="80"
          />
          <b style="font-size: 18px">Skip the Queue </b>
          <span style="font-size: 16px">
            No need to wait in line or <br />
            speak to a responder for<br />
            assistance.
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
