<div class="container container-frame">
  <div class="heading-container">
    <span class="page-heading">Self Serve Supports</span>
  </div>
  <mat-horizontal-stepper class="stepper-style" [linear]="isLinear" #stepper labelPosition="bottom">
    <mat-step [stepControl]="supportDraftForm">
      <form>
        <ng-template matStepLabel>Support Details</ng-template>
        <p>Please review the following and make any necessary edits. Required fields are marked with a red asterisk.</p>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p class="card-heading">Shelter Allowance</p>
            <div>
              <label>Which people in your household require <b>Shelter Allowance</b> and for which days?</label>
            </div>

            <div stlye="display: flex; flex-direction: row; flex-wrap: wrap;">
              <table>
                <tr>
                  <th>Name</th>
                  @for (date of supportRequiredDates; track $index) {
                    <th>{{ date.format('MMM DD, yyy') }}</th>
                  }
                </tr>
                @for (person of persons; track person.id) {
                  <tr>
                    <td>{{ person.name }}</td>
                    @for (date of supportRequiredDates; track $index) {
                      <td>
                        <mat-checkbox
                          [formControl]="getDateControl(supportDraftForm.controls.shelterAllowance, person, date)"
                        ></mat-checkbox>
                      </td>
                    }
                  </tr>
                }
              </table>
              <div>TEst</div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p class="card-heading">Food *</p>
            <div>
              <label>Would you like to be provided funds for Restaurant Meals or Groceries?</label>
            </div>
            <div>
              <mat-radio-group
                class="primary-radio-group"
                [formControl]="supportDraftForm.controls.food.controls.fundsFor"
              >
                <mat-radio-button [value]="SupportSubCategory.Food_Groceries"> Groceries </mat-radio-button>
                <mat-radio-button [value]="SupportSubCategory.Food_Restaurant"> Restaurant </mat-radio-button>
              </mat-radio-group>
            </div>
            <!-- Groceries -->
            @if (supportDraftForm.controls.food.controls.fundsFor.value === SupportSubCategory.Food_Groceries) {
              <div>
                <table>
                  <tr>
                    <th>Name</th>
                    @for (date of supportRequiredDates; track $index) {
                      <th>{{ date.format('MMM DD, yyy') }}</th>
                    }
                  </tr>
                  @for (person of persons; track person.id) {
                    <tr>
                      <td>{{ person.name }}</td>
                      @for (date of supportRequiredDates; track $index) {
                        <td>
                          <mat-checkbox
                            [formControl]="
                              getDateControl(supportDraftForm.controls.food.controls.groceries, person, date)
                            "
                          ></mat-checkbox>
                        </td>
                      }
                    </tr>
                  }
                </table>
              </div>
            }
            <!-- Restaurant -->
            @if (supportDraftForm.controls.food.controls.fundsFor.value === SupportSubCategory.Food_Restaurant) {
              <label for="">Which people in your household require Restaurant Meals? </label>
              <div style="display: flex; flex-direction: column">
                @for (
                  person of supportDraftForm.controls.food.controls.restaurant.controls.persons.controls;
                  track $index
                ) {
                  <div>
                    <mat-checkbox
                      [name]="'Food_Restaurant' + person.controls.personId.value"
                      [formControl]="person.controls.isSelected"
                    ></mat-checkbox>
                    <label [for]="'Food_Restaurant' + person.controls.personId.value">{{
                      getPersonName(person.controls.personId.value)
                    }}</label>
                  </div>
                }
              </div>
              <div>
                <table>
                  <tr>
                    <th>Meal Type</th>
                    @for (date of supportRequiredDates; track $index) {
                      <th>{{ date }}</th>
                    }
                  </tr>
                  <tr>
                    <th>Breakfast</th>
                    @for (
                      date of supportDraftForm.controls.food.controls.restaurant.controls.mealTypes.controls.breakfast
                        .controls;
                      track $index
                    ) {
                      <td><mat-checkbox [formControl]="date.controls.isRequired"></mat-checkbox></td>
                    }
                  </tr>
                  <tr>
                    <th>Lunch</th>
                    @for (
                      date of supportDraftForm.controls.food.controls.restaurant.controls.mealTypes.controls.lunch
                        .controls;
                      track $index
                    ) {
                      <td><mat-checkbox [formControl]="date.controls.isRequired"></mat-checkbox></td>
                    }
                  </tr>
                  <tr>
                    <th>Dinner</th>
                    @for (
                      date of supportDraftForm.controls.food.controls.restaurant.controls.mealTypes.controls.dinner
                        .controls;
                      track $index
                    ) {
                      <td><mat-checkbox [formControl]="date.controls.isRequired"></mat-checkbox></td>
                    }
                  </tr>
                </table>
              </div>
            }
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p class="card-heading">Clothing</p>
            <div>
              <label>Which people in your household require Clothing?</label>
            </div>
            <div style="display: flex; flex-direction: column">
              @for (person of supportDraftForm.controls.clothing.controls; track $index) {
                <div>
                  <mat-checkbox [formControl]="person.controls.isSelected"></mat-checkbox>
                  {{ getPersonName(person.controls.personId.value) }}
                </div>
              }
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p class="card-heading">Incidentals</p>
            <div>
              <label>Which people in your household require Incidentals?</label>
            </div>
            <div style="display: flex; flex-direction: column">
              @for (person of supportDraftForm.controls.incidents.controls; track $index) {
                <div>
                  <mat-checkbox [formControl]="person.controls.isSelected"></mat-checkbox>
                  {{ getPersonName(person.controls.personId.value) }}
                </div>
              }
            </div>
          </mat-card-content>
        </mat-card>

        <div style="display: flex; gap: 16px">
          <button type="button" mat-button matStepperNext>Next</button>
          <button type="button" mat-button matStepperNext>Next</button>
          <button type="button" mat-button (click)="submit()">Submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="eTransferForm">
      <form [formGroup]="eTransferForm">
        <ng-template matStepLabel>e-Transfer Details</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Review and Submit
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
