<mat-card appearance="outlined">
  @if (type === 'profile') {
    <div>
      <ng-container *ngTemplateOutlet="profile"></ng-container>
    </div>
  }
  @if (type === 'need') {
    <div>
      <ng-container *ngTemplateOutlet="need"></ng-container>
    </div>
  }
  @if (type === 'both') {
    <div>
      <ng-container *ngTemplateOutlet="profile"></ng-container>
      <ng-container *ngTemplateOutlet="need"></ng-container>
      <br />
      <div class="row">
        <div class="col">
          <p>Please complete the CAPTCHA below. This helps us prevent automated registrations.</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <app-captcha-v2 (captchaResponse)="onTokenResponse($event)"></app-captcha-v2>
        </div>
      </div>
    </div>
  }

  <ng-template #profile>
    <div id="personalDetail">
      @if (showHeading) {
        <p class="review-heading">Review & Submit</p>
      }
      @if (type === 'profile' || type === 'both') {
        <mat-card-content>
          <div class="row justify-content-between header-row">
            <div class="col-md-6 col-9 card-heading">Consent to Share Registration Status</div>
            <div class="col-md-2 col-3">
              <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('restriction')">
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          </div>
          <hr />

          <div class="row info-detail">
            <div class="col-md-3">
              @if (!(formCreationService.restrictionForm$ | async)?.value.restrictedAccess) {
                Yes
              }
              @if ((formCreationService.restrictionForm$ | async)?.value.restrictedAccess) {
                No
              }
            </div>
          </div>
        </mat-card-content>
      }
      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Personal Details</div>
          <div class="col-md-2 col-3">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('personal-details')">
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-3">Last Name:</div>
          <div class="col-md-3">
            {{ (formCreationService.personalDetailsForm$ | async)?.value?.lastName }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">First Name:</div>
          <div class="col-md-3">
            {{ (formCreationService.personalDetailsForm$ | async)?.value?.firstName }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Preferred Name:</div>
          <div class="col-md-3">
            {{ (formCreationService.personalDetailsForm$ | async)?.value?.preferredName }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Initials:</div>
          <div class="col-md-3">
            {{ (formCreationService.personalDetailsForm$ | async)?.value?.initials }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Date of Birth:</div>
          <div class="col-md-3">
            {{ (formCreationService.personalDetailsForm$ | async)?.value?.dateOfBirth | customDate }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Gender:</div>
          <div class="col-md-3">
            {{ (formCreationService.personalDetailsForm$ | async)?.value?.gender }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Primary Address</div>
          <div class="col-md-2 col-3">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('address')">
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Address line 1:</div>
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.address?.addressLine1 }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Address line 2:</div>
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.address?.addressLine2 }}
          </div>
        </div>
        <div class="row info-detail">
          @if (
            (formCreationService.addressForm$ | async)?.value?.address?.country?.code === 'CAN' ||
            (formCreationService.addressForm$ | async)?.value?.address?.country?.code === 'USA'
          ) {
            <div class="col-md-3">City:</div>
          }
          @if (
            (formCreationService.addressForm$ | async)?.value?.address?.country?.code !== 'CAN' &&
            (formCreationService.addressForm$ | async)?.value?.address?.country?.code !== 'USA'
          ) {
            <div class="col-md-3">City/ Jurisdiction:</div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.isBcAddress === 'Yes') {
            <div class="col-md-3">
              {{ (formCreationService.addressForm$ | async)?.value?.address?.community?.name }}
            </div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.isBcAddress === 'No') {
            <div class="col-md-3">
              {{ (formCreationService.addressForm$ | async)?.value?.address?.community }}
            </div>
          }
        </div>
        <div class="row info-detail">
          @if ((formCreationService.addressForm$ | async)?.value?.address?.country?.code === 'CAN') {
            <div class="col-md-3">Postal Code:</div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.address?.country?.code === 'USA') {
            <div class="col-md-3">Zip Code:</div>
          }
          @if (
            (formCreationService.addressForm$ | async)?.value?.address?.country?.code !== 'CAN' &&
            (formCreationService.addressForm$ | async)?.value?.address?.country?.code !== 'USA'
          ) {
            <div class="col-md-3">Postal/ Zip Code:</div>
          }
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.address?.postalCode }}
          </div>
        </div>
        <div class="row info-detail">
          @if ((formCreationService.addressForm$ | async)?.value?.address?.country?.code === 'CAN') {
            <div class="col-md-3">Province:</div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.address?.country?.code === 'USA') {
            <div class="col-md-3">State:</div>
          }

          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.address?.stateProvince?.name }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Country:</div>
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.address?.country?.name }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Mailing Address</div>
          <div class="col-md-2 col-3">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('address')">
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Address line 1:</div>
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.addressLine1 }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Address line 2:</div>
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.addressLine2 }}
          </div>
        </div>
        <div class="row info-detail">
          @if (
            (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code === 'CAN' ||
            (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code === 'USA'
          ) {
            <div class="col-md-3">City:</div>
          }
          @if (
            (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code !== 'CAN' &&
            (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code !== 'USA'
          ) {
            <div class="col-md-3">City/ Jurisdiction:</div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.mailingAddress?.community?.name !== undefined) {
            <div class="col-md-3">
              {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.community?.name }}
            </div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.mailingAddress?.community?.name === undefined) {
            <div class="col-md-3">
              {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.community }}
            </div>
          }
        </div>
        <div class="row info-detail">
          @if ((formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code === 'CAN') {
            <div class="col-md-3">Postal Code:</div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code === 'USA') {
            <div class="col-md-3">Zip Code:</div>
          }
          @if (
            (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code !== 'CAN' &&
            (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code !== 'USA'
          ) {
            <div class="col-md-3">Postal/ Zip Code:</div>
          }
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.postalCode }}
          </div>
        </div>
        <div class="row info-detail">
          @if ((formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code === 'CAN') {
            <div class="col-md-3">Province:</div>
          }
          @if ((formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.code === 'USA') {
            <div class="col-md-3">State:</div>
          }
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.stateProvince?.name }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Country:</div>
          <div class="col-md-3">
            {{ (formCreationService.addressForm$ | async)?.value?.mailingAddress?.country?.name }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Contact Details</div>
          <div class="col-md-2 col-3">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('contact-info')">
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-1">
            @if ((formCreationService.contactDetailsForm$ | async)?.value.showContacts) {
              <span>
                <img src="/assets/images/restriction-on.svg" height="20" width="20" />
              </span>
            }
            @if (!(formCreationService.contactDetailsForm$ | async)?.value.showContacts) {
              <span>
                <img src="/assets/images/restriction-off.svg" height="20" width="20" />
              </span>
            }
          </div>
          <div class="col-md-9">
            <p>
              You have given your consent for Ministry of Emergency Management and Climate Readiness and your Local
              Emergency Program to communicate with you by email or phone regarding your emergency situation.
            </p>
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Telephone/Mobile:</div>
          <div class="col-md-3">
            {{ (formCreationService.contactDetailsForm$ | async)?.value?.phone }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Email Address:</div>
          <div class="col-md-3">
            {{ (formCreationService.contactDetailsForm$ | async)?.value?.email }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Security Questions</div>
          <div class="col-md-2 col-3">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editDetails('security-questions')">
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">
            {{ (formCreationService.securityQuestionsForm$ | async)?.value.questions.question1 }}
          </div>
          <div class="col-md-3">
            {{ (formCreationService.securityQuestionsForm$ | async)?.value.questions.answer1 }}
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3">
            {{ (formCreationService.securityQuestionsForm$ | async)?.value.questions.question2 }}
          </div>
          <div class="col-md-3">
            {{ (formCreationService.securityQuestionsForm$ | async)?.value.questions.answer2 }}
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3">
            {{ (formCreationService.securityQuestionsForm$ | async)?.value.questions.question3 }}
          </div>
          <div class="col-md-3">
            {{ (formCreationService.securityQuestionsForm$ | async)?.value.questions.answer3 }}
          </div>
        </div>
      </mat-card-content>
    </div>
  </ng-template>
  <ng-template #need>
    <div id="needsAssessment">
      @if (type === 'both') {
        <p class="review-heading">Evacuation File</p>
      }

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Location</div>
          @if (allowEdit && evacuationFileDataService.evacuationFileStatus !== EvacuationFileStatus.Active) {
            <div class="col-md-2 col-3">
              <button
                class="edit-image"
                mat-icon-button
                aria-label="Edit"
                (click)="editNeedsAssessment('evac-address')"
              >
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          }
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Evacuated From:</div>
          <div class="col-md-3">
            <p class="no-bottom-margin">
              <span
                >{{ (formCreationService.evacuatedForm$ | async)?.value?.evacuatedFromAddress?.addressLine1 }},</span
              >
              <span
                >&nbsp;{{
                  (formCreationService.evacuatedForm$ | async)?.value?.evacuatedFromAddress?.addressLine2
                }}</span
              >
            </p>
            <p>
              <span
                >{{ (formCreationService.evacuatedForm$ | async)?.value?.evacuatedFromAddress?.community?.name }},
              </span>
              <span>{{
                (formCreationService.evacuatedForm$ | async)?.value?.evacuatedFromAddress?.stateProvince?.name
              }}</span>
              <span
                [hidden]="
                  (formCreationService.evacuatedForm$ | async).value?.evacuatedFromAddress?.postalCode === '' ||
                  (formCreationService.evacuatedForm$ | async).value?.evacuatedFromAddress?.postalCode === null
                "
                >,&nbsp;</span
              >
              <span>{{ (formCreationService.evacuatedForm$ | async).value?.evacuatedFromAddress?.postalCode }}</span>
            </p>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Insurance</div>
          @if (allowEdit && evacuationFileDataService.evacuationFileStatus !== EvacuationFileStatus.Active) {
            <div class="col-md-2 col-3">
              <button
                class="edit-image"
                mat-icon-button
                aria-label="Edit"
                (click)="editNeedsAssessment(NeedsAssessmentSteps.EvacAddress)"
              >
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          }
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Insurance:</div>
          <div class="col-md-3">
            {{
              (formCreationService.evacuatedForm$ | async)?.value.insurance === 'Unknown'
                ? "I don't know"
                : (formCreationService.evacuatedForm$ | async)?.value.insurance === 'Unsure'
                  ? 'Yes, but I am unsure if I have coverage for this event.'
                  : (formCreationService.evacuatedForm$ | async)?.value.insurance === 'Yes'
                    ? 'Yes'
                    : 'No'
            }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Household Members</div>
          @if (allowEdit) {
            <div class="col-md-2 col-3">
              <button
                class="edit-image"
                mat-icon-button
                aria-label="Edit"
                (click)="editNeedsAssessment('family-information')"
              >
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          }
        </div>
        <hr />
        @for (member of (formCreationService.householdMembersForm$ | async)?.value.householdMembers; track member) {
          <div>
            @if (member.isPrimaryRegistrant !== true) {
              <div class="row info-detail">
                <div class="col-md-3">First Name:</div>
                <div class="col-md-3">{{ member.firstName }}</div>
              </div>
              <div class="row info-detail">
                <div class="col-md-3">Last Name:</div>
                <div class="col-md-3">{{ member.lastName }}</div>
              </div>
              <div class="row info-detail">
                <div class="col-md-3">Initials:</div>
                <div class="col-md-3">{{ member.initials }}</div>
              </div>
              <div class="row info-detail">
                <div class="col-md-3">Gender:</div>
                <div class="col-md-3">{{ member.gender }}</div>
              </div>
              <div class="row info-detail">
                <div class="col-md-3">Date of Birth:</div>
                <div class="col-md-3">{{ member.dateOfBirth | customDate }}</div>
              </div>
              <div class="row info-detail">
                <div class="col-md-3">Contact:</div>
                <div class="col-md-3">
                  {{ member.phone }}
                  @if (member.phone) {
                    <br />
                  }
                  {{ member.email }}
                </div>
              </div>
              <br />
            }
          </div>
        }
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Pets</div>
          @if (allowEdit) {
            <div class="col-md-2 col-3">
              <button class="edit-image" mat-icon-button aria-label="Edit" (click)="editNeedsAssessment('pets')">
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          }
        </div>
        <hr />
        @for (pet of (formCreationService.petsForm$ | async)?.value.pets; track pet) {
          <div>
            <div class="row info-detail">
              <div class="col-md-3">Pet Type:</div>
              <div class="col-md-3">{{ pet.type }}</div>
            </div>
            <div class="row info-detail">
              <div class="col-md-3">Quantity:</div>
              <div class="col-md-3">{{ pet.quantity }}</div>
            </div>
            <br />
          </div>
        }
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Needs</div>
          @if (allowEdit) {
            <div class="col-md-2 col-3">
              <button
                class="edit-image"
                mat-icon-button
                aria-label="Edit"
                (click)="editNeedsAssessment(NeedsAssessmentSteps.IdentifyNeeds)"
              >
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          }
        </div>
        <hr />
        @for (item of getNeedsIdentifiedCaptions(formCreationService.identifyNeedsForm$ | async); track item) {
          <div class="row info-detail">
            <div class="col-md-3">{{ item }}</div>
          </div>
        }
      </mat-card-content>

      <mat-card-content>
        <div class="row justify-content-between header-row">
          <div class="col-md-6 col-9 card-heading">Security Word</div>
          @if (allowEdit) {
            <div class="col-md-2 col-3">
              <button
                class="edit-image"
                mat-icon-button
                aria-label="Edit"
                (click)="editNeedsAssessment(NeedsAssessmentSteps.Secret)"
              >
                <img src="/assets/images/edit.svg" height="35" width="35" />
                <img src="/assets/images/edit_onhover.svg" height="35" width="35" />
              </button>
            </div>
          }
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-3">Security Word</div>
          <div class="col-md-3">
            {{ (formCreationService.secretForm$ | async)?.value?.secretPhrase }}
          </div>
        </div>
      </mat-card-content>
    </div>
  </ng-template>
</mat-card>
