mat-form-field {
    width: 100%;
}

.primary-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.primary-radio-button {
    margin: 5px;
}

.highlight {
    font-weight: 700;
    color: #169bd5;
}
