@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.content-container {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.evacuatedSecondary {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.349019607843137);
    line-height: 35px;
}

.evacuatedTitle {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #169BD5;
}

.button-align{
    padding: 10px 20px 0;
}

.view-details{
    width: 100%;
}


.col-md-3 {
    display: grid;
    padding-left: 30px;
}

.titleDiv {
    padding-bottom: 20px;
}

.statusSpan{ 
    font-weight: 400;
    font-size: 15px
}

.dataSpan{ 
    font-weight: 700;
    font-size: 15px;
}

.button-p {
    height: 55px;
    font-weight: normal;
    background-color: #234075;
    color: #FFFFFF ;
    float: right;
}

.button-p:hover{
    background-color: #169BD5;
}
  
.button-p:disabled  {
    background-color: #234075;
    color: #FFFFFF !important;
}

mat-icon {
    font-family: 'Material Icons' !important;
    font-size: 15px;
}

.evacFileHeader{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 118px;
    background-color: rgba(229, 229, 229, 0.690196078431373);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin:0;
    font-family: 'BC Sans', sans-serif;
    font-style: normal;
}

.backButton {
    mat-icon {
        font-size: 36px;
    }
}

.backButton:hover{
    color: #169BD5;
}

.detailsCard{
    padding: 0;
}

.evacFileSpan {
    padding: 20px;
}

.titleDetailHeader{
    padding-top: 20px;
    font-size: 36px;
    color: #234075;
    font-weight: 400;
}

.statusDetailHeader{
    display: block;
    padding-top: 40px;
}

.statusDetailHeaderElements {
    float: right;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 35px;
}

.supportReceived{
    padding: 30px 30px 100px;
}

.supportReceivedBoldSpan{
    font-weight: 700;
    line-height: 35px;
}

.supportReceivedRegSpan{
    font-weight: 400;
    line-height: 24px;
}
