<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="wizard-tab-heading"
          >Collection Notice & Authorization</span
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content-container">
      <div class="row">
        <div class="col-md-8">
          <p>
            Emergency Management BC (EMBC) will collect your personal
            information for the purpose of providing you with emergency services
            in accordance with section 26(c) of the Freedom of Information and
            Protection of Privacy Act (FoIPPA). Should you have any questions
            about the collection, use, or disclosure of personal information,
            please contact the ESS Call Centre Manager at PO Box 9201, STN PROV
            GOVT, Victoria, BC, V8W 9J1 or by phone toll free at 1-800-585-9559.
          </p>
          <br />
          <p>
            By submitting your email address, you authorize the Emergency
            Management BC to communicate with you by email about your
            registration and to invite you to provide feedback about your
            experience.
          </p>
          <p>
            By submitting this form, you confirm the information you have
            supplied is true and complete, and consent to the verification of
            information provided regarding this application, or any subsequently
            provided application.
          </p>
        </div>
        <div class="col-md-4">
          <mat-card class="tips-card">
            <div>
              <img
                class="img-align"
                src="/assets/images/tips-lightbulb.svg"
                height="63"
                width="62"
              />
              <span class="tips-heading"><b>Tip: </b>Collection Notice</span>
            </div>
            <p class="tips-info">
              Always review the Collection Notice with the registrant.
            </p>
          </mat-card>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <button class="button-p next" mat-button (click)="next()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
