<form [formGroup]="addressForm">
    <div formGroupName="address">

        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 1</mat-label>
                    <input [formControlName]="'addressLine1'" matInput placeholder="Address Line 1">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.addressLine1.invalid && addressFormControl?.address?.controls?.addressLine1.hasError('required')">
                        Address Line 1 is required</mat-error>
                   </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 2</mat-label>
                    <input [formControlName]="'addressLine2'" matInput placeholder="Address Line 2">
                  </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>City/Jurisdiction</mat-label>
                    <input [formControlName]="'jurisdiction'" matInput placeholder="City/Jurisdiction">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.jurisdiction.invalid && addressFormControl?.address?.controls?.jurisdiction.hasError('required')">
                        City/Jurisdiction is required</mat-error></mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input [formControlName]="'postalCode'" matInput placeholder="Postal Code">
                    <mat-error
                        *ngIf="addressFormControl?.address?.controls?.postalCode.invalid && addressFormControl?.address?.controls?.postalCode.hasError('required')">
                        Postal Code is required</mat-error>
                  </mat-form-field>
            </div>
        </div>
        
    </div>
    

</form>

