<div class="info-block">
    <h3 class="with-icon person">Payee information</h3>
    <p>Please complete before sending to Emergency Management Climate Readiness (EMCR).</p>

    <p><strong>{{ ContactName }}</strong></p>
    <p>{{ ContactPhone }}</p>
    <p>{{ ContactEmail }}</p>
</div>