.outage-banner {
  background-color: #f2f2f2;
  text-align: center;
}

.dynamic-text {
  color: red;
  padding: 20px 0px 10px 100px;
}
.close-image img:last-of-type {
  display: none;
}

.close-image:hover img:last-of-type {
  display: inline;
}

.close-image:hover img:first-of-type {
  display: none;
}

.close-button-style {
  float: right;
}
