@import '../../styles/styles.scss';

  .box{
    margin: 20px;
    border: 4px lightgray solid;
  }

  .attach-box {
    margin: 20px;
    border: 4px lightgray solid;
    background-color: rgba(theme-color(info), 0.1);
  }

  .header {
    background-color: rgba(theme-color(info), 0.3);
    height: 70px;
    margin-right: 1px;
    margin-left: 1px;
  }

  .nestedHeader {
    background-color: rgba(theme-color(info), 0.1);
    height: 40px;
    padding: 10px;
    margin-left: 1px;
    margin-right: 1px;
  }

  p{
    margin-bottom: 0px !important;
  }

  .total {
    padding: 10px;
    background-color: rgba(theme-color(info), 0.3);
    height: 50px;
    margin-right: 1px;
    margin-left: 1px;
  }