<div class="row">
    <div class="col">
        <h1>Evacuee Registration & Assistance (ERA)</h1>
        <p style="font-size: 28px;">Supplier Invoice Submission</p>
        <hr>
        <div>
            <p>Please read through this summary to make sure all your information is correct before submitting.</p>
            <p style="font-weight: bold;">Please print this page for your records.</p>

            <div class="formHeading">
                <h3 >Supplier Information</h3>
            </div>
            <div>
                <p><b>Supplier Information:</b></p>
                <p>{{supplier?.supplierLegalName}}</p>
                <p>{{supplier?.supplierName}}</p>
                <p>{{supplier?.location}}</p>
                <p>GST#:{{supplier?.gstNumber}}</p>
                <br>
                <p><b>Supplier Address:</b></p>
                <p>{{supplier?.address?.address1}}&nbsp;{{supplier?.address?.address2}}</p>
                <p>{{supplier?.address?.city}}</p>
                <p>{{supplier?.address?.province}}</p>
                <p>{{supplier?.address?.postalCode}}</p>
                <p>{{supplier?.address?.country}}</p>
                <br>
                <p><b>Contact person:</b></p>
                <p>{{supplier?.contactPerson?.firstName}}&nbsp;{{supplier?.contactPerson?.lastName}} </p>
                <p>{{supplier?.contactPerson?.email}}</p>
                <p>{{supplier?.contactPerson?.phone}}</p>
                <p>{{supplier?.contactPerson?.fax}}</p>
            </div>
            <div class="formHeading">
                <h3 *ngIf="supplierSubmissionType === 'I'">Invoice Submitted</h3>
                <h3 *ngIf="supplierSubmissionType === 'R'">Receipt Submitted</h3>
            </div>
            <div>
                        test101
            </div>
            <div class="formHeading">
                <h3 >Attachments</h3>
            </div>
            <div>
                 test201
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary">Go back & Edit</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </div>
</div>