name: ci-suppliers-portal-ui

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths:
      - 'suppliers/src/UI'
      - '.github/workflows/ci-suppliers-portal-ui.yml'

env:
  IMAGE_NAME: suppliers-portal-ui
  IMAGE_ID: ${{ secrets.OKD_DockerRegistry }}/${{ secrets.OKD_DockerRepository }}/suppliers-portal-ui

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Log into registry
        run: echo "${{ secrets.OKD_Password }}" | docker login ${{ secrets.OKD_DockerRegistry }} -u ${{ secrets.OKD_UserName }} --password-stdin

      - name: Pull image
        run: docker pull $IMAGE_ID || true

      - name: Build image
        working-directory: ./suppliers/src/UI
        run: docker build . --file Dockerfile --tag $IMAGE_NAME --cache-from=$IMAGE_ID
