name: ci-suppliers-portal-api

on:
  pull_request:
    types: [assigned, synchronize]
    paths: 
      - 'suppliers/src/API'
      - '.github/workflows/ci-suppliers-portal-api.yml'

env:
  IMAGE_NAME: suppliers-portal-api
  IMAGE_ID: ${{ secrets.OKD_DockerRegistry }}/${{ secrets.OKD_DockerRepository }}/suppliers-portal-api

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Log into registry
        run: echo "${{ secrets.OKD_Password }}" | docker login ${{ secrets.OKD_DockerRegistry }} -u ${{ secrets.OKD_UserName }} --password-stdin

      - name: Pull image
        run: docker pull $IMAGE_ID || true

      - name: Build image
        working-directory: ./suppliers/src/API
        run: docker build . --file Dockerfile --tag $IMAGE_NAME --cache-from=$IMAGE_ID
