<div class="row row-padding">
  <div class="col-md-12 heading">Send BC Services Card Invitation</div>
</div>

@if (profileData !== null && profileData !== '' && profileData !== undefined && hideForm) {
  <div>
    <div class="row row-padding">
      <div class="col-md-12">
        <p>Send initation to evacuee submitted email address:</p>
        <p class="email-id bold">{{ profileData }}</p>
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-md-12">
        <p>
          <a class="email-link" (click)="openForm()">Send to a different email address</a>
        </p>
      </div>
    </div>
  </div>
} @else {
  <ng-container *ngTemplateOutlet="emailForm"></ng-container>
}

<div class="row row-padding">
  @if (showError) {
    <div class="col-md-12 field-error">
      <span> Please provide the email address and confirm email address before attempting to send the email</span>
    </div>
  }
</div>

<div class="row row-padding">
  <div class="col-md-6">
    <button class="button-s button-width" mat-button (click)="close()">Cancel</button>
  </div>
  <div class="col-md-6">
    <button class="button-p button-width" mat-button (click)="send()">Send</button>
  </div>
</div>

<ng-template #emailForm>
  <form [formGroup]="emailFormGroup">
    <div class="row">
      <div class="col-md-12">
        <p>Please provide an <strong>email address</strong></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label class="requiredField">Email Address</mat-label>
          <input formControlName="email" matInput placeholder="joe@myemail.com" />
          @if (emailFormControl?.email.invalid && emailFormControl?.email.hasError('whitespaceError')) {
            <mat-error> Email is required</mat-error>
          }
          @if (emailFormControl.email.invalid && emailFormControl.email.hasError('email')) {
            <mat-error>Invalid email</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    @if (showConfirm) {
      <div>
        <div class="row">
          <div class="col-md-12">
            <p><strong>Confirm email</strong> address</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label class="requiredField">Confirm Email Address</mat-label>
              <input
                formControlName="confirmEmail"
                matInput
                placeholder="joe@myemail.com"
                [errorStateMatcher]="emailMatcher"
              />
              @if (
                emailFormControl?.confirmEmail.invalid && emailFormControl?.confirmEmail.hasError('whitespaceError')
              ) {
                <mat-error> Confirm email is required</mat-error>
              }
              @if (emailFormControl?.confirmEmail.invalid && emailFormControl?.confirmEmail.hasError('email')) {
                <mat-error>Invalid email</mat-error>
              }
              @if (emailFormControl?.confirmEmail?.parent?.hasError('emailMatch')) {
                <mat-error> Email address mismatch</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
    }
  </form>
</ng-template>
