<mat-card>
    <div class="filter-margin">
        <app-search-filter [filtersToLoad]='filtersToLoad' (filterEvent)="filter($event)"></app-search-filter>
    </div>

    <!-- <div class="row data-margin">
        <div class="col-md-12">
            <button class="button-s add-button" mat-stroked-button (click)="addTeamMember()">Add Team Member</button>
        </div>
    </div> -->

    <div class="data-margin">
        <app-data-table [incomingData]='teamMembers' [displayedColumns]='displayedColumns' [filterTerm]="filterTerm"
            [filterPredicate]="filterPredicate" [allowClickableRows]="true" (clickedRow)="openMemberDetails($event)"
            (toggleActive)="activateTeamMember($event)" (toggleInactive)="deactivateTeamMember($event)">
        </app-data-table>
    </div>
</mat-card>